<%@ Page language="c#" Inherits="Scandic.Scanweb.BookingEngine.Web.AjaxServer" Codebehind="AjaxServer.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Scandic Ajax Page</title>
    </head>
    <body>
    </body>
</html>
