<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AvalibilityCalendarItem.ascx.cs" Inherits="Scandic.Scanweb.BookingEngine.Web.Templates.Booking.Units.AvalibilityCalendarItem" %>



			<%--<div class="hd ratesSprite"></div>--%>
			<div class="cnt" runat="server" id ="divAvailabilityCalenderItem" >
				<p><span id="spnArrivalDate" class ="arrivalDate"><%= ArrivalDate %></span> - <span id="spnDepartureDate" ><%= DepartureDate %></span></p>
				<hr />
				<strong><span id="spnMinimumBaseRate" class ="minimumRate" ></span></strong>
			</div>
			<%--<div class="ft ratesSprite"></div>--%>
			<asp:HiddenField runat="server" ID="hdnLiPositionIndexInList" />

