<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HotelNameContainer.ascx.cs" Inherits="Scandic.Scanweb.BookingEngine.Web.Templates.Booking.Units.HotelNameContainer" %>

<h2 class="fltLft"><%= SELECTED_HOTEL_NAME %></h2>

