<%@ Control Language="C#" AutoEventWireup="true" Codebehind="RateDescription.ascx.cs"
    Inherits="Scandic.Scanweb.BookingEngine.Web.Templates.Booking.Units.RateDescription" %>
  <%--Naresh - AMS Patch7 - artf1253214 : artf1236765: Scanweb - Text in Your Stay overlaps--%>
<div id="rateInfo" runat="server">
       <span id="rateHeading" runat="server" ></span>
        <h4 id="h4Heading" runat="server">
        </h4>
        <div class="ourRatesDesc">
      <asp:Literal ID="aboutRateDesc" runat="server">
    </asp:Literal></div>
</div>
