<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RoomRateRowContainer.ascx.cs" Inherits="Scandic.Scanweb.BookingEngine.Web.Templates.Booking.Units.RoomRateRowContainer" %>
<!-- Room Details -->

<!-- /Room Details -->

<!-- Room Type Description -->

<!-- /Room Type Description -->