
table {font-size: 1em; border-collapse: collapse;}
td{border: 0;}
img {border: 0;}
p {margin: 0; margin-bottom: 0.9em;}
hr {border-top: solid 1px #ccc;height: 1px;border-bottom: 0;background: none;}
ul {margin-top: 0;}

input, textarea {font-family: Verdana, Arial, Helvetica, Sans-Serif;font-size: 1em;border: solid 1px #9D9996;}
textarea {overflow: auto;}
.clear {clear: both;}
.hidden {display: none;}
.introduction {font-weight: bold;}
.red {color: Red;}
dt{font-weight: bold;margin-top: 4px;}
dd{margin: 0;}
/*************************/
/* MASTERPAGEDEFAULT     */
/*************************/








a {color: #646464;}
a.button
{
	text-decoration: none;
	padding: 0.2em;
	color: #41403E;
	background-color: #CCCCCC;
	border: solid 1px #AAAAAA;
}

#Logotype
{
	float: left;
	margin: 27px 0 0 21px;
}
#Functions
{
	float: right;
	margin: 0;
	padding: 0;
	background-color: White;
	list-style-type: none;
}
#Functions li
{
	float: left;
	background: url(images/FunctionsBack.gif) repeat-x;
	padding: 2px 4px 2px 4px;
	margin-left: 2px;
}
#Functions input
{
	margin: -1px;
	padding: 0;
	
}
#Languages
{
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: White;
}
#Languages li
{
	padding: 4px 4px 3px 4px;
	display: block;
	float: left;
	background: url(images/FunctionsBack.gif) repeat-x;
	margin-left: 2px;
}
#Languages li a
{
	text-decoration: none;
}
#Languages li a:hover
{
	text-decoration: underline;
}
a.printButton
{
	display: block;
	background-image: url(images/print.gif);
	width: 16px;
	height: 16px;
	cursor: pointer;
}
a.loginButton
{
	display: block;
	background-image: url(images/lock.gif);
	width: 16px;
	height: 16px;
}
a.rssButton
{
	display: block;
	background-image: url(images/rss.gif);
	width: 16px;
	height: 16px;
}
a.iconPrint
{
	background-image: url(images/IconPrint.gif);
}
a.iconPrint:hover
{
	background-image: url(images/IconPrintHover.gif);
}
a.iconContact
{
	background-image: url(images/IconContact.gif);
}
a.iconContact:hover
{
	background-image: url(images/IconContactHover.gif);
}
a.iconSiteMap
{
	background-image: url(images/iconSiteMap.gif);
}
a.iconSiteMap:hover
{
	background-image: url(images/iconSiteMapHover.gif);
}

#QuickSearchArea
{
	float: right;
	margin: 4px 5px 0 0;
	padding: 3px 0 3px 15px;
	background: url(images/QuickSearchLeftBorder.gif) no-repeat center left; 
}
input.quickSearchField
{
	border-top: solid 1px #9D9A95;
	border-right: solid 1px #D0D0CE;
	border-bottom: solid 1px #D0D0CE;
	border-left: solid 1px #9D9A95;
	float: left;
	padding: 2px 2px 1px 2px;
	color: #A8A8A8;
	width: 152px;
}
a.quickSearchLink
{
	background: #EDEBEC url(images/search.gif) no-repeat top left;
	width: 22px;
	height: 18px;
	display: block;
	float: left;
}


/*
#StartPage #MainBodyArea .pageList
{
	padding: 0;
}
#StartPage #MainBodyArea h1
{
	font-family: Georgia, "Times New Roman", Serif;
	font-size: 180%;
}
#StartPage #MainBodyArea p
{
	line-height: 130%;
}
#StartPage #ListingArea
{
	float: left;
	clear: left;
	border-bottom: solid 1px #A6A6A0;
	margin-top: 1em;
	/*background: url(images/ListingsBack.gif) repeat-y top center;*/
/*	background-color: Red;
	padding-bottom: 2em;
	width: 576px;
}
#StartPage #ListingArea h2
{
	font-size: 1.2em;
	margin: 1px 1px 1em 2px;
	padding-left: 7px;
	color: #F8F8F7;
	background-color: #92928C;
}
#StartPage #NewsArea
{
	float: left;
	width: 50%;
	background-color: Red;
}
#StartPage #NewsArea li
{
	float: left;
	margin: 0.5em 0 0.5em 0;
	width: 90%;
}

#StartPage #NewsArea img
{
	float: left;
	margin-right: 0.5em;
}
#StartPage #NewsArea h3 a
{
	color: #006666;
	text-decoration: none;
}
#StartPage #NewsArea .seeMore a
{
	clear: left;
	/*background: url(images/SeeMoreArrow.gif) no-repeat 0% 80%;*/
/*	background-color: Maroon;
	padding-left: 15px;
	margin: 1em 0 0 1em;
}
#StartPage #ArticlesArea
{
	float: left;
	width: 50%;
}
#StartPage #ArticlesArea h2
{
	font-size: 1.2em;
	margin: 1px 1px 1em 2px;
	padding: 6px 0 6px 7px;
	color: #F8F8F7;
	background-color: #92928C;
}
#StartPage #ArticlesArea ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#StartPage #ArticlesArea ul li
{
	margin-left: 10px;
}
#StartPage #ArticlesArea ul li h3
{
	display: inline;
	margin-top: 2px;
}
#StartPage #DocumentsArea
{
	float: left;
	width: 50%;
	margin-top: 20px;
}
#StartPage #DocumentsArea h2
{
	font-size: 1.2em;
	margin: 1px 1px 1em 2px;
	padding: 6px 0 6px 7px;
	color: #F8F8F7;
	background-color: #92928C;
}
#StartPage #DocumentsArea ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#StartPage #DocumentsArea ul li
{
	clear: both;
	margin-left: 10px;
}
#StartPage #DocumentsArea ul li h3
{
	float: left;
	margin-top: 2px;
}
#StartPage #DocumentsArea ul li .downloadArea
{
	clear: both;
	float: none;
	text-align: left;
	margin: 0;
}
*/

/*************************/
/* FORMS                 */
/*************************/
.xForm
{
	margin: 1.5em 0 0 0;
}
.xForm h2
{
	padding: 6px 0 6px 0;
	margin: 0;
	color: #666;
	font-size: 130%;
}

.xForm .heading
{
	display: block;
	font-weight: bold;
	padding: 0 0 0.4em 0;
	width: 160px;
}
.xForm #id_matrix
{
	margin: 0;
	padding: 0;
	border: 0;
}
.xForm #id_matrix td
{
	border:0;
	margin: 0;
	padding: 0;
}

span.xformvalidator
{
    display: block;
    color: Red;
    padding-bottom: 1em;
    font-size: 0.9em;
}

#WebPollArea .xForm fieldset
{
	width: 130px;
	border: 0;
	padding-bottom: 10px;
}
#WebPollArea .xForm input
{
	border: 0;
}
#WebPollArea .xForm td
{
	width: 130px;
	padding: 0;
	margin: 0;
}


.thankyoumessage
{
	padding: 6px 0 6px 0;
	margin: 0;
	color: #666;
	font-size: 130%;
}
/*************************/
/* SEARCHAREA            */
/*************************/
#SearchArea
{
	padding: 20px;
	border-top: solid 1px #A6A6A0;
}
#SearchArea .searchInput
{
	width: 25em;
}
#SearchArea .searchLink
{
	text-decoration: none;
}
#SearchArea #AdvancedArea input
{
	border: 0;
}
/*************************/
/* RSSAREA               */
/*************************/
#RssReaderArea ul
{
	list-style-image: url(images/RssArrow.gif);
	margin: 20px 0 0 20px;
	padding: 0;
}
#RssReaderArea ul li a
{
	display: block;
}
/*************************/
/* SITEMAP               */
/*************************/
#SiteMap ul
{
	list-style-image: url(images/Document.gif);
	margin: 0 0 0 1em;
	padding: 0 0 0 0.5em;
}
#SiteMap a
{
	text-decoration: none;
}
#SiteMap a:hover
{
	text-decoration: underline;
}
/*************************/
/* DOCUMENTS             */
/*************************/
.docImage
{
	float: left;
	margin-right: 5px;
}
#DocumentListArea ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#DocumentListArea ul li
{
	clear: both;
}
.downloadArea
{
	float: right;
	margin-top: 10px;
}
.downloadArea span
{
	float: left;
	margin-top: 2px;
}
/*************************/
/* SUBSCRIPTION          */
/*************************/
.subscriptionArea
{
	margin-top: 2em;
}
.subscriptionArea label.topLabels
{
	float: left;
	display: block;
	width: 150px;
	font-weight: bold;
	font-size: 0.9em;
}
.subscriptionArea input.email
{
	width: 150px;
	margin-bottom: 5px;
	border: 1px solid #9D9996;
}
.subscriptionArea select
{
	width: 153px;
	border: solid 1px #9D9996;
	margin-bottom: 5px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 1em;
}
.subscriptionArea label
{
	font-weight: bold;
	font-size: 0.9em;
	padding: 0;
	margin: 0;
}
.subscriptionArea input
{
	padding: 0;
	margin: 0;
}
.subscriptionArea a.subscribeButton
{
	text-decoration: none;
	padding: 0.2em;
	color: #41403E;
	background-color: #CCCCCC;
	border: solid 1px #AAAAAA;
	float: right;
	position: relative;
	top: 30px;
	right: 73px;
}
.subscriptionArea input
{
	border: 0;
}
/*************************/
/* REGISTRATION/LOGIN    */
/*************************/
table.loginArea 
{
	width: 95%;
}
table.loginArea td
{
	text-align: center;
	float: left;
	width: 100%;
	padding-top: 50px;
}
.loginArea fieldset
{
	border: solid 1px #A6A6A0;
	margin: 0 auto 0 auto;
	padding: 20px 10px 10px 10px;
	width: 210px;
}
.loginArea fieldset label
{
	clear: left;
	float: left;
	display: block;
	width: 65px;
	text-align: right;
	padding-right: 5px;
}
.loginArea fieldset input
{
	float: left;
	margin-bottom: 10px;
}
.loginArea fieldset #ButtonArea
{
	clear: both;
	width: 204px;
}
.loginArea fieldset .loginButton
{
	float: right;
}
.loginArea fieldset #MessageArea
{
	clear: both;
	text-align: left;
}
#CurrentUserStatusArea
{
	font-weight: bold;
	margin-top: 50px;
}
table.changePassArea
{
	width: 95%;
}
table.changePassArea td
{
	text-align: left;
	float: left;
	width: 100%;
	padding-top: 50px;
}
.userSettings input
{
	display: block;
}
.changePassArea fieldset
{
	border: 0;
}
.changePassArea fieldset label
{
	clear: left;
	float: left;
	display: block;
	width: 120px;
	text-align: right;
	padding-right: 5px;
}
.changePassArea fieldset input
{
	float: left;
	margin-bottom: 10px;
}
.changePassArea fieldset #ButtonArea
{
	clear: both;
	width: 258px;
}
.changePassArea fieldset #ButtonArea .changePassButton
{
	float: right;
}
table.forgotPassArea
{
	width: 95%;
}
table.forgotPassArea td
{
	text-align: center;
	float: left;
	width: 100%;
	padding-top: 50px;
}
.forgotPassArea fieldset
{
	border: solid 1px #A6A6A0;
	margin: 0 auto 0 auto;
	padding: 10px 10px 10px 10px;
	width: 260px;
}
table.registerArea 
{
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #A6A6A0;
	border-bottom: 1px solid #A6A6A0;
}
table.registerArea td
{
}
.registerArea fieldset
{
	border: 0;
	margin: 0;
	padding: 20px 10px 10px 10px;
}
.registerArea fieldset label
{
	clear: left;
	float: left;
	display: block;
	width: 100px;
	text-align: right;
	padding-right: 5px;
}
.registerArea fieldset input
{
	float: left;
	margin-bottom: 10px;
}
.registerArea fieldset #MessageArea
{
	clear: both;
	text-align: left;
}
.registerArea #confirmationMessage
{
	margin-top: 20px;
	margin-bottom: 20px;
}

/*************************/
/* TOPIMAGECORNERS       */
/*************************/
/*************************/
/* SP_BOX                */
/*************************/
/*
#boxcontainer
{
    float: left;
    width: 100%;
}
.toprow
{
    float: left;
    width: 100%;
}
.toprowleft
{
    float: left;
    width: 8px;
    height: 27px;
    background: url(Images/links_list_home_left.gif);
}
.toprowmiddle
{
    float: left;
    width: 461px;
    height: 27px;
    background-color: #666666;
    color: #ffffff;
}
.toprowmiddle a
{
    text-decoration: none;
}
.toprowmiddleleft
{
    float: left;
    width: 40%;
}
.toprowmiddleright
{
    float: right;
    width: 40%;
    text-align: right;
}
.toprowright
{
    float: right;
    width: 8px;
    height: 27px;
    background: url(Images/links_list_home_right.gif);
}
*/

