/**********************/
/* BOX COMMON         */
/**********************/

.BoxContainer div.smallPromoBoxLight{
	/*border:1px solid #C1C1C1;*/
	width:224px;
	margin-left:7px;
	/*overflow:hidden;*/
	margin-bottom:25px;
	/*padding-bottom:10px;*/
	*margin-top:20px;
	clear:left;
}
.MainBodyText{padding-bottom:11px;}
.MainBodyText p{padding:0;margin:0;}
.BoxContainer .BoxLarge div.smallPBoxStartImage {
	height:125px;
	overflow:hidden;
	width:349px;
}

.BoxContainer div.smallPBoxStartImage{
	height:125px;
	overflow:hidden;
	width:224px;
}

.BoxContainer div.smallPBoxText{
	padding:10px 10px 10px 10px;
}
.BoxContent
{
	padding:10px 10px 0px;
}
.BoxTitle { /* added as part of CR2 of release 1.3 */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	padding: 0 0 3px;
}
.BoxTextHeading
{
	padding-left:10px;
	padding-bottom:5px;
	font-size: 1.3em;
}

.BoxSeparator
{
	padding:10px 10px 10px 10px;
	background-color: #f0eeee;
	display:none;
}

.BoxSeparatorImage
{
	background: url(/Templates/Scanweb/Styles/Default/Images/horizontal_rule.gif);
	background-repeat: repeat-x;
	height: 1px;
	font-size:0.1em;
}

.BoxTextHeading
{
	background-color:#cccccc;
	background-position: left center;
	background-repeat: no-repeat;
}

.BoxDarkGreyBackground
{
	background-color:#cccccc;
}

.BoxBottom
{
	padding:15px 0 10px 10px;
}

 
/* Box Generellt END */


/*  ---BoxImageSmall--*/
.BoxSmall
{
	width: 222px;
	overflow: hidden;
	background-color: #f0eeee;
}

.BoxSmall .BoxContent
{
	/*height:115px;
	overflow:hidden;*/
	padding-top:0px;
}

.BoxSmall .BoxImageHeading
{
	  width:222px;
	  height:60px;
	  overflow:hidden;
	  font-size:0;
	  position:relative;
	  top:-6px;
	  z-index:1;

}

.BoxSmall .BoxEmptyHeading
{
	background-image : url(/Templates/Scanweb/Styles/Default/Images/Rounded%20Corners/RoundedCornersTop222.gif);
  	background-repeat:no-repeat;
	
}

.BoxSmall .BoxBottom
{
    background-image : url(/Templates/Scanweb/Styles/Default/Images/Rounded%20Corners/RoundedCornersBottom222.gif);
    background-color: #f0eeee;
	height: 26px;
	line-height: 1.5em;
	overflow:hidden;
}

.BoxSmall .BoxImageCorners
{
   background-image : url(/Templates/Scanweb/Styles/Default/Images/Rounded%20Corners/RoundedCornersTop222.gif);
   height:6px;
   line-height:1px;
   width:222px;
   font-size:0;
   position:relative;
   z-index:2;
}

.BoxSmall .BoxSeparator
{
	display:none;
}

.BoxSmall .BoxBookingLink
{
	display:none;
}
/*---BoxImageSmall END --- */


/* BoxImageMedium START*/
.BoxMedium
{
	/*border:1px solid #C1C1C1;*/
	overflow:hidden;
	width:226px;
	margin-left:7px;
	*margin-left: 20px;
	/*margin-bottom:25px;
	padding-bottom:10px;*/
}
#SecondaryBodyArea div.AlertYellow{margin-bottom: 18px;}

.BoxTextHeading
{
	background-color:#cccccc;
}

.BoxMedium .BoxImageHeading
{
	height:125px;
	overflow:hidden;
	width:224px;
}

.BoxMedium .BoxEmptyHeading
{
	 background-image : url(/Templates/Scanweb/Styles/Default/Images/Rounded%20Corners/RoundedCornersTop226.gif);
 	 background-repeat:no-repeat;
	
}

.BoxMedium .BoxBottom
{
	background:none;
	overflow:hidden;
}

.BoxMedium .BoxImageCorners
{
   background-image : url(/Templates/Scanweb/Styles/Default/Images/Rounded%20Corners/RoundedCornersTop226.gif);
   height:6px;
   line-height:1px;
   width:226px;
   font-size:0;
   position:relative;
   z-index:2;
   display:none;
}

/* BoxImageMedium End */

/* BoxImageLarge START */

.BoxLarge
{
	/*width: 347px;*/
	width:349px;
	overflow: hidden;
	padding-bottom:10px;
	margin-left:3px;
}


#StageArea #SecondaryBodyArea .RightColumnShiftUp .BoxLarge, #StageArea #SecondaryBodyArea .RightColumn .BoxLarge{
	/*margin-left:-1px;*/
	margin-left:0px;
}
.InfoBox{
	margin-bottom:25px;
}

.BoxLarge .BoxImageHeading
{
	  width:347px;
	  overflow:hidden;
	  font-size:0;
	  height:125px;
	  text-align:right;
	  background-color:#EBEBEB;	  
}


.BoxLarge .BoxEmptyHeading
{
	background-image : url(/Templates/Scanweb/Styles/Default/Images/Rounded%20Corners/RoundedCornersTop349.gif);
  	background-repeat:no-repeat;
	
}


.BoxLarge .BoxBottom
{
	/*background-image : url(/Templates/Scanweb/Styles/Default/Images/Rounded%20Corners/RoundedCornersBottom349.gif);
   	background-color: #f0eeee;*/
}

.BoxLarge .BoxImageCorners
{
   background-image : url(/Templates/Scanweb/Styles/Default/Images/Rounded%20Corners/RoundedCornersTop349.gif);
   height:6px;
   line-height:1px;
   width:349px;
   font-size:0;
   position:relative;
   z-index:2;
   display:none;
}

/* BoxImageLarge END */

/* BoxStartPage Start */
.BoxStartPage
{
	display:inline;
	width: 222px;
	float: left;
	margin-left:10px;
	margin-bottom:10px;
	margin-top:0px;
	background-color: #f0eeee;
}

.BoxStartPage .BoxImageHeading
{
	  width:222px;
	  overflow:hidden;
	  font-size:0;
	  position:relative;
	  top:-6px;
	  z-index:1;

}

.BoxStartPage .BoxEmptyHeading
{
	background-image : url(/Templates/Scanweb/Styles/Default/Images/Rounded%20Corners/RoundedCornersTop222.gif);
 	background-repeat:no-repeat;
	
}

.BoxStartPage .BoxBottom
{
     background-image : url(/Templates/Scanweb/Styles/Default/Images/Rounded%20Corners/RoundedCornersBottom222.gif);
     background-color: #f0eeee;
}

.BoxStartPage .BoxImageCorners
{
   background-image : url(/Templates/Scanweb/Styles/Default/Images/Rounded%20Corners/RoundedCornersTop222.gif);
   height:6px;
   line-height:1px;
   width:222px;
   font-size:0;
   position:relative;
   z-index:2;
}
/* BoxStartPage End */


/* Alert Boxes Start */
.boxColor strong{color:#666;font-size:14px;}
.AlertYellow .boxColor,.AlertGrey .boxColor,.AlertRed .boxColor{padding:10px;-moz-border-radius:5px;border-radius:5px;}
.AlertYellow .boxColor,.AlertRed .boxColor{background:#deeff7;border:1px solid #cedfde;}
.AlertGrey .boxColor{background:#F4F4F4;border:1px solid #ccc;}
.AlertYellow .BoxTextHeading,.AlertRed .BoxTextHeading
{
	background-image: url(/Templates/Scanweb/Styles/Default/Images/Icons/alert_yellow.gif);
	background-position: left top;
	background-color:#feea4d;
	padding-left:35px;
	color:Black;
}

.AlertYellow .smallPBoxStartImage, .AlertGrey .smallPBoxStartImage, .AlertGrey .priceRate, .AlertYellow .priceRate{
	display:none;
}

.AlertYellow .smallPBoxText, .AlertGrey .smallPBoxText{
	padding:0!important;
}

.AlertYellow .smallPBoxText div,
.AlertGrey .smallPBoxText div{
	padding:10px 10px 0 10px;
}
.AlertYellow p strong{font-size: 11px !important;}
/*
.AlertYellow  .smallPBoxText h2{
	background-image: url(/Templates/Scanweb/Styles/Default/Images/Icons/alert_yellow.gif);
	background-position: left 5px;
	background-color:#feea4d;
	background-repeat:no-repeat;
	padding:2px 0 2px 35px;
	color:Black;
	margin:0;
}
	
.AlertGrey  .smallPBoxText h2{
	background-image:url(/Templates/Scanweb/Styles/Default/Images/Icons/alert_grey.gif);
	background-position: left 5px;
	background-color:#ccc;
	background-repeat:no-repeat;
	padding:2px 0 2px 35px;
	color:Black;
	margin:0;
}
.AlertYellow .BoxImageCorners
{
	background-color:#feea4d;
}

.AlertGrey .BoxTextHeading
{
	background-image:url(/Templates/Scanweb/Styles/Default/Images/Icons/alert_grey.gif);
	background-position: left top;
	padding-left:35px;
}

.AlertGrey .BoxImageCorners
{
	background-color:#cccccc;
}

/* Alert Boxes End */

/*******************************/
/* ALTERNATIVE BOOKING BOXES   */
/*******************************/
.AlternativeBoxContent
{
	border: solid 2px #666666;
	padding-left:10px;
	padding-right:10px;
	background-color:white;
}

.AlternativeBookingBoxSmall
{
	width:226px;
	margin-left:8px;
	margin-bottom:20px;
}

.AlternativeBoxTop, .AlternativeBoxBottom
{
	font-size:0.1em;
}
.AlternativeBookingBoxSmall .AlternativeBoxTop
{
	background-image:url(/Templates/Scanweb/Styles/Default/Images/bookingmodule_top_226.gif);
	height:9px;
	display:none;
}

.AlternativeBookingBoxSmall .AlternativeBoxBottom
{
	background-image:url(/Templates/Scanweb/Styles/Default/Images/bookingmodule_bottom_226.gif);
	height:9px;
	display:none;
}

.AlternativeBookingBoxMedium
{
	width:349px;
	margin-bottom:20px;
}
.AlternativeBookingBoxMedium .AlternativeBoxTop
{
	background-image:url(/Templates/Scanweb/Styles/Default/Images/bookingmodule_top_349.gif);
	height:9px;
	display:none;
}

.AlternativeBookingBoxMedium .AlternativeBoxBottom
{
	background-image:url(/Templates/Scanweb/Styles/Default/Images/bookingmodule_bottom_349.gif);
	height:9px;
	display:none;
}

.AlternativeBookingBoxLarge
{
	width:472px;
	margin-left:8px;
	margin-bottom:20px;
}
.AlternativeBookingBoxLarge .AlternativeBoxTop
{
	background-image:url(/Templates/Scanweb/Styles/Default/Images/bookingmodule_top_472.gif);
	height:9px;
	display:none;
}

.AlternativeBookingBoxLarge .AlternativeBoxBottom
{
	background-image:url(/Templates/Scanweb/Styles/Default/Images/bookingmodule_bottom_472.gif);
	height:9px;
	display:none;
}


/*****************************/
/*PROMO BOX MAIN OFFER BIG*/
/******************************/

#pboxOfferBig{
	height:271px;
	margin-bottom:25px;
	overflow:hidden;
	position:relative;
	width:718px;
	float:left;
	position:relative;
	cursor:pointer;
	border: 1px solid #fff;
	padding-bottom: 10px;
}

#pboxOfferBig img.pBoxMainImageBig{
	float:left;
	position:relative;
	z-index:-1;
	height:265px;
	width:718px;
}

#pboxOfferBig div.pboxStoolImgBig{
	margin:20px 0 20px 20px;
	width:300px;	
	height:38px;
	overflow:hidden
}
#pboxOfferBig div.pboxTextBig{
	padding:0 0 0 20px;
	width:300px;
	height:193px;
	overflow:hidden;
}	

#pboxOfferBig div.pboxTextBig p{
	margin-bottom:20px;
	margin-top:0;
	font-size:14px;
	color:#666;
	height:100px;
	overflow:hidden;
}

#pboxOfferBig div.pboxTextBig div.priceRate{
	font-size:26px;
	margin-bottom:5px;
}

#pboxOfferBig div.pboxTextBig div.bottomLinks {
	padding:2px 0 0 0;	
	float:left;
	line-height:1.3em;
	width:100%;
}

#pboxOfferBig div.pboxTextBig div.bottomLinks a{
	color:#006699;
	/*background-position:-3px -2px;*/
	display:block;
	background-repeat:no-repeat;
	float:left;
	padding-left:12px
}
.mainOfferBox{padding: 10px 0;}