
/*************************/
/*    HotelLocation      */
/*************************/



/*************************/
/*		Framework	     */
/*************************/

#LeftMainRegion
{
	float: left;
	width: 226px;

}

#RightMainRegion
{
	float: left;
}