/* IE7 */

/* Get rid of the margin, padding and bullets in the unordered lists */
#TopMenu, #TopMenu ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	/*font-size: 14pt;*/
	font-size: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
}


/* Set up the link size, color and borders */
#TopMenu a, #TopMenu a:visited
{
	display: block;
	color: #666666;
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 15px;
}

#TopMenu a:hover
{
	text-decoration:none;
	
}

#TopMenu
{
	width:1004px;
	float:left;
}

/* Set up the list items */
#TopMenu li
{
	float: left;
	border-right:1px solid #DFDAD7;
	
	
}

/* For Non-IE browsers and IE7 */
#TopMenu li:hover
{
	position: relative;
}
/* Make the hovered list color persist */
#TopMenu li:hover > a
{
	 background: #87b33a;
	 color: #fff;	
	 background-image:url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsWhiteBlack.gif);
	 background-repeat:no-repeat;
	 background-position:3px 2px ; 
	
}


/* Set up the sublevel lists with a position absolute for flyouts and overrun padding. The transparent gif is for IE to work */
#TopMenu li ul
{
	display: none;
	background-color: #FFFFFF;
}
/* For Non-IE and IE7 make the sublevels visible on list hover. This is all it needs */
#TopMenu li:hover > ul
{
	display: block;
	position: absolute;
	/*background: transparent url(/Templates/Scanweb/Styles/Default/Images/navigationBG.png) no-repeat left bottom;*/
	width: 210px;
	color: #666666;
	padding-left: 10px;
	border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin-left:2px;
}
/* Position the first sub level beneath the top level liinks */
#TopMenu > li:hover > ul
{
	left: -3px;
	top: 24px;
}

#TopMenu .TopSubMenu li:hover a
{
	background: #87b33a;
	color: #fff;
	text-decoration: none;
	cursor: hand;
	background-image:url(/Templates/Scanweb/Styles/Default/Images/Icons/rightArrowOnGrey.gif);
	background-repeat:no-repeat;
	background-position:3px 2px ; 
	
}

#TopMenu .TopSubMenu a, #TopMenu .TopSubMenu a:visited
{
	display: block;
	/*font-size: 12px;*/
	font-size: 12px;
	width: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666666;
	padding: 3px 0 5px 20px;
	cursor: hand;
	height: auto;
	line-height: 18px;
	background:url('/Templates/Scanweb/Styles/Default/Images/Icons/blueArrow.gif') no-repeat 9px 9px;
	margin:0 5px 0 4px;
}
#TopMenu .TopSubMenu
{
	display: none;
	/*border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;*/
	border-top:1px solid #E8E8E8;
	z-index: 10;
	margin-top:1px;
	padding:8px 0;
	
}
#TopMenu .TopSubMenu li
{
	display: block;
	float: none;
	line-height:19px;
	margin:0;
	padding:0;
}

#TopMenu .TopSubMenu li.RightArrow
{
	margin-left:-10px;
	border-right:none;
}

#TopMenu li.selected
{
	background: #fff;
	border-top:1px solid #D6D6D6;
}

#TopMenu .TopSubMenu .Separator
{
	top: 0px;
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 1px;
	width: 200px;
	margin-left:2px;
	background-color:#dbdbdb;
	overflow:hidden;  
	
}

