@font-face {
    font-family: 'PopulaireforScandicRegular';
    src: url('/Templates/Scanweb/Styles/Default/font/populaireforscandic-webfont.eot');
    src: url('/Templates/Scanweb/Styles/Default/font/populaireforscandic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/Templates/Scanweb/Styles/Default/font/populaireforscandic-webfont.svg#PopulaireforScandicRegular') format('svg'),
         url('/Templates/Scanweb/Styles/Default/font/populaireforscandic-webfont.woff') format('woff'),
         url('/Templates/Scanweb/Styles/Default/font/populaireforscandic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body
{
	color: #666666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-size: 0.75em!important;
    font-weight: 400!important;
    line-height: 1.7em!important;
}

h1,
h2.heading1,
.heading1
{
    
     padding: 0;
    margin: 0 0 0 0;
	color: #666666;
    font-family: 'PopulaireforScandicRegular','Helvetica neue',Helvetica,Arial,sans-serif;
    font-size: 2.8em;
    font-weight: 400;
    line-height: 1.25em;
    }

    .heading1{
      font-size: 2.8em;
    font-weight: 400;
    line-height: 1.25em;
}

h2.heading1 {
      font-size: 2.8em;
    font-weight: 400;
    line-height: 1.25em;
    EditMenuName: Large Heading;
}

h2,
.heading2 ,
h3.heading2 {
   color:#666666;
    padding: 0;
    margin: 10px 0 10px 0;
    font-size: 12px;
    line-height:19px;
    
}

h3.heading2 {
	font-size: 12px;
	line-height:19px;
	font-weight: bold;
	EditMenuName: Small Heading;
}

/*h2.DottedUnderLineBlock
{
	EditMenuName: Heading 2 Dotted Underline;
}
*/
.IconLink
{
	background:url("/templates/Scanweb/Styles/Default/Images/Icons/blueArrow.gif") no-repeat scroll left 4px transparent;
	padding-left:10px !important;
	color:#006699;
	EditMenuName: Ordinary link;
	
}
div .IconLink
{
 /*background-position:-2px -2px;*/

	
}

.DownloadIconLink
{
	background-image: url("/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif");
	background-position:-2px -40px;
	background-repeat:no-repeat;
	padding-left:18px;
	color:#006699;
	EditMenuName: Download link;
}


/*.DottedUnderLineBlock
{
	display:block;
	background-image: url(/Templates/Scanweb/Styles/Default/Images/horizontal_rule.gif);
	background-repeat: repeat-x;
	background-position:bottom;
	EditMenuName: Dotted underline block;
}
*/
a
{
	color: #000000;
}

table.ScandicTable
{
	EditMenuName: ScandicTable;
	border-left: solid 1px #9f9b9b;
	border-right: solid 1px #9f9b9b;
	width:472px !important;
	
}

table.ScandicTableTop
{
	width:472px !important;
	height:10px;
	EditMenuName: ScandicTop;
	background: url(/Templates/Scanweb/Styles/Default/Images/top472.gif) no-repeat left top;
}

table.ScandicTableBottom
{
	width:472px !important;
	height:10px;
	EditMenuName: ScandicBottom;
		background: url(/Templates/Scanweb/Styles/Default/Images/bottom472.gif) no-repeat left bottom;
}

h3.darkHeading,h3.lightHeading {
	background-color:#D1CEC9;
	background-image:none!important;
	margin:0 0 5px 0;
	padding:0 0  0 10px;
	font-size: 12px;
    font-weight: bold;
    line-height: 17pt;
	color:#fff!important;
	EditMenuName: Small Heading Dark Background;
}
h3.purpleHeading,h3.purpleHeading {
	background-color: #7C4277;
	background-image:none!important;
	margin:0 0 5px 0;
	padding:0 0  0 10px;
	font-size: 12px;
    font-weight: bold;
    line-height: 17pt;
	color:#fff!important;
	EditMenuName: Small Heading Purple Background;
	}

h2.DottedUnderLineBlock, h3.DottedUnderLineBlock {
	background-color:#D1CEC9;
	background-image:none!important;
	margin:0 0 5px 0;
	padding:0 0  0 10px;
	font-size:12px;
	font-weight:bold;
	color:#fff!important;
	line-height:17pt;
	}
/*
h3.lightHeading {
	background:#666;
	background-image:none!important;
	margin:0 0 5px 0;
	padding:0 0  0 10px;
	font-size:11px;
	font-weight:bold;
	color:#fff!important;
	line-height:17pt;
	EditMenuName: Small Heading Light Background;
}
*/
.priceRate{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:18px;
padding:10px 10px 0pt 0px;
EditMenuName: PriceRateString;
}

p.introText{
	font-size:12px!important;
	font-weight: 400!important;
    line-height: 1.7em!important;
	EditMenuName: Introduction text;
}

.PdfIconLink{
	padding-left: 18px !important;
	background: #fff url("/templates/Scanweb/Styles/Default/Images/Icons/iconPdf.gif") 0 2px no-repeat;
	color: #006699;
	EditMenuName: PDF link;
}
.HorizontalLine{
	padding-left: 18px;
	background: #fff url("/templates/Scanweb/Styles/Default/Images/streck_472px.png") 0 0px no-repeat;
	color: #006699;
	EditMenuName: Horizontal Line;
}
.OfferTblImg{
	width: 40%
	EditMenuName: Offer Table Img;
}