#findHotel{
	width:100%;
}

#availHeader,
#map,
#ExpansionMap,
#moreLinks,
#quickLinks,
#search,
#findAhotel label,
#findAhotel,
#hotelContainer,
.singleCol,
.tripleCol,
.doubleCol,
.hotelDetails,
.hotelDetails li,
.hotelDetails img,
.popUpBottomArea,
.popUpLinks
{
	float:left;
}


.singleCol{
	width:226px;
	margin:0 18px 20px;
	display:inline;
}
.tripleCol{
	width:718px;
	margin:0 20px 0 0;
	display:inline;
	*position:static;
	z-index:1000;
}
.doubleCol{
	width:472px;
	display:inline;
	margin:0 18px;
}
.flushAll{
	margin:0;
	float:right;
}
.flushPromo{
	margin:0 18px 0 0;
	float:right;
}
.flushMarginLeft{
	margin-left:0;
}
.flushMarginRight{
	margin-right:0;
}
#findAhotel{
	margin-bottom:10px;
	width:226px;
	border:1px solid #ccc;	
	background:transparent url(/templates/Booking/Styles/Default/Images/input_bg.gif) repeat-x scroll center bottom;
}
#destContWrapper #destinationDiv {
	padding:0 5px;
	width:205px;
}
#destContWrapper #autosuggestFAH{
	margin-left:5px;
}
#destContWrapper #autosuggestFAH ul{width:214px;overflow:auto;border-bottom:1px solid #ccc;padding-bottom:5px;}
#destContWrapper #destinationDiv input{
	width:206px;
}
#destContWrapper{
	padding:5px;
}

#findAhotel .inputField{
	width:206px;	
	padding:0;margin:0;
}
#findAhotel .btn{
	float:right;
	margin-top:10px;
}

#search{
	width:226px;
	overflow:hidden;
}
#search ul,
#availHeader,
.hotelDetails{
	list-style:none;
	padding:0;
	margin:0;
}

#search ul.city{
	padding-left:20px;
}
#search ul.region{
	padding-left:10px;
} 
#quickLinks{
	padding-top:10px;
	width:226px;
}

#map{
	background:#e7efff;
	height:374px;
	width:716px;
	overflow:hidden;
	border:1px solid #000;
}

#ExpansionMap
{
	background:#e7efff;
	height:540px;
	width:759px;
	overflow:hidden;
	border:1px solid #000;
}

#confirmationMap
{
	background:#ffffff;
	width:718px;
	height:399px;
	overflow:hidden;
}

#moreLinks{
	padding:10px 0 10px 5px;
}

#availHeader{
	border-bottom:1px dotted #ccc;
	padding-bottom:10px;
}
#moreLinks li,
#availHeader li{
	float:left;
	margin-right:10px;
	font-weight:700;
}
#availHeader li#viewHotel{
	float:right;
}
.hotelDetails,
#availHeader ,
.hotelList{
	width:100%;
}
.hotelDetails
{
	border:1px solid #ccc;
	margin-bottom:10px;
	_width:98%;
	
}
#HotelOverviewPageGoogleMap .hotelDetails,
#HotelExpansionGoogleMap .hotelDetails
 {
	border:none;
	padding-left:10px;
	width:330px;
	_overflow:hidden;
}
#HotelOverviewPageGoogleMap .popUpBottomArea,
#HotelExpansionGoogleMap .popUpBottomArea
{
	width:330px !important;
	/*padding-top:5px;*/
}
.popUpBottomArea .ButtonLink div a{
	padding-left:8px;
}
#HotelOverviewPageGoogleMap .ButtonLink,
#HotelExpansionGoogleMap .ButtonLink{
	float:right;
}
.hotelDetailsWrapper img,
.hotelListing img{
	width:172px;
	height:109px;
	border:1px solid #ccc;
	margin:0 10px 0 0;
}
.hotelListing img
{
	margin :5px 10px;
}

#HotelOverviewPageGoogleMap .hotelDetailsWrapper img,
#HotelExpansionGoogleMap .hotelDetailsWrapper img 
 {
	border:1px solid #ccc;
	height:65px;
	width:101px;
}

.hotelDetailsWrapper .ButtonLink {
	float:right;
	margin:0;
	padding-bottom:0px;
}
.hotelDetailsWrapper{
	padding:5px 10px;
	float:left;
	width:446px;
}
#HotelOverviewPageGoogleMap .hotelDetailsWrapper,
#HotelExpansionGoogleMap .hotelDetailsWrapper {
	padding:0px 0 0;
	width:340px;
}


.hotelDetailsWrapper #details {
	float:left;
	width:208px;
	height:63px;
	margin:0;
	padding:0;
	overflow:hidden;
	line-height:16px;
	margin-top:-2px;
	color:#666;
}
.hotelDetailsWrapper .details,
.hotelListing .details {
	float:left;
	width:260px;
	padding-top:2px;
}
.hotelListing .details {
	#margin-bottom:4px;
}
.readmore .IconLink,
#quickLinks .DownloadIconLink {
	display:block;
	background-position:-2px 0;
}
.hotelDetailsWrapper .IconLink {
	float:right;
	background-position:-2px -1px;
	margin-right:159px;
	text-decoration:underline !important;
}

.searchResult {
	margin:10px 0;
}
/*modal popup styles*/

.jqmWindow {
    display: none;
    position: fixed;
    top: 3%;
    left: 33%;
    margin:0 auto;
    width: 356px;
    background-color: #EEE;
    color: #333;
    border: 1px solid #000; 
}
.jqmWindow .BookingArea{
	margin:0 auto;
	padding-top:20px;
	width:479px;
}
.conf_Popup .jqmWindow {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    width: 500px;
    max-height: 590px !important;
    border: none;
}
.conf_Popup #LeftContentArea{
width:479px;
margin:0 auto;
/* padding:15px 0px; */
position:relative;
}
.jqmClose {
	float:right;
	position:absolute;
	left:100%;
	background:url("/templates/Scanweb/Styles/Default/Images/Icons/modalClose.gif") no-repeat left top;
	padding:7px;
	top:10px;
}
#dialog #BookingEngine {
	margin-bottom:0px;
}
.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.singleCol .BoxContainer div.smallPromoBoxLight{
	margin-left:0;
}
.readmore{
	margin-bottom:16px;
}
.searchResult {
	MARGIN: 10px 0;
}
#hotelContainer{
	margin-top:20px;
	
}
#hotelContainer {
	float: left;
	width:1004px;
	margin-top:20px;
}
.doubleCol #hotelFooterContainer{
	width:472px;
	margin:0;
}
.hotelDetailsWrapper .ButtonLink a {
	padding-left:8px;
}

.LabeledMarker_markerLabelDoubleDigit,
.LabeledMarker_markerLabelSingleDigit
{
	color:#fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:9px;
	text-align:center;
	font-weight:700;
	width: 19px;
}
.LabeledMarker_markerLabelDoubleDigit{
	left:359px;
}
.hotelDetails #address {
	font-weight:400;
}
.hotelDetails #address,
.hotelDetails #lblDistance {
	color:#666;
}

.popUpLinks a {
	display:block;
	background-position:-0px 50%;
}
#custom_info_window_contents .popUpBottomArea .popUpLinks a{
background-position:0 6px;
line-height: 1.5em;
}
#listing #hotelFooterContainer #pageListingContainer .showLink a {
background:transparent url(/templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat scroll -2px -81px;
padding-left:15px;
text-decoration:underline;
}


#listing #hotelFooterContainer #pageListingContainer .hideLink a {
background:transparent url(/templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat scroll -2px -115px;
padding-left:15px;
}

#listing .prevLink a {
	background:transparent url("/templates/Booking/Styles/Default/Images/reservation2.0/blueGoBackArrow.png") no-repeat scroll 0 0.3em;
	padding-left:10px;
	
	
}
#listing .nextLink a {
	background:transparent url("/Templates/Scanweb/Styles/Default/Images/Icons/blueArrow.gif") no-repeat scroll 100% 4px;
	padding-right:10px;
	#display: inline-block;
	#background-position: 100% 6px;
	#line-height:11pt;
}

#listing #hotelFooterContainer .pageListingContainer {
	background:none;
}
#listing #hotelFooterContainer .pageListingContainer a {
	text-decoration:underline;
}

.sortBy{
	padding:10px 0px;
	min-height:20px;
	height:auto !important;
	height:20px;
}
.sortBy select{
	width:138px;
	font-size:10px;
	color:#666;
}
.sortBy select option{
	outline:0;
}
.gmnoprint .ButtonLink {
	clear:left;
	float:right;
}
#errorReport ul.circleList li{color:#B00;}
.redAlertIcon {
	background:transparent url(/templates/Booking/Styles/Default/Images/exclamation_mark_small.png) no-repeat scroll 6px top;
	color:#B00;
	font-weight:400;
	line-height:1.6em;
	margin-bottom:8px;
	padding-left:30px;
}
#search table {
	background:#f1ede9;
	display:block;
	margin-bottom:5px;
	padding-left:5px;
}
#search table tr td {
	width:6px;
}
#search table tr td.tableBg {
	width:220px !important;
}

:-moz-any-link:focus,
:focus {
  outline: none;
}
 

.tableBg {
	width:220px;
}
.tableBg a{
	padding-left:8px;
	#padding-left:0px;
	color:#3E3E3E;
}
#listing #hotelDetailContainer {
	position:relative;
	width:100%;
	margin:0;
	padding:0;
}
.hotelName{
		width:275px;
		float:left;
		margin-right:5px;
	}
.hotelName a {
color:#ffffff;
}
.hotelName a:hover {
text-decoration:underline;
color:#87B33A;
}
.hotelDistance{
		float:right;
		margin-right:5px;
	}
.hotelDetails .darkHeading{
		float:left;
		_width:463px;
		width:465px;
}
#HotelOverviewPageGoogleMap .hotelDetails h3,
#HotelExpansionGoogleMap .hotelDetails h3
{
	margin:0;
	padding:0;
	font-size:12px;
}
.addressWrapper{
		float:left;
		width:100%;
}
.hotelAddress{
	float:left;
	width:300px;
}
.errorText {
	color:#B00;
	clear:both;
}

#custom_info_window{
  width: 340px;
}
#custom_info_window_contents{
  background-color: #FFF;
  height:152px;
  width:340px;
}
#custom_info_window_tl{
  width: 16px;
  height: 16px;
  background: url('/templates/Scanweb/Styles/Default/Images/Icons/custom_info_window_tl.png') top left no-repeat transparent;
  top:24px !important;
}
* html #custom_info_window_tl{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/Scanweb/Styles/Default/Images/Icons/custom_info_window_tl.png', sizingMethod='crop');
}
#custom_info_window_t{
  background:#fff;
  width:374px;
  top:25px !important;
  
}
#custom_info_window_tr{
  width: 16px !important;
  height: 16px;
  background: url('/templates/Scanweb/Styles/Default/Images/Icons/custom_info_window_tr.png') top left no-repeat transparent;
  left:334px !important;
  top:24px !important;
}
* html #custom_info_window_tr{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/Scanweb/Styles/Default/Images/Icons/custom_info_window_tr.png', sizingMethod='crop');
}
#custom_info_window_l{
  width: 3px;
  background:#fff;
 top:38px !important;
}
#custom_info_window_r{
	width: 3px;
	background:#fff;
	left:341px !important;
	top:38px !important;
}
#custom_info_window_bl{
  width: 16px;
  height: 16px;
  background: url('/templates/Scanweb/Styles/Default/Images/Icons/custom_info_window_bl.png') top left no-repeat transparent;
  
}
* html #custom_info_window_bl{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/Scanweb/Styles/Default/Images/Icons/custom_info_window_bl.png', sizingMethod='crop');
}
#custom_info_window_b{
  background:#fff;
  width:374px;
  top:167px !important;
  _top:188px !important;
}
#custom_info_window_br{
  width: 16px;
  height: 16px;
  background: url('/templates/Scanweb/Styles/Default/Images/Icons/custom_info_window_br.png') top left no-repeat transparent;
  left:334px !important;
  
}
* html #custom_info_window_br{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/Scanweb/Styles/Default/Images/Icons/custom_info_window_br.png', sizingMethod='crop');
}
#custom_info_window_close{
  width: 28px;
  height: 27px;
  background: url("/templates/Booking/Styles/Default/Images/scandic_sprites16May.png") no-repeat scroll left top transparent;
  cursor: pointer;
  left:335px !important;
  top:35px !important;
  background-position: 0 -1212px;
  margin-left: -20px;
}

* html #custom_info_window_close{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/Scanweb/Styles/Default/Images/Icons/custom_info_window_close.png', sizingMethod='crop');
}
#custom_info_window_beak{
  width: 96px !important;
  height: 73px;
  background: url('/templates/Scanweb/Styles/Default/Images/Icons/custom_info_window_beak.png') top left no-repeat transparent;
  left:11px !important;
}
* html #custom_info_window_beak{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/Scanweb/Styles/Default/Images/Icons/custom_info_window_beak.png', sizingMethod='crop');
}
#custom_info_window_contents .section1{
  margin: 0;
  padding: 0;
}
#custom_info_window_contents .section2{
  margin: 0;
  padding: 0;
  background-color: #FFDFDF;
  border-bottom: dotted 1px #900;
  border-top: dotted 1px #900;
}
#custom_info_window_contents p{
  margin: 1px 0;
  padding: 5px;
}
#custom_info_window_contents .title{
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  background-color: #900;
}
#custom_info_window .hotelDetailsWrapper h3 {
	margin :0;
	padding :0;
}

#findAhotel .FindHotelButton{
	background:transparent url(/Templates/Scanweb/Styles/Default/Images/searchButton.gif) no-repeat scroll 0;
	border:0 none;
	color:#fff !important;
	font-size:12px !important;
	font-weight:700;
	height:24px;
	margin:0 5px 5px 0;
	padding:0 0 4px;
	width:107px;
	float:right;
	cursor:pointer;
}

#dialog #BookingAreaMedium .formRow {
	width:55%;
}

#dialog  #BookingAreaMedium .formRowButton{
	width:45%;
}
.sortDrpDwn,.ReadMoreLik{
	clear:both;
}

#listing #hotelFooterContainer .showAll{
	width:35%;
}

#listing #hotelFooterContainer .pageListing{
	width:65%;
}
#destinationDiv label strong{
	color:#000;
}
#DownloadPdf h3.darkHeading,
#DownloadPdf h2.darkHeading{
	clear:both;
}

#progressBar{
	height:374px;
	width:718px;
	position:absolute;
	z-index: 9; /*2999;*/
	opacity: 0.5;
	background:#111;
	filter: alpha(opacity = 50);
	left:0;
	top:0;
}
.loadingText{
	font-size:12px;
	color:#fff;
}
.loadingIcon{
	z-index:999999;
	display:none;
	position:absolute;
	top:50%;
	left:44%;
}

.ReadMoreLik,
.sortDrpDwn{
	padding-bottom:18px;
}
.clearMgn{margin:0px;}
#StageAreaWideFull .guestInfoPopup h2.stoolHeading{margin-top:10px !important;}

