/************************/
/* MASTERPAGEDEFAULT    */
/************************/

/************************/
/* HEADER               */
/************************/
#HeaderArea
{	
	width: 1004px;
	height: 100px;
}
/************************/
/* MAINMENUAREA         */
/************************/
#MainMenuArea
{		
	float: left; 
	width: 100%;
	height: 25px;
	
}
#MainMenu
{
	margin: 0 0 0 1em;
	padding: 0;
	list-style-type: none;
}
#MainMenu li
{
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0 0 0;
	color: White;
}
#MainMenu li a
{
	display: block;
	padding: 6px 1.1em 6px 1.1em;
	text-decoration: none;
	font-size: 1em;
	color: White;
}
#MainMenu li.selected a
{	
	color: White;
}
/************************/
/* Top for right column */
/************************/
#RightColumnTopArea
{
    float: right; 
    width: 256px;   
    background: pink;
}
/*************************/
/* STAGEAREA             */
/*************************/
#StageArea
{
	float: left;
}
/*************************/
/* CONTENTAREA 5-3       */
/*************************/
#MainContentArea
{
	width: 1004px;
	float: left;
}
#MainBodyArea
{
	width: 628px;
	float: left;
}
#MainBodyArea #MainBody
{
	padding: 20px;
}

#SecondaryBodyArea
{
	float: left;
	width: 376px;
}
#SecondaryBodyArea #SecondaryBody
{	
	width: 100%;
	padding: 0px;
	
}
#SecondaryBodyArea #SecondaryBody #Toparea
{	
	width: 100%;
	height: 54px;
	padding: 0px;
	background: #E3DDD3;
}
/*************************/
/* CONTENTAREA 6-2       */
/*************************/
#MainBodyAreaWide
{
	width: 748px;
	float: left;
}
/*
#MainBodyAreaWide #MainBodyWide
{
	padding: 20px;	
}
*/
#SecondaryBodyAreaWide
{
	float: right;
	width: 256px;
}
/*
#SecondaryBodyAreaWide #SecondaryBodyWide
{	
	width: 100%;
	padding: 0px;
}
*/
