/************************/
/* MASTERPAGESTART      */
/************************/
/************************/
/* HEADER               */
/************************/
#SP_HeaderArea
{	
	width: 1004px;
	height: 170px;
}
/************************/
/* MAINMENUAREA         */
/************************/
#SP_MainMenuArea
{
	float: left; 
	width: 100%;
	height: 25px;
	background-color: White;
	color: #ece1bc;
}

#SP_MainMenu
{
	margin: 0 0 0 1em;
	padding: 0;
	list-style-type: none;
	
}
#SP_MainMenu li
{
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0 0 0;
	color: #ece1bc;
}
#SP_MainMenu li a
{
	display: block;
	padding: 6px 1.1em 6px 1.1em;
	text-decoration: none;
	font-size: 1.2em;
}
#SP_MainMenu li.selected a
{	
	color: #ece1bc;
}