.clear {
	clear: both;	
}

#hotels-wrap {
	width: 1006px;
	margin: 0 auto;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: black;
	position:relative;
	margin-top:20px;

}

	/* -------------------------------------------------------
	HOTEL HEADER: Title, country dropdown, google map button
	---------------------------------------------------------*/

	#hotels-header * { /* container for header section */
		z-index: 0;
		margin:0; padding: 0;
	}

	#hotels-header #hotels-header-title { /* container for headers */
		float: left;
		margin: 18px 0 0 25px;
		_margin-left: 10px;
	}
	
		#hotels-header #hotels-header-title h1, #hotels-header #hotels-header-title h3 {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 40px;
			text-transform: uppercase;
			color: white;
			display: none; /* hide until dynamic font has been initialized (avoid flicker) */
		}
	
		#hotels-header #hotels-header-title h3 {
			font-size: 28px;
			color: #ff6633;
		}
		
	#hotels-header #btnMapLabel {
		margin-left: -40px;
		position: absolute;
	}
	
	#hotels-header #btnMap { /* google map button */
		float: right;
		margin-right: 20px;
		margin-top: 20px;
		height: 61px;
		display: block;
		width: 50px; 
		background: url(/templates/Scanweb/Styles/Default/Images/ui_sprite.png);
		color: #aaa;
		font-size: 11px;
	}
	
		#hotels-header #btnMap.hover { /* google map button mouseover */
			background-position: -50px 0px;
			cursor: pointer;
			color:white;
		}
	
	
	
		
		
		/* -----------------------
		   select country dropdown 
		   ---------------------*/
		
	
		#hotels-wrap #country-dropdown { /* container for select country dropdown */
			position:absolute;
			top: 20px; left: 710px;
			float: right;
			width: 142px;
			margin-right: 100px;
			z-index: 1;
			font-size: 11px;
		} 
		
			#hotels-wrap #country-dropdown > p { /* dropdown label */
				color: #aaa;
				margin-bottom: 4px;
			}
	
			#hotels-wrap div.dropdown { /* initial,selected value in dropdown */
				width: 118px;
				position: absolute;
				z-index: 2000;
				cursor: pointer;
			}
			
			#hotels-wrap div.dropdown div.selected { /* hook for intial/selected value */
				color: #FFf;
				padding: 0 10px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				background: url(/templates/Scanweb/Styles/Default/Images/ui_sprite.jpg) 0 -70px no-repeat;
				width: 131px;
				height: 17px;
				line-height: 16px;
			}
	
				#hotels-wrap div.dropdown div.selected:hover { /* mouseover for dropdown */
					background-position: 0 -90px;
				}
		
				#hotels-wrap div.dropdown ul {
					display:none;
					padding: 2px 5px;
					top: 0;
					position:relative;
					list-style: none;
					margin:0;
					width: 101px;
					background: #444;
					-moz-border-radius: 2px 0 4px 4px;
					-webkit-border-radius: 0  0 4px 4px;
					width: 106px;
					margin-left: 1px;
				}
		
				#hotels-wrap div.dropdown ul li { /* each option in dropdown */
					color: white;
					margin:0;
					border-bottom:1px solid #666;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					width: 100%;
				}
	
					#hotels-wrap div.dropdown ul li a {
						display: block;
						padding: 4px 7px;
						width:88%;
						color:#fff;
					}
					
						#hotels-wrap div.dropdown ul li a:hover { /*option mouseover */
							background: black;
							text-decoration:none;
						}
		
			
			/* ----------------------
			GOOGLE MAP OVERLAY
			-----------------------*/
					
					
			/* used by ie6 only */
			#googleMapBackgroundIE6 {
				width: 100%;
				height: 100%;
				background: black;
				position: absolute;
				float: left;
				filter: alpha(opacity=70);zoom: 1; /* IE 5-7*/
				z-index: 1000;
				display: none;
			}
		
			#googleMapContainer { /* container for google map section */
				width: 761px;
				height: 542px;
				background: black;
				padding: 10px;
				position: absolute;
				z-index: 100000;
				top: 10px;
				left: 121px;
				overflow: visible;
				margin-left: -9999px;
			}
				#googleMapContainer #btnCloseGoogleMap { /* close button in opened google map */
				background: url(/templates/Scanweb/Styles/Default/Images/close.jpg) no-repeat;
				cursor:pointer; 
				height:9px;
				width:9px; 
				z-index: 100000;
				position: absolute;
				right: -10px;
				top: 13px;
				_position:relative;
				_float:right;
				_margin-right:-20px;
				_right:auto;
				_top:auto;
			}


			#googleMapContainer #googleMap { /* container for google map (into which the actual map is loaded */
				width: 100%;
				height: 100%;
				margin: 0 auto;
				background-image:url(/templates/Scanweb/Styles/Default/Images/map_bg.png) no-repeat;
				z-index: 10000;
				
			}
			
			#googleMapBackground { /* black bg covering entire page */
				background:black url(/templates/Scanweb/Styles/Default/Images/mapbg.png);
				position:fixed; 
				width:100%; 
				height:100%; 
				top:0; 
				left:0;
				display:none;
				z-index: 8000;
				opacity: .7; /* all modern browsers (this is CSS3)*/
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 8*/
				filter: alpha(opacity=70);zoom: 1; /* IE 5-7*/
			}

			

							
	/* -------------------------------------------
	HOTELS: CONTENT AREA (HOTEL INFO AND SCROLLBAR)
	----------------------------------------------*/					  
	
	
	#content-wrap { /* container for all hotels (exluding the scrollbar) */
		width: 100%;
		overflow: hidden;
		position:relative;
		
	}
	#content-wrap #blur-left { /* blur edge to the left */
			background: url(/templates/Scanweb/Styles/Default/Images/blur_sprite.png) no-repeat;
			width: 75px;
			height: 210px;
			position: absolute;
			z-index: 6000;
			margin-left: -45px;
			margin-top: -197px;
			clip:rect(0px, 100px, 210px, 40px);
		}
		
		#content-wrap #blur-right { /* blur edge to the right */
			background: url(/templates/Scanweb/Styles/Default/Images/blur_sprite.png) -100px no-repeat;
			width: 75px;
			height: 210px;
			position: absolute;
			z-index: 6000;
			margin-left: 970px;
			margin-top: -203px;
			clip:rect(0px,34px,210px, 0px);
		}

	#StageAreaWideFull #content-content { /* all hotels */
		left: 0px;
		position: relative;
		overflow: hidden;
		padding: 20px;
		height: 177px;
		line-height: 177px;
		font-size: 20px;
		text-align:center;
	}	

		#StageAreaWideFull #content-content .content-item { /* container for each hotel in scrollbar */
			float: left;	
			width: 233px;
			height: 177px; 
			margin-right: 10px;
			position: relative;
			line-height: 14px;
			text-align:left;
			cursor: pointer;
		}
			
			#content-content .content-item .info { /* container for image, hotel name, and "more" link */
				background: url(/templates/Scanweb/Styles/Default/Images/hotel_bg.png) no-repeat  ;
				width: 226px;
				position: absolute;
				padding: 4px;
				cursor: pointer;
			}
		
				#content-content .content-item .info img.thumb { /* hotel image */
					width:226px;
					height:148px;
					float:left;
				}
			
				#content-content .content-item .hotel-name {
					font-size: 13px;
					font-weight: bold;
					padding-top: 14px;
				}
				#content-content .content-item table
				{	clear:both;
				
				}
			
#content-content .content-item .btn-left {
					padding-left: 2px;
					background: url(/templates/Scanweb/Styles/Default/Images/btn_left.gif) no-repeat;
					float: right;
					margin-top:14px;
				}
				
				#content-content .content-item .btn-right {
					background: url(/templates/Scanweb/Styles/Default/Images/btn_right.gif) right top no-repeat ;
					padding: 0px 6px 0px 4px;
					color: white;
					font-size:9px;
					text-transform: uppercase;
					font-weight: normal;
					white-space:nowrap;
				}
				
						
			#StageAreaWideFull #content-content .content-item .moreinfo-bg { /* background for more info */
					background: black;
					width: 213px;
					position: absolute;
					left: 10px;
					margin-top: 10px;
					height: 137px;
				}
							
			#StageAreaWideFull #content-content .content-item .moreinfo { /* container for more info */
					position: absolute;
					left: 10px;
					padding: 13px;
					height: 110px;
					font-size: 11px;
					width: 193px;
				}
		
			#StageAreaWideFull #content-content .content-item .moreinfo p { /* hotel text (shown on mouseover) */
					font-size: 10px;
				}
				
				#StageAreaWideFull #content-content .content-item .moreinfo cite { /* hotel opening date */
					font-weight: bold;
					color: white;
					position: absolute;
					font-style: normal;
					bottom: 0;
				}
		
	/* ------------------
	SCROLLBAR
	--------------------*/

		#scroll-wrap { /* container for scroll */
			width: 100%;
			padding: 10px 0 10px;
			display:none;
		}
		
		#scroll-bar {
			position: relative;	
			overflow: hidden;
			width: 538px;
			margin: 0px auto 0px;
		}
		
		#scroll-btn-left, #scroll-btn-right { /* left and right scroll buttons*/
			float: left;
			background: url(/templates/Scanweb/Styles/Default/Images/draggable-sprite.png) no-repeat;
			width: 19px;
			height: 16px;
		}
		
			#scroll-btn-right {
				background-position: -70px 0px;
			}
		 
		#scrollbar-btn-center { /* container for scrollbar button (defines area in which scrollbar button movement is contained) */
			width: 500px;
			position: relative;
			height: 16px;
			background: #ccc url(/templates/Scanweb/Styles/Default/Images/draggable-sprite2.png) -19px 0 no-repeat;
			overflow:hidden;
			float: left;
		}
		
		
			#scrollbar-btn { /* actual button used for drag-scrolling */
				height: 16px;
				background: url(/templates/Scanweb/Styles/Default/Images/scrollbtn.png) no-repeat;
				text-align:center;
				cursor: pointer;
				font-size: 11px;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				line-height: 16px;
				color: white;
				float:left;
				width: 190px;
				cursor: pointer;
			}
			
			#scrollbar-btn.ui-draggable-dragging { /* effect while drag-scrolling */
			}
			
	/* -----------------------------
	FLASH CALENDAR
	---------------------------------*/
	#flashCalendar-wrap { /* container for calendar */
		margin-top: 1px;
		background: black;
		margin: 1px auto;
		width: 1006px;
	}

.prevCntr a,
.nextCntr a {
	color:#fff;
	font-size:12px;
	text-decoration:none;
}
.prevCntr,
.nextCntr {
	float:left;
}
.nextCntr
{
	margin-left:5px;
}
.prevCntr
{
	margin-right:5px;
}
#HotelFilter
{
	background: url(/templates/Scanweb/Styles/Default/Images/filterBg.png) repeat-x left top;
	padding:1px 5px;
	width:auto;
}
* html #HotelFilter {
	background: url(/templates/Scanweb/Styles/Default/Images/filterBg.gif) repeat-x left -2px;
 }

#HotelFilter h3
{
	padding:0 0 2px;
	margin:0;
	background: url(/templates/Scanweb/Styles/Default/Images/hotelFilter_divider.gif) no-repeat left bottom; 	
	
}
#HotelFilter label
{
	width:140px;
}
#HotelFilter h3,
#HotelFilter label{
	font-size:9px;
	text-transform:uppercase;
	color:#fff;
}

#HotelFilter p {
	clear:both;
	display:inline;
	float:left;
	margin:1px 0px 0px 0px;
}
	
#HotelFilter,
#HotelFilter img,
#HotelFilter input,
#HotelFilter label{
	float:left;
}

#HotelFilter img
{
	margin-top:5px;
	padding-right:5px;
}
.ExpansionPageBottomArea
{
	width: 1004px; 
	float: left; 
	margin-top: 20px;
}