/*************************/
/* COMMON				 */
/*************************/


#StageAreaHotel .borderContainer472map
{
	font-size: 0px;
	width: 472px;
	float: left;
}

#StageAreaHotel .borderContainer472map .middle .itemRow,
#StageAreaHotel .borderContainer472 .middle .itemRow,
#StageAreaHotel .borderContainer226map .middle .itemRow
{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 452px;
}
#StageAreaHotel .borderContainer472map .middle .evenrow,
#StageAreaHotel .borderContainer472 .middle .evenrow,
#StageAreaHotel .borderContainer226map .middle .evenrow
{
	background-color: #E7E7E7;
}
#StageAreaHotel .borderContainer472map .middle .itemName,
#StageAreaHotel .borderContainer472 .middle .itemName,
#StageAreaHotel .borderContainer226map .middle .itemName
{
	float: left;
	width: 320px;
}
#StageAreaHotel .borderContainer472map .middle .itemLink,
#StageAreaHotel .borderContainer472 .middle .itemLink,
#StageAreaHotel .borderContainer226map .middle .itemLink
{
	float: left;
	width: 132px;
}

#StageAreaHotel .borderContainer472
{
	width: 472px;
	float: left;
}

#StageAreaHotel .borderContainer472 .middle
{
	width:470px;
	overflow:hidden;
}
#StageAreaHotel .borderContainer472 .LocalAttrRowItem {clear:left;}
#StageAreaHotel .borderContainer472 .LocalAttrRowAlternateItem,
.linkListItemHolder{
	float:left;
	width:100%;
	
} 
.linkListItemHolder .LinkListItem{width:214px;float:left;}

#StageAreaHotel .borderContainer226map
{
	font-size: 0px;
	width: 226px;
	float: left;
}

#StageAreaHotel .middleSeparator
{
	float: left;
	width: 100%;
	margin-top: 5px;
	padding-bottom: 5px;
	font-size: 1px;
	background: url(/Templates/Scanweb/Styles/Default/Images/horizontal_rule.gif) repeat-x;
}

#MainBodyRightArea .bottomGoogleMapContainer
{
	float: left;
	padding-top: 10px;
}

.HotelInfoBox
{
	width: 100%;
	display: block;
	padding: 0 0 20px 0;
	float:left;
}
div.HotelLinkList{
	float:left;
}

.HotelInfoBox h2
{
	color: #666;
	display: block;
	background-image: url(/Templates/Scanweb/Styles/Default/Images/horizontal_rule.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	margin-bottom:5px!important
	
}

.HotelInfoBox table
{
	float: left;
	width: 100%;
	text-align: left;
	padding:0;
	border: none;
}

.HotelInfoBox .tbldist .leftcol
{
	width: 2px; /*padding: 0 6px 0 0;*/
}

.Hotel10MiddleSeparator
{
	float: left;
	width: 100%;
	margin-top: 10pt;
	padding-bottom: 10pt;
	font-size: 1px;
	background: url(/Templates/Scanweb/Styles/Default/Images/horizontal_rule.gif) repeat-x;
}

#HotelMeetingsLeft .HotelLinkList{
	margin:0;
}

.HotelLinkList, .HotelLocationLeftLinkList, #LocationLeft .LeftNavigation
{
	margin: 0 0 20px 0;
}
.HotelLinkList .LinkListItem{padding-left:5px;}
/*************************/
/*LeftNavigation test    */
/*************************/
.LeftNavigation .LinkListItem a.IconLink, .LeftListNavigation .LinkListItem a.IconLink
{
	 background-image:url(/Templates/Scanweb/Styles/Default/Images/Icons/blueArrow.gif);
	 background-position: 5px 9px;
	 background-color:#F1EDE9;
	 display:block;
	 float:left;
	 line-height:24px;
	 margin-bottom:4px;
	 padding:0 0 0 15px !important; 
	 text-decoration:none;
	 /* R2.3 - Sheril */
	 color: #3e3e3e;	
}
.LeftNavigation .LinkListItem a,.LeftListNavigation .LinkListItem a
{
	 padding-bottom:2px;
}
.LeftNavigation .IconLink, .LeftListNavigation .IconLink
{
	 background-image:none;
	 padding-left:16px;
}
.LeftNavigation .LinkListItem .NotLastLink, .LeftListNavigation .LinkListItem .NotLastLink,
.LeftNavigation .LinkListItem .LastLink, .LeftListNavigation .LinkListItem .LastLink
{
	 background-image:none;
	 background-position: inherit;
	 background-repeat:no-repeat
	 
}

.LeftNavigation .LinkListItem a:hover, .LeftListNavigation .LinkListItem a:hover
{
	/*background-image:url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/SelectedLeftNavigationItem.gif);   */
	 /*background-image:url(Images/Icons/blueArrow.gif);*/
	 background:url(/Templates/Scanweb/Styles/Default/Images/Icons/rightArrowOnGrey.gif) no-repeat -2px 2px;
	 /*background-position: 5px 9px;*/
	 background-color:#B9B5AF;
	 color:#fff;
}
.LeftNavigation .LinkListItem a{color:#3E3E3E}

.LeftNavigation .LinkListItem, .LeftListNavigation .LinkListItem
{	 
	 overflow:hidden;
}

.LeftNavigation .LinkListSubItem
{
	margin-left:25px;
	font-size:0.8em;
	background:url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat 0 0;
	height:auto;
	margin-bottom:2px;
	padding-left:18px;
}

.LeftNavigation .LinkListSubItem a{
	color:#3E3E3E;
}

.LeftNavigation .LinkListSubList
{
	margin-top:-5px;	
	border:1px solid #eee;
}
.LeftNavigation .LinkListSubList .Active
{
	font-weight:bold;
}

.LeftNavigation .LinkListItem a.HasActiveChild
{
	background-color:#666666;
	background-image:url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsWhitegrey.gif);
	background-position:0 3px;
	color:#FFFFFF;   
	font-weight:bold;
}


/*************************/
/* OVERVIEW				 */
/*************************/

.HotelOverviewBody
{
	margin-bottom: 8px;
}

.HotelEmailLink a:hover
{
	text-decoration: underline;
}

#HotelOverview
{
	width: 718px;
	float:left;
}

#HotelOverview .HotelOverviewTopCont
{
	width: 100%;
	overflow: auto;
	 margin-top:25px;
}

#HotelOverview .HotelOverviewTopLeft
{
	width: 470px;
	float: right;
}

#HotelOverview .HotelOverviewTopRight
{
	float:left;
	margin-right:20px;
	width:226px;
	margin-bottom:20px;
}

h2.darkHeading, 
h3.darkHeading
{
	/*background-color:#d1cec9;*/
	background-color: #B0A6A0;
	background-image:none!important;
	margin:0 0 5px 0;
	padding:0 0  0 7px;
	font-size:12px;
	font-weight:bold;
	color:#fff!important;
	line-height:17pt;
}
#LeftMenuArea h2.darkHeading, #LeftMenuArea h3.darkHeading, .singleCol h3.darkHeading, .singleCol h2.darkHeading, .HotelLocationHeadLine h3.darkHeading, .HotelLocationHeadLine h2.darkHeading,  #HotelOverviewLocation h3.darkHeading, #HotelOverviewLocation h2.darkHeading, #OverviewPageSecondaryLeftArea h3.darkHeading,
#OverviewPageSecondaryLeftArea h2.darkHeading, #OverviewPageSecondaryLeftArea h3.lightHeading,
#OverviewPageSecondaryLeftArea h2.lightHeading, #SecondaryBodyArea .InfoBox h2.darkHeading, #SecondaryBodyArea .InfoBox h3.darkHeading

{ background-color: #7C4277;}

.PageListItemContainer h3.darkHeading, .PageListItemContainer h2.darkHeading , #StageAreaHotel #MainBodyArea #MainBodyLeftArea h2.darkHeading, #StageAreaHotel #MainBodyArea #MainBodyLeftArea h2.darkHeading, #OverviewPageSecondaryRightArea h3.lightHeading, #OverviewPageSecondaryRightArea h2.lightHeading, .flushLineHt h3.lightHeading,         .flushLineHt h2.lightHeading{ /*background-color: #d1cec9;*/ background-color: #B0A6A0;}

LeftMenuArea
.darkHeading a, .lightHeading a{
	color:#fff!important;
}

div.darkHeading{
	background-color:#d1cec9;
	background-image:none!important;
	margin:10px 0 10px 0;
	padding:0;
	display:block;
	float:left;
	width:100%;
}

h2.lightHeading,
h3.lightHeading{
	background:#7C4277;
	background-image:none!important;
	margin:0 0 5px 0;
	padding:0 0  0 7px;
	font-size:12px;
	font-weight:bold;
	color:#fff!important;
	line-height:17pt;
}

#MainBody h2.lightHeading,
#MainBody h2.darkHeading,
#MainBody h3.lightHeading,
#MainBody h3.darkHeading{
	margin:10px 0;
}

div.lightHeading h2,
div.darkHeading h2,
div.lightHeading h3,
div.darkHeading h3{
	margin:0px;
	font-size:12px;
	font-weight:bold;
	padding:0 0  0 10px;
	color:#fff!important;
}

div.lightHeading{
	background:#000;
	background-image:none!important;
	margin:10px 0 10px 0;
	padding:0;
	display:block;
	float:left;
	width:100%;
}
#GuestInfo div.lightHeading, #GuestInfo div.darkHeading{
	margin-top:0px;
}

div.borderContainer226map h2.darkHeading,
div.borderContainer226map h2.lightHeading,
div.borderContainer226map h3.darkHeading,
div.borderContainer226map h3.lightHeading{
	margin:0;
}

#StageAreaWideFull #MainBodyArea #OverviewPageTopArea .HotelLocationHeadLine{
	float:none;
	padding-bottom:10px;
}
div.HotelLocationHeadLine{
	/*font-size: 1.25em;*/
	float: left;
	width: 226px;
	/*margin-right:20px;*/
}
.HotelLocationHeadLine h2{
	color: #666;
	display: block;
	background-image: url(/Templates/Scanweb/Styles/Default/Images/horizontal_rule.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

#HotelOverviewLocation {
	float:left;
}

div.hotelInformation{
	margin-bottom:22px;
}

div.contactInfo{
	margin-top:5px;
	float:left;
	width:214px
}

div.hotelPhone{
	margin-top:11px;
	width:214px;
}

div.hotelLatitude{
	margin-top:12px;
}


#HotelOverviewBottom .HotelFacilityHeadLine,
#HotelOverviewBottom #HotelOverviewFacilities
{
	/*font-size: 1.25em;*/
	float:left;
	width: 472px;
}

.HotelFacilityHeadLine1 h2
{
	color: #666;
	display: block;
	background:none;
}

#HotelOverviewBottom #HotelOverviewLocation
{
	float: left;
	width: 226px;
	padding-right: 20px;
}

#HotelOverviewBottom #HotelOverviewLocation .hotelInformation
{
	float: left;
	margin-top: 10px;
}


#HotelOverviewFacilities .facilitesDescription{
	padding-bottom: 4px;
}

.borderContainer472 .rowwhite
{
	background-color: #FFFFFF;
	height: auto;
	padding: 6.5px 0 6.5px 0;
	width: 100%;
}

.borderContainer472 .rowgrey
{
	background-color: #F1EDE9;
	height: auto;
	padding: 6.5px 0 6.5px 0;
	width: 100%;
}

.borderContainer472 .leftcolumn
{
	display: inline;
	width: 65%;
	float: left;
}

.borderContainer472 .leftcolumn .textcont
{
	padding-left: 10px;
}

.borderContainer472 .rightcolumn
{
	display: inline;
	width: 34%;
}

.borderContainer472 .rightcolumn .textcont
{
	padding-right: 10px;
}

.HotelOverviewTopRight .LinkListItem
{
	width: 226px;
}

.HotelOverviewTopRight a
{
	width: 214px;
}

/*************************/
/* LOCATION				 */
/*************************/
/*************************/
/* Common				 */
/*************************/
#HotelLocationLeft
{
	width: 100%;
}

#HotelLocationLeft .HotelLocationLeftLinkList .LinkListItem, #LocationLeft .LeftNavigation .LinkListItem
{
	width: 226px;
}

#HotelLocationLeft .HotelLocationLeftLinkList .LinkListItem a, #LocationLeft .LeftNavigation .LinkListItem a
{
	width: 214px;
}

/*************************/
/* LOCATION				 */
/*************************/
/*************************/
/* Detailed map			 */
/*************************/
#HotelLocationDetailedMapRight .FindYourWay
{
	float: left;
	width: 66%;
	text-align: left;
}

#HotelLocationDetailedMapRight .FindYourWay .headline
{
	margin-top: 10px;
	font-weight: bold;
}

#HotelLocationDetailedMapRight .FindYourWay .address
{
	width: 200px;
	height: 1.3em;
}

#HotelLocationDetailedMapRight .FindYourWay .rbList input
{
	border-width: 0px;
	margin:0px;
}
#HotelLocationDetailedMapRight .FindYourWay .rbList label
{
	margin:0px 0px 0px 2px;
}
#HotelLocationDetailedMapRight .FindYourWay .rbList td
{
	padding-right: 20px;
}

#HotelLocationDetailedMapRight .FindYourWay .DirectionsButton
{
	background:transparent url(/Templates/Scanweb/Styles/Default/Images/travelInstructionBt.gif) no-repeat;
	border:0 none;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	height:24px;
	margin:0 5px 5px 0;
	padding:0 0 4px 0;
	width:150px;
}

#HotelLocationDetailedMapRight .FindYourWay .Drive
{
	padding: 20px 0 0 0;
}
#HotelLocationDetailedMapRight .FindYourWay .Drive .Top
{
	width: 100%;
	height: 11px;
	background: url(/Templates/Scanweb/Styles/Default/Images/top472.gif) no-repeat left top;
	display:none;
}
#HotelLocationDetailedMapRight .FindYourWay .Drive .middle{height: 100%;}
#HotelLocationDetailedMapRight .FindYourWay .Drive .bottom{width: 100%;height: 11px;margin: 0;padding: 0;
	background: url(/Templates/Scanweb/Styles/Default/Images/bottom472.gif) no-repeat left bottom;
	display:none;
}

#HotelLocationDetailedMapRight .FindYourWay .Drive #Instructions div .googledir div table{border: 0 !important;background: none !important;}
#HotelLocationDetailedMapRight .FindYourWay .Drive #Instructions div .googledir div table img{display:none !important;}	
#HotelLocationDetailedMapRight .FindYourWay .Drive #Instructions{padding:0 !important;}
#HotelLocationDetailedMapRight .FindYourWay .Drive #Instructions div .googledir div div table td{border:0 !important;}

/*************************/
/* LOCATION				 */
/*************************/
/*************************/
/* Transport options	 */
/*************************/
#HotelLocationTransport
{
	float: left;
	width: 472px;
}

#HotelLocationTransport .HeadLine
{
	color: #000000;
	font-size: 1.1em;
	padding: 10px 0 10px 0;
	margin-left: 10px;
}

#HotelLocationTransport .HeadLine .HeadLineText
{
	margin-left: 2px;
}
#HotelLocationTransport .TransportContent
{
	padding-left: 20px;
	padding-right: 20px;
}
.TransportContent h2
{
	margin-top: 0px;
	display: block;
	background-image: url(/Templates/Scanweb/Styles/Default/Images/horizontal_rule.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
#HotelLocationTransport .LinkListItem{padding: 10px 0 10px 0;width: 100%;}

#HotelLocationTransport .TransportRowAlternateItem{background-color: #EEE;}

.TransportOptionsListExpanded .TransportOptionsListing, .TransportOptionsListExpanded .TransportOptionsExpandLink, .TransportOptionsListNotExpanded .TransportOptionsContractLink
{
	display: block;
}

.TransportOptionsListNotExpanded .TransportOptionsListing, .TransportOptionsListNotExpanded .TransportOptionsContractLink, .TransportOptionsListExpanded .TransportOptionsExpandLink
{
	display: none;
}

a.TransportOptionsContractLink,a.TransportOptionsExpandLink
{
	background: url(/Templates/Scanweb/Styles/Default/Images/Icons/box_minus.gif) no-repeat left center;
	padding-left: 12px;
}

a.TransportOptionsExpandLink
{
	background:url(/Templates/Scanweb/Styles/Default/Images/Icons/box_plus.gif) no-repeat left center;
}

/*************************/
/* LOCATION				 */
/*************************/
/*************************/
/* Local attractions	 */
/*************************/
#HotelLocationLocalAttractions,#HotelFacilities,#HotelRooms{float: left;width:472px;}
#HotelLocationLocalAttractions .LeftCont{float: left;width: 226px;}
#HotelLocationLocalAttractions .HeadLine{color: #000000;font-size: 1.1em;padding: 10px 0 10px 10px;}
#HotelLocationLocalAttractions .HeadLine .HeadLineText{margin-left: 2px;}
#HotelLocationLocalAttractions .Image{float: left;width: 226px;	padding: 10px 0 0 0;}
#HotelLocationLocalAttractions .LocalAttrInfo{padding-left: 20px;padding-right: 20px;}
#HotelLocationLocalAttractions .LocalAttrDesc{padding: 10px 20px 10px 20px;}
#HotelLocationLocalAttractions .LocationInformation{padding-bottom: 10px;}
#HotelLocationLocalAttractions .LocalAttrRowAlternateItem{background-color: #EEE;}

/*************************/
/* FACILITIES			 */
/*************************/
#HotelFacilities .LinkContent,#HotelRooms .LinkContent{margin-top: 10px;float: left;width: 50%;}

/*************************/
/* ROOMS				 */
/*************************/
#HotelRooms .RoomImage,#HotelMeetingsLeft,.MeetingRoomLeft .MeetingRoomTopLeft,#HotelFacilities .FacilityImage,.MeetingRoomRight table{width: 100%;}
#HotelRooms .roomDescription{padding-top: 10px;}
.HeadLine img{margin-top: 5px;margin-right: 2px;float: left;}

/*************************/
/* MEETINGS				 */
/*************************/
#HotelMeetingsLeft .HotelMeetingLeftCursor{cursor: hand;}
#HotelMeetingsLeft .HotelMeetingInfoBox{width: 100%;display: block;padding: 0 0 25px 0;float:left;}
#HotelMeetingsLeft .HotelMeetingInfoBox h2,#MeetingsAndRooms h2{
	color: #666;
	margin-top: 0px;
	display: block;
	background-image: url(/Templates/Scanweb/Styles/Default/Images/horizontal_rule.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

#MeetingsAndRooms{padding-top: 20px;width: 100%;}
#MeetingsAndRooms h2{margin: 0 0 0 0;}
#MeetingsAndRooms .MeetingRoomContainer
{
	margin-top: 3px;
	width: 100%;
	display: block;
	/*float: left;  AMS Artifact: artf1006269 Fix */
	overflow:hidden;
	padding-bottom: 10px;
	background-image: url(/Templates/Scanweb/Styles/Default/Images/horizontal_rule.gif);
	background-position: bottom;
	background-repeat: repeat-x;
}
#MeetingsAndRooms .MeetingRoomContainer .MeetingRoomContainer{background-image: none;}
#MeetingsAndRooms .MeetingPackageTable{margin-top: 10px;width: 100%;}
#MeetingsAndRooms .MeetingPackageTitle{width: 20%;}
#MeetingsAndRooms .MeetingPackageDescription,
#MeetingsAndRooms .MeetingPackagePrices{width: 40%;}
#MeetingsAndRooms .MeetingPackagePrice{float: left;font-weight: bold;font-size: 1.2em;}
.MeetingRoomLeft{float: left;width: 50%;overflow:hidden;}
.MeetingRoomLeft .expandcontract{float: left;}
.MeetingRoomLeft .MeetingRoomTitle{display: block;margin-left: 5px;float: left;color: #000;}
.MeetingRoomLeft .MeetingRoomSqm{display: block;float: right;padding-right: 20px;}
.MeetingRoomLeft .MeetingRoomImage,.MeetingRoomLeft .FloorPlanImage{padding-top: 10px;}
.MeetingRoomRight{float: left;width: 50%;}
.MeetingRoomRight .MeetingRightLeftColumn,.MeetingRoomRight .MeetingRightRightColumn{width: 50%;}
.MeetingRoomRight .MeetingRoomLocation, .MeetingRoomRight .MeetingRoomAccess, .MeetingRoomRight .MeetingRoomLighting, .MeetingRoomRight .MeetingRoomDimension
{
	padding-top: 10px;
}
.MeetingRoomListExpanded .MeetingRoomListing, .MeetingRoomListExpanded .MeetingRoomExpandLink, .MeetingRoomListNotExpanded .MeetingRoomContractLink
{
	display: block;
}
.MeetingRoomListNotExpanded .MeetingRoomListing, .MeetingRoomListNotExpanded .MeetingRoomContractLink, .MeetingRoomListExpanded .MeetingRoomExpandLink
{
	display: none;
}

a.MeetingRoomExpandLink
{
	background: url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat scroll -2px -81px;
	padding-left: 15px;
	line-height: 22px;
}

a.MeetingRoomContractLink
{
	background: transparent url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat scroll -2px -115px;
	padding-left: 15px;
}

/*************************/
/* OFFERS 				 */
/*************************/

.HotelOfferLineBreak
{
	clear:both;
	height:1px;
	line-height:1px;
}

.HotelOfferContainer
{
	margin-right: 20px;
	float: left;
	margin-bottom: 20px;
}

.HotelOfferContainerRight
{
	float: left;
	margin-bottom: 20px;
}

/*************************/
/* More Images Popup	 */
/*************************/
.PopUp .PopUpHeaderMoreImages
{
	background-color: #E3DDD3;
	padding: 10px 12px 10px 12px;
	height: 100%;
}

.PopUp .LinkListItem a
{
	padding-top: 5px;
	padding-bottom: 0;
}

#MoreImagesPopUp
{
	padding: 10px 12px 10px 12px;
	float:left;
	border:2px solid #A6A6A6;
	height:585px;
	width:724px;
	position:relative;
	top:-45px;	
}

*html #MoreImagesPopUp{
	height:587px;
	width:744px;
}

#MoreImagesPopUpLeftColumn h2
{
	color: #666;
	display: block;
	background-image: url(/Templates/Scanweb/Styles/Default/Images/horizontal_rule.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
}

#MoreImagesPopUp #MoreImagesPopUpLeftColumn
{
	float: left;
	width: 400px;
}

#MoreImagesPopUp #MoreImagesPopUpRightColumn
{
	padding-left: 20px;
	float: right;
	width: 300px;
}

#MoreImagesPopUp #MoreImagesPopUpRightColumn img{
	border:1px solid #000!important;
}

#MoreImagesPopUp #MoreImagesPopUpRightColumn .MoreImagesPopUpPageListing
{
	width: 100%;
	float: left;
	padding-bottom: 5px;
}

#MoreImagesPopUp #MoreImagesPopUpRightColumn .MoreImagesPopUpPageListing span.previousLink,
#MoreImagesPopUp #MoreImagesPopUpRightColumn .MoreImagesPopUpPageListing span.nextLink{
	width:20px;
	background:url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -5px -262px;
	display:block;
	float:left;
	height:20px;
	width:7px;
}
#MoreImagesPopUp #MoreImagesPopUpRightColumn .MoreImagesPopUpPageListing span.nextLink{
	background:url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -7px 1px;
}

#MoreImagesPopUp #MoreImagesPopUpRightColumn .MoreImagesPopUpPrevLink
{
	font-weight:bold;
	padding-left:10px;
	background:url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -5px -266px;
}
#MoreImagesPopUp #MoreImagesPopUpRightColumn .MoreImagesPopUpNextLink
{
	font-weight:bold;
	padding-right:16px;
	background:url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat right -2px;
	
}


#MoreImagesPopUp #MoreImagesPopUpRightColumn a.disableLink, #MoreImagesPopUp #MoreImagesPopUpRightColumn a.disableLink:hover{
	color:#999999;
	text-decoration:none;
	font-weight:normal;
	padding-left:3px;
}

#MoreImagesPopUpRightColumn h2
{
	background: none;
	margin:0;
	padding:0;
}

#MoreImagesPopUpRightColumn .ZoomedInImageContent
{
	margin-left: 20px;
}

#MoreImagesPopUp .MoreImagesPopUpImageThumbRow
{
	width: 100%;
}

#MoreImagesPopUp .MoreImagesPopUpImageThumb
{
	float: left;
	margin-right: 7px;
	margin-bottom: 7px;
	width:70px;
	height:49px;
	overflow:hidden;
	border:1px solid #000;
	
}

*html #MoreImagesPopUp .MoreImagesPopUpImageThumb{	
	background:#ccc;
}

#MoreImagesPopUp .MoreImagesPopUpImageThumb a img
{
	max-width:70px;
	min-height:50px;
}

#ComplexImagePopUpPage
{
	padding: 10px 12px 10px 12px;
}

#ComplexImagePopUpPage .ComplexMediaArea
{
	width:780px;
	/*height:100%;*/
	height:585px;
	overflow:auto;
}

#ComplexImagePopUpPage .ComplexImagePopUpLeft
{
	float: left;
	width: 400px;
	margin-bottom:10px;
}

#ComplexImagePopUpPage .ComplexImagePopUpRight
{
	padding-left: 20px;
	float: left;
	width: 300px;
	margin-bottom:10px;
}

#ComplexImagePopUpPage .ComplexMediaContainer
{
	clear:both;
}

/***************************/
/* Hotel Landing pages top image broken in 2 parts */
/**************************/

#hotelOverviewTopImg{
	width:718px;
	background:#7C4277;
	height: 265px;
	margin-bottom:11px;
	margin-left:5px;
}



#HotelOverview #hotelOverviewTopImg{
	margin-left:0px;
}

div.topMainImg{
	float:left;
	width:493px;
	height:265px;
	overflow:hidden;
}

div.topStoolImg{
	float:left;
	width:205px;
	overflow:hidden;
	padding:20px 0 0 20px;
	height:85px;
}

div.topImgText{
	float:left;
	width:195px;
	overflow:hidden;
	padding:20px 10px 0 20px;
	height:85px;
	color:#fff;
	font-size:10px;
	line-height:14px;
	vertical-align:bottom;
}
div.topImgLink{
	float:left;
	width:205px;
	overflow:hidden;
	padding:0 0 0 20px;
}
div.topImgLink a.IconLink{
	color:#fff;
	font-weight:bold;
	background-image: url('/Templates/Scanweb/Styles/Default/Images/Icons/whiteArrow.gif');
}