/****************************/
/* Currency Converter Popup */
/****************************/
#CurrencyConverterPopup
{
	margin-bottom: 10px;
	width:349px;
}

.CurrencyConverterPopupTop
{
	font-size: 0px;	
	width: 100%;
	height: 11px;
	background: url(Images/top349.gif) no-repeat left top;
	overflow: hidden;
}

.CurrencyConverterPopupContent
{
	border-left: solid 1px #9f9b9b;
	border-right: solid 1px #9f9b9b; /*height: 100%;*/
	padding: 0 10px;
}


.CurrencyConverterPopupBottom
{
	font-size: 0px; 
	width: 100%;
	height: 11px;	
	background: url(Images/bottom349.gif) no-repeat left top;
	overflow: hidden;
}
#CurrencyConverterPopup input {
	width: 150px;
	color: #666;
}
#CurrencyConverterPopup select {
	width: 200px;
	color: #666;
}
#CurrencyConverterPopup .formRow {
	margin-bottom: 10px;
}

#CurrencyConverterPopup .footerDiv
{
	background: url(Images/horizontal_rule.gif) top left repeat-x;
	padding: 10px 10px 5px;
}
#CurrencyConverterPopup .footerDiv br {
	clear: both;
}
#CurrencyConverterPopup .ButtonLink {
	background-repeat:no-repeat;
	text-align: center;
	float: right;
}
#CurrencyConverterPopup .ButtonLink div {
	padding: 0 5px 0 0;
}
#CurrencyConverterPopup .ButtonLink a{
	line-height: 1.6em;
}

/*****************************/
/******** Error Messages *****/
/*****************************/
Div.PopUp .errorText {
	color: #BB0000;
}
Div.PopUp .formGroupError {
	padding-bottom: 10px;
	color: #BB0000;
	zoom: 1; /* This fixes IE flickering */
}
Div.PopUp .errorDiv {
	display: block;
	margin-bottom: 10px;
}
Div.PopUp .redAlertIcon {
	background: transparent url(Images/red_alert_icon.gif) no-repeat scroll top left;
	padding-left: 24px;
	margin-bottom: 8px;
	font-weight: normal;	
	line-height: 1.6em;
	color: #BB0000;
}
Div.PopUp span.redAlertIcon {
	padding-top: 4px;	
	line-height: 1.9em;	
}
Div.PopUp .smallRedAlertIcon {
	background: transparent url(Images/red_alert_icon_small.gif) no-repeat scroll 0 50%;
	padding-left: 15px;
	margin-bottom: 8px;
	font-weight: normal;	
	color: #BB0000;
}
#errorReport ul.circleList {
	margin-top: 0;
	margin-bottom: 0;
}