/************************/
/* MASTERPAGEDEFAULT    */
/************************/

/************************/
/* HEADER               */
/************************/
#HeaderArea
{	
	height:35px;
	padding:10px 0 10px 20px;
	width:986px;
	background:url(/Templates/Booking/Styles/Default/Images/headerBackground.gif) repeat-x bottom;
	overflow:hidden;
	clear:both;
}

/************************/
/* MAINMENUAREA         */
/************************/
#PageWide #MainMenuArea{
	background:url(/Templates/Booking/Styles/Default/Images/navigationBackground.gif) repeat-x bottom;
}

#MainMenuArea
{		
	width: 100%;
	height: 25px;
	z-index:10;
	border-bottom:1px solid #DFDAD7;
	position:relative;

	
}

#MainMenuTopMenu
{
	width:1004px;
	float:left;
	position:relative;
}

#MainMenu
{
	margin: 0 0 0 1em;
	padding: 0;
	list-style-type: none;
}
#MainMenu li
{
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0 0 0;
	color: White;
}
#MainMenu li a
{
	display: block;
	padding: 6px 1.1em 6px 1.1em;
	text-decoration: none;
	font-size: 1em;
	color: White;
}
#MainMenu li.selected a
{	
	color: White;
}
/************************/
/* MASTERPAGESTART      */
/************************/
/************************/
/* HEADER               */
/************************/
#SP_HeaderArea
{	
	height:35px;
	padding:10px 0 10px 20px;
	width:984px;
	text-align:left;
	background:url(/Templates/Booking/Styles/Default/Images/bg_header.png) repeat-x bottom;
	clear:both;
}


/************************/
/* MAINMENUAREA         */
/************************/
#SP_MainMenuArea
{
	float: left; 
	width: 100%;
	height: 25px;
	background-color: White;
	color: #ece1bc;
}

#SP_MainMenu
{
	margin: 0 0 0 1em;
	padding: 0;
	list-style-type: none;
	
}
#SP_MainMenu li
{
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0 0 0;
	color: #ece1bc;
}
#SP_MainMenu li a
{
	display: block;
	padding: 6px 1.1em 6px 1.1em;
	text-decoration: none;
	font-size: 1.2em;
}
#SP_MainMenu li.selected a
{	
	color: #ece1bc;
}
/************************/
/* BREADCRUMBSAREA      */
/************************/
#BreadcrumbsArea
{
    width: 982px;
    background-color: #FFF;    
    padding-top:6px;
    padding-bottom: 6px;
    padding-left: 20px;
    vertical-align: top;
    font-size: 0.85em;
    color: #666666;
	/* border-left:1px solid #D6D6D6;
	border-right:1px solid #D6D6D6; */
	float:left;
}

#BreadcrumbsArea a
{
    text-decoration: none;
	color:#262626;
}
#BreadcrumbsArea a:hover
{
    text-decoration: underline;
}
#BreadcrumbsArea .bcrumbs b a
{
   font-weight:700;
}
/************************/
/* SUBMENU              */
/************************/
#SubMenuNavigation
{
	background-color:#b0a6a0;
	width: 986px;
	padding-left:20px;
	/*height:24px;*/
	overflow:hidden;
	  height: 30px;
}


#SubMenuNavigationTab ul
{
	list-style: none;
	margin: 0;
	padding: 2px 0 0;
}

#SubMenuNavigationTab ul li
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	float:left;
	display:block;
	padding:3px 0 0 0;
	margin: 0;
}

#SubMenuNavigationTab ul li.Tab a
{
	padding: 0 6px 0 6px;
    color:#FFF;
	text-decoration: none;	
	display:block;
	float:left;
	overflow:hidden;
	text-align:center;
	cursor:hand;
	cursor:pointer;
	margin:0 2px;
	height:26px;
		font-size:11px;
	font-weight:bold;
}

#SubMenuNavigationTab ul li.Tab a:hover{
	background:#fff;
	color:#666666;
}

#SubMenuNavigationTab ul li.Tab span
{
    padding-right: 4px;
	text-decoration: none;
	display:block;
	min-width:35px;
	line-height:21px;
	font-size:11px;
	font-weight:bold;
}
#SubMenuNavigationTab ul li.ActiveTab a
{
	background: #fff;
	padding: 0 6px;
    color:#666666;
	text-decoration: none;
	display:block;
	float:left;
	/*overflow:hidden;*/
	text-align:center;
	cursor:hand;
	cursor:pointer;
	margin:0 2px;
	height:26px;
	font-size:11px;
	font-weight:bold;
}

#SubMenuNavigationTab ul li.ActiveTab span 
{
	text-decoration: none;
	padding-right:6px;
	display:block;
	min-width:35px;
	line-height:21px;
	font-size:11px;
	font-weight:bold;
	
}
/*************************/
/* LEFTMENU              */
/*************************/

#LeftMenuDiv
{
	font-size:1em;
}

#LeftMenuDiv .Selected
{
	font-weight:bold;
}

#LeftMenuDiv .SubLevelItem
{
	font-size:0.9em;
}

#LeftMenuDiv a, #LeftMenuDiv
{
	color: #3e3e3e;
}

#LeftMenuDiv{
	margin-bottom:20px;
	float:left;
}

.TopLinkTop, .TopLinkBottom, .SelectedTopLinkTop, .SelectedTopLinkBottom
{
	background-position: left top;
	background-repeat: no-repeat;
	height:2px;
	line-height:2px;
	font-size:2px;
}

#LeftMenuDiv .SelectedTopLink, #LeftMenuDiv ul li span.TopLink a{
 	background:url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -2px 2px;
	 background-color:#f1ede9;
	 display:block;
	 float:left;
	 line-height:18px;
	 padding:3px 0 3px 18px; 
	 text-decoration:none;
	 width:214px;
}

#LeftMenuDiv .TopLinkTop
{
	background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/TopItemTop.gif);
	display:none;
}

#LeftMenuDiv .TopLinkBottom
{
	background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/TopItemBottom.gif);
	margin-bottom:4px;
	display:none;
}


#LeftMenuDiv ul li span.TopLink a:hover
{
	background-color:#B9B5AF;
	/* background:url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsWhitegrey.gif) no-repeat -2px 2px;
*/
	background-image:url(/Templates/Scanweb/Styles/Default/Images/Icons/rightArrowOnGrey.gif);
	background-repeat:no-repeat;
	background-position:-2px 2px ;
 padding:3px 0 3px 18px;
	 line-height:18px;
	 color:#fff!important;
	 float:left;
	 width:214px;
}

#LeftMenuDiv span.SelectedTopLink a{
	font-weight:bold;
	text-decoration:none;
}
#LeftMenuDiv .SelectedTopLinkTop
{
	background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/SelectedTopItemTop.gif);
	display:none;
}

#LeftMenuDiv .SelectedTopLinkBottom
{
	background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/SelectedTopItemBottom.gif);
    margin-bottom:4px;
	display:none;
}

#LeftMenuDiv ul, #LeftMenuDiv li
{
	padding: 0;
	margin: 0;
	display:block;
	width:226px;
	list-style-type: none;
	float:left;
	margin-bottom:4px;
}

#LeftMenuDiv ul{
	border:0px solid #CFCECE;
	width:224px;
	margin-bottom:1px;
	padding:0;
}
#LeftMenuDiv ul li ul{
	border:1px solid #eee;
	margin-bottom:0px;
	margin-top:0px;
	padding:5px 0;
	margin-left:0px;
	padding-bottom:0px;
	overflow:hidden;
}
#LeftMenuDiv ul li ul li{
	margin-bottom:0px;
}
#LeftMenuDiv ul li ul li ul{border:0px solid #CFCECE; margin-left:10px;}

#LeftMenuDiv ul ul li{
	padding:5px 0;
	width:222px;
}

#LeftMenuDiv span
{
	padding: 0;
	margin: 0;
	display:block;
}
#LeftMenuDiv ul ul span, #LeftMenuDiv ul li ul li span
{
	margin-left:10px;
	padding-left:12px;
	background:url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat left center;
	line-height:120%;
	height:auto;
	
}

#LeftMenuDiv ul li ul li span
{
	 margin-left:25px;
	 background-position:-4px -3px;
}

#LeftMenuDiv ul li ul li ul 
{
	  margin-left:15px;	
}

#LeftMenuDiv ul ul ul span
{
	margin-left:20px;
	padding-left:12px;
	background: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/RedArrow2.gif) no-repeat left 3px;
}

#LeftMenuDiv ul ul ul ul span
{
	margin-left:30px;
	padding-left:12px;
	background: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/RedArrow2.gif) no-repeat left center ;
}
/*************************/
/* PAGEHEADER            */
/*************************/
#PageHeaderDiv
{
    width: 982px;   
    padding-left: 20px;
	border-bottom:1px solid #D6D6D6;
}


#PageHeaderArea
{
    width: 1002px;
    background-color: #FFF;
	border-left:1px solid #D6D6D6;
	border-right:1px solid #D6D6D6;
}

/*************************/
/* STAGEAREA             */
/*************************/
#StageArea
{
	float: left;
	width: 1004px;
	padding-bottom:20px;
	position:static;
	
}
#StageAreaWide
{
	float: left;
	width: 1004px;
}
#StageAreaWide #Header .borderH2,#StageAreaHotel #Header .borderH2, #StageAreaWide #Header .borderH1,#StageAreaHotel #Header .borderH1, #StageAreaWideFull #Header .borderH2,#StageAreaWideFull #Header .borderH1{text-transform:uppercase;}

#StageAreaHotel
{
	float: left;
}

#StageAreaWideFull
{
	float:left;
	width: 1004px;
}
/*************************/
/* CONTENTAREA DEFAULT   */
/*************************/
#StageArea #MainBodyArea
{
	width: 605px;
	float: left;
	display: inline;
	margin-left: 15px;
	margin-right: 12px;
	margin-top: 20px;
	/*[AE]*/padding-bottom: 20px;
}
#StageArea #SecondaryBodyArea
{
	float: left;
	width: 349px;
	display: inline;
	margin:0;
	margin-top: 20px;
}

/*************************/
/* CONTENTAREA WIDE      */
/*************************/

#StageAreaWide #MainBodyArea
{
	width: 748px;
	float: left;
	display: inline;
	margin-top: 10px;
}
#StageAreaWide #LeftMenuArea
{
    float: left;
    width: 226px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    display: inline;
    overflow:hidden;    
}
#StageAreaWide #MainBodyArea #MainBodyLeftArea
{
    float: left;
    width: 472px;
    display: inline;
    margin-left: 10px;
    margin-right:8px;
    margin-top: 10px;    
    /*[AE]*/padding-bottom: 20px;
    
}

/*********************************
*******IFRAME CSS STARTS**********
**********************************/
#StageAreaWide #MainBodyArea #iframeWithRightCol{
display:inline;
float:left;
margin-left:10px;
margin-right:8px;
margin-top:10px;
padding-bottom:20px;
width:472px;
/*AMS Fix for: artf929931 : Scanweb - iFrame pages - scrollbars double*/
/*overflow:scroll;*/
}

#StageAreaWide #MainBodyArea #iframeWithoutRightCol{
display:inline;
float:left;
margin-left:10px;
margin-right:8px;
margin-top:10px;
padding-bottom:20px;
width:718px;
/*AMS Fix for: artf929931 : Scanweb - iFrame pages - scrollbars double*/
/*overflow:scroll;*/
}

/*********************************
********IFRAME css ENDS***********
**********************************/

#StageAreaWide #MainBodyArea #MainBodyRightArea
{
	float: left;
	width: 241px;
	display: inline;
	margin-left: 0px;
	/*margin-right: 12px;*/
	margin-top: 7px;
	
	padding-top: 3px;
	
}
/*************************/
/* CONTENTAREA HOTEL     */
/*************************/

#StageAreaHotel #MainBodyArea
{
	width: 718px;
	float: left;
	display: inline;
	margin-top: 20px;
	margin-left: 20px;
	/*[AE]*/padding-bottom: 20px;
}
#StageAreaHotel #MainBodyArea #MainBodyLeftArea, #CountryBodyLeftArea
{
    float: left;
    width: 226px;    
    margin-right: 10px;
    display: inline;
}
#StageAreaHotel #MainBodyArea #MainBodyRightArea, #CountryBodyRightArea
{
    float: right;
    width: 472px;
    display: inline;
    margin-left: 10px;
    margin-right: 0px;
}
#StageAreaHotel #SecondaryBodyArea
{
	float: left;
	width: 241px;
	display: inline;	
	margin-left: 8px;
	margin-top: 20px;
}

/*************************/
/* CONTENTAREA FULL WIDE */
/*************************/

#StageAreaWideFull #MainBodyArea
{
	width: 735px;
	float: left;
	display: inline;
	margin-top: 20px;
	margin-left: 20px;
	/*[AE]*/padding-bottom: 15px;
}

#StageAreaWideFull #SecondaryBodyArea
{
	float: left;
	width: 241px;
	display: inline;
	margin-left: -9px;
	margin-top: 20px;
}

/*************************/
/* Test ABSOLUT POS      */
/*************************/
#StageAreaWide #MainBodyArea #MainBodyRightArea .moduleAbsolutePositioning
{
    position: relative;
    left: 10px;
    top: -60px;
    z-index: 2;
}


/*********************************/
/* Left Menu on Overview Page    */
/*********************************/

#OverviewPageMainRightArea #LeftMenuDiv .SelectedTopLink, #LeftMenuDiv ul li span.TopLink a,
#OverviewPageMainRightArea #LeftMenuDiv ul li span.TopLink a:hover
{	width:209px;}

#OverviewPageMainRightArea #LeftMenuDiv ul, #LeftMenuDiv li
{	width:221px;}

#OverviewPageMainRightArea #LeftMenuDiv ul
{	width:219px;}

#OverviewPageMainRightArea #LeftMenuDiv ul ul li
{	width:217px;}

#OverviewPageMainRightArea #LeftMenuDiv
{	width:226px;
	overflow:hidden;
	float:none;
	}