<%@ Page language="c#" Inherits="Scandic.Scanweb.CMS.Templates.Reservation.BookingDetails" Codebehind="BookingDetails.aspx.cs" MasterPageFile="~/Templates/Scanweb/MasterPages/MasterPageDefault.master" %>
