<%@ Page language="c#" Inherits="Scandic.Scanweb.CMS.Templates.Reservation.Confirmation" Codebehind="Confirmation.aspx.cs" MasterPageFile="~/Templates/Scanweb/MasterPages/MasterPageDefault.master" %>
