<%@ Page language="c#" Inherits="Scandic.Scanweb.CMS.Templates.Reservation.FindDestination" Codebehind="FindDestination.aspx.cs" MasterPageFile="~/Templates/Scanweb/MasterPages/MasterPageDefault.master" %>
