<%@ Page language="c#" Inherits="Scandic.Scanweb.CMS.Templates.Reservation.SelectHotel" Codebehind="SelectHotel.aspx.cs" MasterPageFile="~/Templates/Scanweb/MasterPages/MasterPageDefault.master" %>
<%-- To add markup for this WebForm you can do one of two things: 
        1. Use a Masterpage by adding the masterpage attribute in the @Page declaration above.
        2. Add markup directly in this file. You can start by uncommenting the section below.
--%>
<%-- 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="head1" runat="server">
    <title>SelectHotel</title>
</head>
<body>
    <form runat="server" id="form1">
    <div>
    
    </div>
    </form>
</body>
</html>
 --%>