
div.BE .btnSubmit a {		
	padding: 0px 0px 0px 7px !important;	
	cursor: pointer;
}
div.BE .btnSubmit a span {
	padding: 3px 20px 5px 13px !important; 
}

div.BE .frmCheckBox input, 
div.BE input.frmCheckBox, 
div.BE .frmRadio input, 
div.BE input.frmRadio {
	margin-left: -3px !important;	
}

div.BE .frmCheckBox label, 
div.BE label.frmCheckBox, 
div.BE .frmRadio input, 
div.BE label.frmRadio  {
	margin-left: 3px !important;
	margin-top: 0px !important;
}
#Loyalty #GauranteeInfo input {
	margin-right: -3px !important;		
}
#Loyalty .formGroupOne, #Loyalty .formGroupTwo {
	margin-bottom: 18px !important;	
}
#Loyalty #Terms .frmCheckBox label, #Loyalty #Terms label.frmCheckBox {
		margin: 0 0 0 5px;
}
#autosuggest li a,
#autosuggestFAH li a,
#autosuggestFYD li a,
#autosuggestCountryLanding li a{	
	height: auto !important;
}
#bookingDetailsLogin div.loginInfoCollapsed .loginInfo-bottom {	
	height: 15px !important;
	margin-top: -5px !important;
}

#commonControls #Tab1, #commonControls #Tab2, #commonControls #Tab3, #Tab4, #commonControls #Tab5 {
	float:left;
}

#Login_Box .loginInfo{
	width:251px;
}

#Login .formRow {
padding-bottom:7px;
}

div.rememberCheck input{
	margin:0;
	padding:0;
}

div.rememberCheck{
	margin-bottom:10px;
}
.loginFlyout .loginFlyContLft{width:420px;}
#my_carousel{min-height:170px;}
#yourStayMod05 .bookingContent h2.stoolHeading{top:0px;}
.imgGalPopUp .cnt .tabsCnt{padding-left:30px;}

/* Cancellation Alert Message */
.infoAlertBox p.canclInfo{display: inline-block;}
.RightColumnShiftUp .smallPromoBoxLight .regular,
.RightColumn .smallPromoBoxLight .regular{margin-left:12px !important}
div[id$='MeetingSearch226']{margin-left:13px !important}
.locBox .locContBox p span{margin-top:-13px;}
.RRWrapper{z-index:0;}
.toolTipFix{z-index:3;position:relative;}

div.validfld{position:absolute;}

.MyClass{top:23px !important; right:3px !important;}
#findAhotel .fltRt .newcl {line-height:18px;}
.clearleftie7{float:none!important;}
.ie7mgtop5{margin-top:7px;}
.chrmhelpiconfix span.help {position:relative!important;}
.modifyRoomContainer a.modLink{ clear:both; float:right;}
.RoomPref .lblChkBox {width:126px!important;}
.de .tabCntnt .tabCnt, .ru .tabCntnt .tabCnt {
background: url(/Templates/Booking/Styles/Default/Images/reservation2.0/tabContainerCnt.png) no-repeat left top!important;}
.de .tabCnt .formCnt, .ru .tabCnt .formCnt{padding-top:5px;}
.de .tabCnt .formLeftCnt, .ru .tabCnt .formLeftCnt{margin-top:5px;}
.masterReserMod21 .cnt .detailsColmLeft p.mrgBtm10{margin-bottom:0px;}
.tableData table td label, .tableData table td input{line-height:19px;}
div.chooseStayType {margin:0px 5px 0px 0px;}
div.chooseStayType span.help, div.map span.help{ background-position:7px -860px; padding-bottom:4px;}
.tabCnt .formLeftCnt label , .mapRadioCnt label{display:inline-block;vertical-align:top;}
.tabCnt div.chooseStayType label {vertical-align:none;}
.de div.chooseStayType, .ru div.chooseStayType{width:335px;}
#Loyalty .PINchoice input{margin-top:1px!important;}

#Loyalty .frmInputText{line-height:18px;}
#MemberLogin .chrmhelpiconfix{ margin-right: 305px!important;}
.chkMyInterest{display:inline;}
.benefittext {
    display: inline-block;
    vertical-align: middle;
    margin-top: expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2) + "px" : "0");
}
span.fgpInfo{margin-top:-22px!important;}
.ru .ie7widtclass {width:203px;}
#BookingDetails input.radio, #BookingDetails  input.frmInputChkBox{vertical-align: middle;margin-top:2px;}
select + div.error{margin-top:0px!important;}
div#EnrollLoyalty input.frmInputTextSmall{margin-top:0px !important; height:17px;}
#ctl00_MainBodyRegion_MainBodyLeftRegion_ctl04_ddlExpiryMonth {
    margin-top: 10px;
}
.PleaseCheck{ margin-top: 0px;}
.checkAccessRoom, #SpclReq .lblChkBox{margin-top:2px !important;}
#GuestInfo .formRow{ height: 40px;}
 #BookingDetails input.chkBx,  #BookingDetails input.checkbox{vertical-align: middle;margin-top:1px !important;}
 #BookingDetails input.chkEnroll{margin-top:-3px !important;vertical-align: top;}
   #BookingDetails .specialService input{padding-top:5px !important;}
   #BookingDetails .depositInfo input.radio{margin-top:1px !important;}
   .carousalWithOutBox{ margin-bottom:1px!important;}
#hotelOverviewTopImg{ margin-bottom:20px!important;}
.mrgTop5{margin: 3px 10px 10px 0px!important;}
.searchContainerFGP {
    padding-bottom: 5px;
    padding-top: 10px;
}
.de #XForm label {display:inline-block; }
.terms input.chkBx,  .terms input.checkbox{vertical-align: middle!important;}
.depositInfoMultiRoom{margin-bottom: 5px !important;}
}
#autosuggestFYD{margin-top:-14px !important;}
#autosuggestCountryLanding{margin-top:-68px;}
.findDestination #tabWrapper {margin-top:40px;}
.findDestination .scandicTabs{	height: 37px!important;}
#yourStayMod05 .regular {position:static!important;} 
#StageAreaWideFull #SecondaryBodyArea{margin-left: -22px;}
.removeMargin{margin-top:0px!important;}
#MainBodyRightArea .singleCol{margin-left: 3px!important;}
#MainBodyRightArea .smallPromoBoxLight .regular{margin-left:-1px !important}
.eachCityContainer{display:inline-block;
*display: inline;
    zoom: 1;}
.creditCardsList{margin:0px;}
.expand .hdRtFrst h1.bookingAccordHeader, h1.bookingAccordHeaderAlternate{
    margin: 7px 0 0 0!important;}
p.bookingAccordHeader, p.bookingAccordHeaderAlternate{
    margin: 5px 0 0 0!important;}
.ru h1.bookingAccordHeaderAlternate{
    margin: 10px 0 0 0!important;}	
#Loyalty .frmSelect {
    height: auto;
}
.signupformFGP p.formRow, .updateProfilePage p.formRow{height:auto!important;}
#SendButtonDiv .brandSearchBtn{text-align:left!important; padding:0 20px 0px 10px!important;}
.updateProfileSavebtn .brandSearchBtn{text-align:left!important; padding:0 20px 0px 10px!important;}
 
 
 h2.offerFilterBtn{

	/* behavior: url(ie-css3.htc); */
	behavior: url("/Templates/Booking/Styles/Default/PIE.htc");
	position: relative;
	zoom: 1; /* IE6 */
	z-index:9;
	}
    
h2.offerFilterActiveBtn{    
  
		behavior: url("/Templates/Booking/Styles/Default/PIE.htc");
	position: relative;
	zoom: 1; /* IE6 */}
	
.logout-user-drop {
float: none!important;
}
.user-points {
	width: 90%!important;
}
.actBtns { float:left; margin-top: -6px!important; }
#loginClosed .textContsv .text strong {
  margin-left: 34px;
}
.meetingHotelWrapper .actionBtn INPUT.buttonInner 
{
	padding: 0!important;
}
.MeetingSearchWrapper ul.meetingCatList , .meetingHotelWrapper ul.meetingCatList 
{
	margin-left: 0;
	margin-bottom: 0;
}
ul.meetingCatList { padding-top: 10px;}
ul.meetingCatList li { float: none; }
ul.meetingCatList li span { display: inline-block;}
ul.meetingCatList .meetingCategory span.ttpointer 
{
background: url('/Templates/Booking/Styles/Default/Images/reservation2.0/pointerRight.png') 20px top no-repeat!important;
z-index: 999999999;
position: relative;
display: block;
margin-top: -7px!important;
}
.meetingRoomDet { clear: none;}
