/* SMARTPHONES - PORTRAIT */
@media only screen and (min-width : 320px) {
	header h1 a {
		background: url('/Public/img/scandic-logo-small.png') no-repeat 0 0;
		width: 120px;
		height: 26px;
		margin-bottom: .5em;
	}
	header > div > ul > li {
		margin-bottom: .1em;
	}
	div.content-main ul.list-hotels li p.price {
		font-size: 1.2em;
	}
	div.content-main ul.list-hotels li h3 {
		font-size: 1em;
		font-weight: bold;
	}
	header > div {
		clear: left;
		float: left;
	}
	div.content-main ul.list-hotels li > span {
		width: 32%;
	}
	div.content-main ul.list-hotels li > div {
		width: 65%;
	}
}

/* SMARTPHONES - LANDSCAPE */
@media only screen and (min-width : 321px) {
	header h1 a {
		background: url('/Public/img/scandic-logo-large.png') no-repeat 0 0;
		width: 240px;
		height: 52px;
	}
	header > div {
		clear: none;
		float: right;
	}
	header > div > ul > li {
		margin-bottom: .5em;
	}
	div.content-main ul.list-hotels li > div {
		width: 67%;
	}
	div.content-main ul.list-hotels li p.price {
		font-size: 2.4em;
	}
}

/* SMARTPHONES - IPHONE4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	
}
/* IPAD - PORTRAIT */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	div.content-main  {
		float: left;
		width: 65%;
	}
	div.content-complementary {
		float: right;
		width: 30%;
		display: block; /* start showing complimentary column */
	}
}
/* DESKTOPS */
@media only screen and (min-width : 992px) {
	body {
		max-width: 960px;
	}
	div.content-main  {
		float: left;
		width: 65%;
	}
	div.content-complementary {
		float: right;
		width: 30%;
		display: block; /* start showing complimentary column */
	}
}