<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPageOffers.master.cs" Inherits="Scandic.Scanweb.CMS.Templates.Scanweb.MasterPages.MasterPageOffers" %>
<%@ Register TagPrefix="Scanweb" TagName="Header"		Src="~/Templates/Scanweb/Units/Static/Header.ascx" %>
<%@ Register TagPrefix="Scanweb" TagName="URLShortcuts"	Src="~/Templates/Scanweb/Units/Static/URLShortcuts.ascx" %>
<%@ Register TagPrefix="Scanweb" TagName="MainMenu"     Src="~/Templates/Scanweb/Units/Static/MainMenu.ascx" %>
<%@ Register TagPrefix="Scanweb" TagName="HotelNavigation"      Src="~/Templates/Scanweb/Units/Static/HotelLandingPage/HotelMenuNavigation.ascx" %>
<%@ Register TagPrefix="Scanweb" TagName="PageFooter"	Src="~/Templates/Scanweb/Units/Static/PageFooter.ascx" %>
<%@ Register TagPrefix="Scanweb" TagName="Breadcrumbs"	Src="~/Templates/Scanweb/Units/Static/Breadcrumbs.ascx" %>
<%@ Register TagPrefix="Scanweb" TagName="TopPageHeader" 	Src="~/Templates/Scanweb/Units/Placeable/TopPageHeader.ascx" %>
<%@ Register TagPrefix="Scanweb" TagName="SiteCatalyst" Src="~/Templates/Scanweb/Units/Static/SiteCatalyst.ascx" %>
<%@ Register TagPrefix="Booking" TagName="LoginStatus" 	            Src="~/Templates/Booking/Units/LoginStatus.ascx" %>
<%@ Register TagPrefix="Scanweb" TagName="Crisis"	Src="~/Templates/Scanweb/Units/Static/Crisis.ascx" %>
<%@ Register TagPrefix="Scanweb" TagName="cookieLaw" Src="~/Templates/Scanweb/Units/Placeable/CookieLaw.ascx" %>
<%@ Register TagPrefix="Scanweb" TagName="SiteCatalystCloudTag" Src="~/Templates/Scanweb/Units/Static/SiteCatalystCloudTag.ascx" %>
<%@ Register TagPrefix="Scanweb" TagName="AdobeDTMFooter" Src="~/Templates/Scanweb/Units/Static/AdobeDTMFooter.ascx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" runat="server" id="HtmlElement">
<!-- Travelocity_Top_Start --> 
	<head id="Head1" runat="server">
	    <Scanweb:SiteCatalystCloudTag runat="server" />
		<Scanweb:Header ID="Header1" runat="server" />
	</head>
	
	<body itemscope itemtype="http://schema.org/WebPage">
	    <a accesskey="s" class="hidden" href="#MainContentArea" tabindex="1000" title="<%= EPiServer.Core.LanguageManager.Instance.Translate("/navigation/skipnavigation") %>"><%= EPiServer.Core.LanguageManager.Instance.Translate("/navigation/skipnavigation") %></a>
		<!--RK: Commented the s_code.js call here as moving it to the sitecatalyst.ascx-- >
		<!-- Web Analythics JavaScripts -->
        <%--<script type="text/javascript" language="javascript" src="/Templates/Scanweb/Javascript/SiteCatalyst/s_code.js"></script>--%>
        <!-- End Web Analythics JavaScripts -->
        
		<form id="form1" runat="server">
            <!--R1.4: CR14: Major Crisis-->
			<Scanweb:Crisis ID="Crisis1" runat="server" />
		<div id="scanwebmaincontainer">
		<div id="scanwebmaincontainerinner">
			<div id="PageWide">
			 <asp:PlaceHolder ID="cookieLawPlaceHolder" runat="server"></asp:PlaceHolder>
				 <div id="TopShortcutArea">
				<!-- Travelocity_topnav_Start --> 
                    <Scanweb:URLShortcuts ID="URLShortcuts1" runat="server" />
                     <!-- Travelocity_topnav_End --> 
                     <div class="MainMenuLoginStatus">
                        <Booking:LoginStatus ID="MenuLoginStatus" runat="server" />
                     </div>
				</div>					
				<div id="HeaderArea" itemscope itemtype="http://schema.org/Organization">	
				 <!-- Travelocity_topImage_Start -->
				 <!--R1.7.3 [Opera V5 patch upgrade] | change for clickable logo for Hygine Release.-->	
				 <a runat="server" href="#" itemprop="url" id="ancLogoPageOffers">
				    <asp:Image runat="server" ID="HeaderImage" itemprop="logo" />
				    </a>
				     <!-- Travelocity_topImage_End -->
				</div>
				 
				<div id="MainMenuArea">
				 
				 <!-- Travelocity_mainNav_Start -->
				    <Scanweb:MainMenu runat="server" ID="MainMenu" />
				 <!-- Travelocity_mainNav_End -->
				</div>	
				<!-- Travelocity_Top_End --> 
				<div id="StageAreaHotel">							        	
		            <div id="BreadcrumbsArea">
                        <Scanweb:Breadcrumbs ID="Breadcrumbs" runat="server" />
                    </div>
                    <div id="Header" class="mainPageHeader">
                        <Scanweb:TopPageHeader ID="TopPageHeader1" runat="server" />
                    </div>
                    
		    	    <div id="MainBodyArea">	
	                    <asp:ContentPlaceHolder ID="MainBodyRegion" runat="server">	  
	                    </asp:ContentPlaceHolder>					    						    
				    </div>				      
				    <div id="SecondaryBodyArea">				        
	                    <asp:ContentPlaceHolder ID="SecondaryBodyRegion" runat="server">
	                    </asp:ContentPlaceHolder>
	                </div>
				</div>
				
	        
			</div>
	        <!-- Travelocity_Footer_Start --> 
					<Scanweb:PageFooter ID="PageFooter1" runat="server" />
		</div>
		</div>
		</form>  
	    <Scanweb:SiteCatalyst ID="SiteCatalyst1" runat="server" />
	      <!-- Travelocity_Footer_End --> 
	    <asp:ContentPlaceHolder ID="ScriptRegion" runat="server">
	    </asp:ContentPlaceHolder>
	    <!-- Adobe Dynamic Tag Management Footer -->
	    <Scanweb:AdobeDTMFooter runat="server" /> 
        <!-- End Adobe Dynamic Tag Management Footer -->
	</body>
</html>
