<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TestCDAL.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Scanweb.Units.TestCDAL" %>

<div class="find">
<h2>Test CDAL</h2>
      <strong>Please enter your destination</strong><br />
      <br />
      <asp:Panel DefaultButton="Button1" runat="server">
      <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Get all destinations" />
        <asp:Literal ID="CDALTime" runat="server"></asp:Literal>
        
      </asp:Panel>
</div>
<div>
<asp:Literal runat="server" ID="results" />
</div>
