html, body {
height: 100%;
}

body {
font: 13px verdana, helvetiva, sans-serif;
margin: 0; padding: 0;
color: #666;
}

h1, h2 {
margin: 0; padding: 0;
}

h1 {font-size: 30px; font-weight: normal; line-height: 24px; text-transform: uppercase}
h2 {font-size: 13px; width: 210px; }

a {
font-weight: bold;
color: #666;
display: block;
}

#page-wrap {
width: 980px;
margin: 0 auto;
position: relative;
height: 100%;
padding: 0 10px;
}

#header {
padding-bottom: 23px;
border-bottom: 1px solid;
margin-bottom: 23px;
padding-top: 40px;
}

#logo {
margin-left: 10px;
}

#content {
padding-bottom: 60px;
}

#sidebar {
width: 265px;
float: left;
padding-left: 10px;
}

#main {
float: left;
width: 580px;
padding-left: 15px;
}

#footer {
background: black;
position: fixed;
bottom: 0px;
width: 980px;
color: #fff;
font-size: 11px;
padding: 0;
}

#footer p {
padding-left: 30px;
float: left;
line-height: 25px;
margin: 0;
font-size: 11px;
}

h2 {
background: #000;
color: #fff;
padding: 5px;
}

.clearfix:before, .clearfix:after {content: "\0020"; display: block; height: 0; visibility: hidden;	} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
