﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ScanWeb404.aspx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Scanweb.Pages.ScanWeb404" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>400 Bad request</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/404/Styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/404/Structure.css" />
    <style type="text/css">
        div{
            text-align:left;
        }
    </style>
</head>
<body>
    <div id="PageWide">
      
        <div id="StageAreaWide">
          
		<div id="SP_HeaderArea">
             <!-- Travelocity_topImage_Start -->
             <a href ="#" runat="server" id="ancLogo404">
                <img alt="Scandic Hotels" src="/404/TopLogo.gif"/>
                </a>
                <!-- Travelocity_topImage_End -->
            </div>
			
            <div id="LeftMenuArea">
			<h2 class="lightHeading">Contact us</h2>
              
			 <p>
			 	<strong>Scandic</strong><br>
              P.O. Box 6197<br>
              SE-102 33 Stockholm<br>
              Sweden<br>
              Visiting address: Hälsingegatan 40<br>
              Telephone: +46 8 517 350 00
							</p>
				
				<p>
					<strong>If you like to make a reservation Please
					contact scandic Reservation and customer service at:
					</strong>
			    </p>
				<div class="countryDetails">
					<ul>
						<li>
							<label>International:</label>
							<strong>+46 8 517 517 20</strong>
						</li>
						<li>
							<label>Sweden:</label>
							<strong>08-517 517 00</strong>
						</li>
						<li>
							<label>Denmark:</label>
							<strong>33 48 04 00</strong>
						</li>
							
						<li>
							<label>Norway:</label>
							<strong>23 15 50 00</strong>
						</li>
						
						<li>
							<label>Finland:</label>
							<strong>0 800 069 69</strong>
						</li>
						<li>or the hotel directly </li>						
					</ul>
				</div>
            </div>
            <div id="MainBodyArea">
                <div id="MainBodyLeftArea">
                    <h1>404 Page not found</h1>
                    
											<p>
												The request was denied due to a syntax error in the request: 
								<strong><a href="http://www.scandichotels.com">www.scandichotels.com</a></strong><br>
												<p>
												 Sidan kan inte hittas: <strong><a href="http://www.scandichotels.se">www.scandichotels.se</a></strong><br>
												<p>
												Finner ikke siden:  <strong><a href="http://www.scandichotels.dk">www.scandichotels.dk</a></strong><br>
												<p>
												Sivua ei löydy: <strong><a href="http://www.scandichotels.fi">www.scandichotels.fi</a></strong> <br>
												<p>
												Finner ikke siden: <strong><a href="http://www.scandichotels.no">www.scandichotels.no</a></strong><br>
												<p>
												Seite nicht gefunden. Bitte gehen Sie zu: <strong><a href="http://www.scandichotels.de">www.scandichotels.de</a></strong><br>
												<p>
												Страница не найдена, пожалуйста, перейдите на: <strong><a href="http://www.scandichotels.ru">www.scandichotels.ru</a></strong><br>
                          <br>
					
                     
                         
										</p>
									
																																						
                </div>
                <div id="MainBodyRightArea">
               										
                </div>
            </div>
        </div>
        <div id="FooterArea">
            <div>
                <table width="600" border="0">
                    <tbody>
                        <tr valign="top">
                            <td width="30">
                            </td>
                            <td>
                                &copy;&nbsp;Scandic 2009
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</body>
</html>

<!-- Web Analythics JavaScripts -->
<script type="text/javascript" language="javascript" src="/Templates/Scanweb/Javascript/SiteCatalyst/s_code.js"></script>
<!-- End Web Analythics JavaScripts -->

<script type="text/javascript" language="javascript">
    s.pageName=""; // R 1.6.1 - site catalyst - tracking error pages
    s.pageType="errorPage"; // R 1.6.1 - site catalyst - tracking error pages

/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code)document.write(s_code)//--></script>
<script type="text/javascript" language="JavaScript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//--></script><noscript><a href="http://www.omniture.com" title="Web Analytics"><img
src="http://schabdev.112.2O7.net/b/ss/schabdev/1/H.14--NS/0?[AQB]&cdp=3&[AQE]"
height="1" width="1" border="0" alt="" /></a></noscript><!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.14. -->

