/************************/
/* MASTERPAGEDEFAULT    */
/************************/

/************************/
/* HEADER               */
/************************/
#HeaderArea
{	
	width: 1004px;
	height: 100px;
}
/************************/
/* MAINMENUAREA         */
/************************/
#MainMenuArea
{		
	width: 100%;
	height: 25px;
	position:relative;
	z-index:10;
	
}

#MainMenuArea .MainMenuLoginStatus
{		
	float: left;
	width: 300px;
	overflow:hidden;
}

.MainMenuLoginStatus #Login
{
	float:right;
}


#MainMenuTopMenu
{
	width:704px;
	float:left;
}

#MainMenu
{
	margin: 0 0 0 1em;
	padding: 0;
	list-style-type: none;
}
#MainMenu li
{
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0 0 0;
	color: White;
}
#MainMenu li a
{
	display: block;
	padding: 6px 1.1em 6px 1.1em;
	text-decoration: none;
	font-size: 1em;
	color: White;
}
#MainMenu li.selected a
{	
	color: White;
}
/************************/
/* MASTERPAGESTART      */
/************************/
/************************/
/* HEADER               */
/************************/
#SP_HeaderArea{	
	background:transparent url("headerBackground.gif") repeat-x scroll center bottom;
	height:35px;
	overflow:hidden;
	padding:10px 0 15px 20px;
	text-align:left;
	width:984px;
}



/************************/
/* MAINMENUAREA         */
/************************/
#SP_MainMenuArea
{
	float: left; 
	width: 100%;
	height: 25px;
	background-color: White;
	color: #ece1bc;
}

#SP_MainMenu
{
	margin: 0 0 0 1em;
	padding: 0;
	list-style-type: none;
	
}
#SP_MainMenu li
{
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0 0 0;
	color: #ece1bc;
}
#SP_MainMenu li a
{
	display: block;
	padding: 6px 1.1em 6px 1.1em;
	text-decoration: none;
	font-size: 1.2em;
}
#SP_MainMenu li.selected a
{	
	color: #ece1bc;
}
/************************/
/* BREADCRUMBSAREA      */
/************************/
#BreadcrumbsArea
{
    width: 984px;
    background-color: #E3DDD3;    
    padding-top:6px;
    padding-bottom: 6px;
    padding-left: 20px;
    vertical-align: top;
    font-size: 0.85em;
    color: #666666;
}

#BreadcrumbsArea a
{
    text-decoration: none;
}
#BreadcrumbsArea a:hover
{
    text-decoration: underline;
}
/************************/
/* SUBMENU              */
/************************/
#SubMenuNavigation
{
	background-color: #E3DDD3;
	width: 984px;
	padding-left:20px;
	height:30px;
	overflow:hidden;
}


#SubMenuNavigationTab ul
{
	list-style: none;
	margin: 0;
	padding: 0 0 0 0;
}

#SubMenuNavigationTab ul li
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	float:left;
	display:block;
	padding: 5px 5px 0 0;
	margin: 0;
}

#SubMenuNavigationTab ul li.Tab a
{
	background: url(/Templates/Scanweb/Styles/Default/Images/TabLeft.gif) top left no-repeat;
	padding: 0 0 0 10px;
    color:White;
	text-decoration: none;	
	display:block;
	float:left;
	overflow:hidden;
	text-align:center;
	cursor:hand;
	cursor:pointer;
}

#SubMenuNavigationTab ul li.Tab span
{
	background: url(/Templates/Scanweb/Styles/Default/Images/TabRight.gif) top right no-repeat;
    padding-right: 10px;
    color:White;
	text-decoration: none;
	display:block;
	padding-top:3px;
	padding-bottom:3px;
	min-width:35px;
}
#SubMenuNavigationTab ul li.ActiveTab a
{
	background: url(/Templates/Scanweb/Styles/Default/Images/TabLeftActive.gif) top left no-repeat;
	padding: 0 0 0 10px;
    color:#666666;
	text-decoration: none;
	display:block;
	float:left;
	overflow:hidden;
	text-align:center;
	cursor:hand;
	cursor:pointer;
}

#SubMenuNavigationTab ul li.ActiveTab span 
{
	text-decoration: none;
	color:#666666;
	padding-right:10px;
	display:block;
	padding-top:3px;
	padding-bottom:3px;
	background: url(/Templates/Scanweb/Styles/Default/Images/TabRightActive.gif) top right no-repeat;
	min-width:35px;
	
}
/*************************/
/* LEFTMENU              */
/*************************/

#LeftMenuDiv
{
	font-size:1em;
}

#LeftMenuDiv .Selected
{
	font-weight:bold;
}

#LeftMenuDiv .SubLevelItem
{
	font-size:0.8em;
}

#LeftMenuDiv a, #LeftMenuDiv
{
	color: #3e3e3e;
}

.TopLinkTop, .TopLinkBottom, .SelectedTopLinkTop, .SelectedTopLinkBottom
{
	background-position: left top;
	background-repeat: no-repeat;
	height:2px;
	line-height:2px;
	font-size:2px;
}

#LeftMenuDiv .TopLink
{
	 background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/TopItem.gif);
	 background-color:White;
	 border-left: solid 1px #eeeeee;
	 border-right: solid 1px #eeeeee;
	 background-position: left 2px;
	 background-repeat: no-repeat;
	 padding-left:16px;
}

#LeftMenuDiv .TopLinkTop
{
	background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/TopItemTop.gif);
}

#LeftMenuDiv .TopLinkBottom
{
	background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/TopItemBottom.gif);
	margin-bottom:4px;
}

#LeftMenuDiv .SelectedTopLink
{
	 background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/SelectedTopItem.gif);
	 background-position: left 2px;
	 background-color:#e7e7e7;
	 background-repeat: no-repeat;
	 padding-left:16px;
}

#LeftMenuDiv .SelectedTopLinkTop
{
	background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/SelectedTopItemTop.gif);
}

#LeftMenuDiv .SelectedTopLinkBottom
{
	background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/SelectedTopItemBottom.gif);
    margin-bottom:4px;
}

#LeftMenuDiv ul, #LeftMenuDiv li
{
	padding: 0;
	margin: 0;
	display:block;
	width:226px;
	list-style-type: none;
}

#LeftMenuDiv span
{
	padding: 0;
	margin: 0;
	display:block;
}
#LeftMenuDiv ul ul span
{
	margin-left:10px;
	padding-left:12px;
	background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/RedArrow2.gif);
	background-position: left center;
	background-repeat: no-repeat;
	line-height:120%;
	height:auto;
	
}

#LeftMenuDiv ul li ul li span
{
	 margin-left:35px;
	 background-position: left 1px;
}

#LeftMenuDiv ul li ul li ul 
{
	  margin-left:30px;	
}

#LeftMenuDiv ul ul ul span
{
	margin-left:20px;
	padding-left:12px;
	background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/RedArrow2.gif);
	background-position: left 3px;
	background-repeat: no-repeat;
}

#LeftMenuDiv ul ul ul ul span
{
	margin-left:30px;
	padding-left:12px;
	background-image: url(/Templates/Scanweb/Styles/Default/Images/LeftMenu/RedArrow2.gif);
	background-position: left center;
	background-repeat: no-repeat;
}
/*************************/
/* PAGEHEADER            */
/*************************/
#PageHeaderDiv
{
    width: 984px;   
    padding-left: 20px;
}

#PageHeaderArea
{
    width: 1004px;
    background-color: #E3DDD3;
    height:52px;
}

/*************************/
/* STAGEAREA             */
/*************************/
#StageArea
{
	float: left;
	width: 1004px;
}
#StageAreaWide
{
	float: left;
	width: 1004px;
}
#StageAreaHotel
{
	float: left;
	width: 1004px;
}

#StageAreaWideFull
{
	float:left;
	width: 1004px;
}
/*************************/
/* CONTENTAREA DEFAULT   */
/*************************/
#StageArea #MainBodyArea
{
	width: 595px;
	float: left;
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	/*[AE]*/padding-bottom: 20px;
}
#StageArea #SecondaryBodyArea
{
	float: left;
	width: 349px;
	display: inline;
	margin-top: 10px;
}

/*************************/
/* CONTENTAREA WIDE      */
/*************************/

#StageAreaWide #MainBodyArea
{
	width: 748px;
	float: left;
	display: inline;
	margin-top: 10px;
}
#StageAreaWide #LeftMenuArea
{
    float: left;
    width: 226px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    display: inline;
    overflow:hidden;    
}
#StageAreaWide #MainBodyArea #MainBodyLeftArea
{
    float: left;
    width: 472px;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;    
    /*[AE]*/padding-bottom: 20px;
    
}
#StageAreaWide #MainBodyArea #MainBodyRightArea
{
	float: right;
	width: 226px;
	display: inline;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 10px;
	overflow:hidden;
	
}
/*************************/
/* CONTENTAREA HOTEL     */
/*************************/

#StageAreaHotel #MainBodyArea
{
	width: 728px;
	float: left;
	display: inline;
	margin-top: 20px;
	margin-left: 20px;
	/*[AE]*/padding-bottom: 20px;
}
#StageAreaHotel #MainBodyArea #MainBodyLeftArea
{
    float: left;
    width: 226px;    
    margin-right: 10px;
    display: inline;
}
#StageAreaHotel #MainBodyArea #MainBodyRightArea
{
    float: left;
    width: 472px;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
#StageAreaHotel #SecondaryBodyArea
{
	float: right;
	width: 226px;
	display: inline;	
	margin-right: 20px;
	margin-top: 20px;
}

/*************************/
/* CONTENTAREA FULL WIDE */
/*************************/

#StageAreaWideFull #MainBodyArea
{
	width: 718px;
	float: left;
	display: inline;
	margin-top: 20px;
	margin-left: 20px;
	/*[AE]*/padding-bottom: 20px;
}

#StageAreaWideFull #SecondaryBodyArea
{
	float: left;
	width: 226px;
	display: inline;
	margin-left: 20px;
	margin-top: 20px;
}

/*************************/
/* Test ABSOLUT POS      */
/*************************/
#StageAreaWide #MainBodyArea #MainBodyRightArea .moduleAbsolutePositioning
{
    position: relative;
    left: 10px;
    top: -60px;
    z-index: 2;
}

#StageAreaWide #MainBodyArea #MainBodyLeftArea{width:700px;}