h1, .heading1
{
    font-weight: normal;
    font-size:1.8em;
    color:#666666;
    line-height:19pt;
    padding: 0;
    margin: 0 0 0 0;
    EditMenuName: Heading 1;
}
h2, .heading2 
{
    font-weight: normal;
    font-size: 1.3em;
    color:#999999;
    line-height:19pt;
    padding: 0;
    margin:  10px 0 10px 0;
    EditMenuName: Heading 2;
}

h2.DottedUnderLineBlock
{
	EditMenuName: Heading 2 Dotted Underline;
}

.IconLink
{
	background-image: url(/Templates/Scanweb/Styles/Default/Images/Icons/red_arrow_small.gif);
	background-position: left center;
	background-repeat:no-repeat;
	padding-left:12px;
	EditMenuName: Ordinary link;
}
.DownloadIconLink
{
	background-image: url(/Templates/Scanweb/Styles/Default/Images/Icons/download.gif);
	background-position: left center;
	background-repeat:no-repeat;
	padding-left:12px;
	EditMenuName: Download link;
}

.DottedUnderLineBlock
{
	display:block;
	background-image: url(/Templates/Scanweb/Styles/Default/Images/horizontal_rule.gif);
	background-repeat: repeat-x;
	background-position:bottom;
	EditMenuName: Dotted underline block;
}

a
{
	color: #000000;
}