#TopMenu .TopSubMenu li.fly
{
	padding-left: 12px !important;
}

#SubMenuNavigationTab ul li.Tab a
{
	float:none !important;
}
#SubMenuNavigationTab ul li.ActiveTab a
{
 float:none !important;
}
.spl_IconLink
{
 padding-left:12px !important;
}
#StartPage #RightContentArea #FlashArea #PromotionImage #Mainofferlinkcontainer
{
	margin-top:0px!important;
}

}
.startPageInfoBoxContent
{
 width:451px !important;
}


#StageAreaWide #MainBodyArea #MainBodyRightArea
{
	overflow:visible !important;
}
.GuestProgramRedemptionListSortBy
{
 margin-top:-26px ! important;
 
}
#GuestProgramRedemption
{
	 margin-top:25px !important;	
}

html>body .BoxContainer
{
	display:block;
	float:left;
	width:100%;
}

/* for chrome .css */
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
div.chooseStayType {margin-top: 2px;}
div.chooseStayType span.help, div.map span.help{ background-position:7px -859px; padding-bottom:7px;}
a.help {text-decoration:none!important;}
select.enpasquestion{margin-top:4px;}
div.validfld { position:relative;display:inline-block!important;color: green!important;}
.bookingDetail div.validfld{position:absolute;}
.ie8width  div.validfld{position:relative;vertical-align:top;}
#HotelLocationDetailedMapRight .FindYourWay{width:66%;}
.ru .chromefixclearleft{clear:left;}
.bkingLink .actionBtn .scansprite {line-height: 45px !important;}
#ContactFormArea #id_matrix span{line-height:10.3pt}
#XForm table{border-spacing:1px;}
#XForm td{line-height:15.3pt;}
.cnt .grayBox{padding:4px 10px!important;}
.conf_Popup .jqmWindow{overflow:visible!important;}
.conf_Popup #LeftContentArea{width:500px;}
.conf_Popup #BookingArea, .conf_Popup .confPopupbookingArea{overflow-x:hidden!important;overflow-y:scroll!important;max-height:590px;}
.conf_Popup #BookingArea .bookingContent, .conf_Popup .confPopupbookingArea .bookingContent{right:0px!important;}
#BookingDetails input.radio, #BookingDetails  input.frmInputChkBox, #BookingDetails input.chkBx{margin-top:3px;}
.chrmLineHeight{line-height:22px;}
#autosuggestFYD{margin-top: -13px;}
#autosuggestCountryLanding{margin-top: -69px;}
span.alternateCurrency  div.ttContainer{ right: 81px;}
#tandc div.validfld { display:inline!important;}
}