
  /*=====================================================*/
 /*    Firefox 1.5                                      */
/*_____________________________________________________*/

/* Get rid of the margin, padding and bullets in the unordered lists */
#topmenu, #topmenu ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 14px;
	font-family: arial;
	color: #666666;
	position: relative;
}



/* Set up the link size, color and borders */
#topmenu a, #topmenu a:visited
{
	display: block;
	color: #666666;
	height: 25px;
	line-height: 25px;
	text-decoration: none;
	padding-left: 12px;
	padding-right: 12px;
}




/* Set up the list items */
#topmenu li
{
	float: left;
	background: #FFFFFF;
}

/* For Non-IE browsers and IE7 */
#topmenu li:hover
{
	position: relative;
}
/* Make the hovered list color persist */
#topmenu li:hover > a
{
	background: #E3DDD3;
	color: #666666;
}
/* Set up the sublevel lists with a position absolute for flyouts and overrun padding. The transparent gif is for IE to work */
#topmenu li ul
{
	display: none;
	background-color: #FFFFFF;
}
/* For Non-IE and IE7 make the sublevels visible on list hover. This is all it needs */
#topmenu li:hover > ul
{
	display: block;
	position: absolute;
	top: -11px;
	left: 80px; 
	background: #FFFFFF;
	width: 200px;
	color: #666666;
	padding-left: 10px;
	
}
/* Position the first sub level beneath the top level liinks */
#topmenu > li:hover > ul
{
	left: 0;
	top: 24px;
}

#submenu li:hover > a
{
	background: #FFFFFF;
	color: #333333;
	text-decoration: underline;
}
#submenu a, #submenu a:visited
{
	display: block;
	font-size: 12px;
	width: auto;
	font-family: arial;
	color: #666666; 
	padding-left: 0;
}
#submenu
{
	display: none;
	border: 1px solid #E3DDD3;
}
#submenu li
{
	display:block;
	float:none;
}

#submenu li.fly
{
	background: #FFFFFF;
	background-image: url(../Default/Images/redfly2.gif);
	background-repeat: no-repeat;
	background-position:left center;
	padding-left: 12px;
	padding-top: 1px;

}


#submenu .Separator
{
	height: 2px;
	position:relative;
	left:12px;
	top:0px;
	margin-bottom:2px;
	background: url(../Default/Images/horizontal_rule.gif);
	background-repeat:repeat-x;
	width:170px;	
	
}

