/************************/
/* MASTERPAGEDEFAULT    */
/************************/

/************************/
/* HEADER               */
/************************/
#HeaderArea
{	
	width: 1004px;
	height: 100px;
}
/************************/
/* MAINMENUAREA         */
/************************/
#MainMenuArea
{		
	float: left; 
	width: 100%;
	height: 25px;
	
}
#MainMenu
{
	margin: 0 0 0 1em;
	padding: 0;
	list-style-type: none;
}
#MainMenu li
{
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0 0 0;
	color: White;
}
#MainMenu li a
{
	display: block;
	padding: 6px 1.1em 6px 1.1em;
	text-decoration: none;
	font-size: 1em;
	color: White;
}
#MainMenu li.selected a
{	
	color: White;
}
/************************/
/* BREADCRUMBSAREA      */
/************************/
#BreadcrumbsArea
{
    float: left;
    width: 984px;
    background-color: #E3DDD3;    
    padding-bottom: 6px;
    padding-left: 20px;
    vertical-align: top;
    font-size: 0.85em;
    color: #666666;
}

#BreadcrumbsArea a
{
    text-decoration: none;
}
#BreadcrumbsArea a:hover
{
    text-decoration: underline;
}
/*************************/
/* PAGEHEADER            */
/*************************/
#PageHeaderDiv
{
    float: left;
    width: 100%;   
    display: inline;
    padding-left: 20px;
    background-color: #E3DDD3;
}
/*************************/
/* STAGEAREA             */
/*************************/
#StageArea
{
	float: left;
	width: 1004px;
}
#StageAreaWide
{
	float: left;
	width: 1004px;
}
/*************************/
/* CONTENTAREA 5-3       */
/*************************/
#StageArea #MainBodyArea
{
	width: 615px;
	float: left;
	padding-right: 10px;
	display: inline;
}
#StageArea #SecondaryBodyArea
{
	float: left;
	width: 379px;
}
#StageArea #SecondaryBodyArea #FillOut
{
    float: left;
    width: 379px;
    height: 46px;
    background-color: #E3DDD3;
    margin-bottom: 10px;
}
/*************************/
/* CONTENTAREA 3-1       */
/*************************/
#StageAreaWide #MainBodyArea
{
	width: 738px;
	float: left;
	padding-right: 10px;
	display: inline;
}
#StageAreaWide #SecondaryBodyArea
{
	float: left;
	width: 256px;
}
#StageAreaWide #SecondaryBodyArea #FillOut
{
    float: left;
    width: 256px;
    height: 46px;
    background-color: #E3DDD3;
    margin-bottom: 10px;    
}