<%@ Page language="c#" Inherits="Scandic.Scanweb.CMS.Templates.Reservation.FindDestination" Codebehind="FindDestination.aspx.cs" MasterPageFile="~/Templates/Scanweb/MasterPages/MasterPageDefault.master" %>

<%--<%@ Register TagPrefix="Booking" TagName="AvailabilitySearchSmall" Src="~/Templates/Booking/Units/AvailabilitySearchSmall.ascx" %>--%>

<asp:Content ContentPlaceHolderID="MainBodyRegion" runat="server">
    <%--<Booking:AvailabilitySearchSmall runat="server" />--%>
</asp:Content>
