<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BookingGoogleMap.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Units.Static.BookingGoogleMap" %>

<div style="background-color:lime;">
<strong>Dummy GoogleMap</strong>
<br />
Entries in session:
<asp:Literal ID="TestLiteral" runat="server"></asp:Literal>
</div>