<%@ Control Language="C#" AutoEventWireup="False" CodeBehind="MainBody.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Units.Placeable.MainBody" %>

<div id="MainBody" class="flushLineHt">
    <div id="OfferMainBody" runat="server">
        <EPiServer:Property PropertyName="MainBody" EnableViewState="false" runat="server" />
    </div>
</div>