<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TopPageHeader.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Scanweb.Units.Placeable.TopPageHeader" %>
 <h1 class="borderH2"><asp:Literal ID="ltlHeading" runat="server" /></h1>
 <asp:PlaceHolder ID="phSchemaOrgCountryCityName" runat="server"></asp:PlaceHolder>