﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MobileCookieLaw.ascx.cs" Inherits="Scandic.Scanweb.Mobile.Templates.Controls.MobileCookieLaw" %>
<%@ Import Namespace="Scandic.Scanweb.CMS.DataAccessLayer" %>
<div id="CookieWrapper" runat="server" style="display:none;"  class="cookieLawWrapper cookieLaw">
	            <div id="cookieLawMessageDiv" class="cookietext" runat="server"></div>
	            <div class="agreeCookiewrapper"> 
		            <a id="agreeCookie"  class="agreeCookie cookieOklink button green" runat="server"></a>
	            </div>
            </div>     