#TopMenu .TopSubMenu .Separator{margin-bottom:-10px !important;	margin-top:-10px;}.hotelInformation div{float:none;width:214px;display:block;}#offersArea div div.bottomLinks a, #pboxOfferBig div.pboxTextBig div.bottomLinks a, #smallOfferArea div div.bottomLinks a{float:none;}.LeftListNavigation .LinkListItem, .LeftNavigation .LinkListItem{margin-bottom:4px !important;}.OfferCategoryListingLeftColumn .RoundedCornersImage226{height:100%;overflow:hidden;}#StartPage #RightContentArea{height:480px;}#HotelLocationDetailedMapRight .FindYourWay .DirectionsButton{padding-bottom:2px;}#HotelLocationDetailedMapRight .FindYourWay .address{margin-bottom:5px;}#MeetingSearch349 #FindHotelVenue .FindHotelVenueTopEN, #MeetingSearch349 #FindHotelVenue .FindHotelVenueTopSV, #MeetingSearch349 #FindHotelVenue .FindHotelVenueTopNO,#MeetingSearch349 #FindHotelVenue .FindHotelVenueTopFI, #MeetingSearch349 #FindHotelVenue .FindHotelVenueTopDA{background-position:5px 0;}#OverviewMapArea{float:left;}
/*reservation fix*/
.cnt .bookingCode input.stayInputLft{height:21px;}.cnt .bookingCode .stayInptRt{margin-top:1px;}.alertContainer .spriteIcon strong{float:left;}
.tabCnt .formCnt input{border:none;}#BookingDetails .formRow{clear:both;}#BookingDetails .formRow input{border:none;}
#BookingDetails .alertContainer .spriteIcon strong{float:none;}
.alertContainer .spriteIcon STRONG.fltLft{float:left !important;}
.BoxContainer div.smallPromoBoxLight{margin-bottom:10px !important}

 div.cookieLawMessage{margin-top:5px;}
 a.cookielink{line-height:1.5em;}
 #cookieLaw{top:auto; left:auto;}
   
#MeetingsSearchMainBodyArea .btnSendRFPs input.buttonRt { background-position: 0px -917px!important; height:35px!important;}
#MeetingsSearchMainBodyArea .btnSendRFPs input.buttonInner{WIDTH: 225px! important; LINE-HEIGHT: 25px!important;}
.bkingLink .actionBtn .scansprite{line-height:38px!important; }
div#Subscription .actionBtn input.scansprite    {width: 92px;}
#pboxOfferBig div.pboxTextBig div.bottomLinks { width: auto; float: none;}
