/* IE7 */

/* Get rid of the margin, padding and bullets in the unordered lists */
#topmenu, #topmenu ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 14px;
	font-family: arial;
	color: #535353;
	position: relative;
}



/* Set up the link size, color and borders */
#topmenu a, #topmenu a:visited
{
	display: block;
	color: #535353;
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 15px;
}




/* Set up the list items */
#topmenu li
{
	float: left;
	background: #FFFFFF;
}

/* For Non-IE browsers and IE7 */
#topmenu li:hover
{
	position: relative;
}
/* Make the hovered list color persist */
#topmenu li:hover > a
{
	background: #E3DDD3;
	color: #666666;
}
/* Set up the sublevel lists with a position absolute for flyouts and overrun padding. The transparent gif is for IE to work */
#topmenu li ul
{
	display: none;
	background-color: #FFFFFF;
}
/* For Non-IE and IE7 make the sublevels visible on list hover. This is all it needs */
#topmenu li:hover > ul
{
	display: block;
	position: absolute;
	top: -11px;
	left: 80px;
	background: #FFFFFF;
	width: 200px;
	color: #666666;
	padding-left: 10px;
}
/* Position the first sub level beneath the top level liinks */
#topmenu > li:hover > ul
{
	z-index:1;
	left: 0;
	top: 24px;
}

#submenu li:hover > a
{
	background: #FFFFFF;
	color: #333333;
	text-decoration: underline;
	cursor: hand;
}
#submenu a, #submenu a:visited
{
	display: block;
	font-size: 12px;
	width: auto;
	font-family: arial;
	color: #666666;
	padding-left: 0;
	cursor: hand;
}
#submenu
{
	display: none;
	border: 1px solid #E3DDD3;
}
#submenu li
{
	display: block;
	float: none;
}

#submenu li.fly
{
	background: #FFFFFF;
	background-image: url(../Default/Images/redfly2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 16px;
	padding-top: 1px;
}
#topmenu li.selected
{
	background: #E3DDD3;
}

#submenu .Separator
{
	height: 2px;
	position: relative;
	top: 0px;
	margin-bottom: 2px;
	padding: 0;
	margin: 0;
	background: url(../Default/Images/horizontal_rule.gif) repeat-x;
	font-size: 1px;
	background-repeat: repeat-x;
	width: 170px;
}

