/************************/
/* MASTERPAGEDEFAULT    */
/************************/

/************************/
/* HEADER               */
/************************/
#HeaderArea
{	
	width: 1004px;
	height: 100px;
}
/************************/
/* MAINMENUAREA         */
/************************/
#MainMenuArea
{		
	float: left; 
	width: 100%;
	height: 25px;
	
}
#MainMenu
{
	margin: 0 0 0 1em;
	padding: 0;
	list-style-type: none;
}
#MainMenu li
{
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0 0 0;
	color: White;
}
#MainMenu li a
{
	display: block;
	padding: 6px 1.1em 6px 1.1em;
	text-decoration: none;
	font-size: 1em;
	color: White;
}
#MainMenu li.selected a
{	
	color: White;
}
/************************/
/* BREADCRUMBSAREA      */
/************************/
#BreadcrumbsArea
{
    float: left;
    width: 984px;
    background-color: #E3DDD3;    
    padding-bottom: 6px;
    padding-left: 20px;
    vertical-align: top;
    font-size: 0.85em;
    color: #666666;
}

#BreadcrumbsArea a
{
    text-decoration: none;
}
#BreadcrumbsArea a:hover
{
    text-decoration: underline;
}
/************************/
/* SUBMENU              */
/************************/
#SubMenuNavigation
{
	background-color: #E3DDD3;
	width: 984px;
	padding-left: 20px;
}

#SubMenuNavigationTab
{
	height: 21px;
}

#SubMenuNavigationTab ul
{
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

#SubMenuNavigationTab ul li
{
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	margin: 0 2px 0 0;
}

#SubMenuNavigationTab ul li.unselected a
{
	color: #FFF;
	float: left;
	background: url(../../Styles/Default/Images/img_tab_left.gif) top left no-repeat;
	padding: 0 0 0 7px;
	display: block;
	text-decoration: none;
}

#SubMenuNavigationTab ul li.unselected a span
{
	display: block;
	background: url(../../Styles/Default/Images/img_tab_right.gif) top right no-repeat;
	padding: 0 10px 0 3px;
}
#SubMenuNavigationTab ul li.selected a
{
	color: #FFF;
	color: #666666;
	float: left;
	background: url(../../Styles/Default/Images/selected_img_tab_left.gif) top left no-repeat;
	padding: 0 0 0 7px;
	display: block;
	text-decoration: none;
}

#SubMenuNavigationTab ul li.selected a span
{
	display: block;
	color: #666666;
	background: url(../../Styles/Default/Images/selected_img_tab_right.gif) top right no-repeat;
	padding: 0 10px 0 3px;
}

/*************************/
/* PAGEHEADER            */
/*************************/
#PageHeaderDiv
{
    float: left;
    width: 982px;   
    display: inline;
    padding-left: 20px;
    background-color: #E3DDD3;
}
/*************************/
/* STAGEAREA             */
/*************************/
#StageArea
{
	float: left;
	width: 1004px;
}
#StageAreaWide
{
	float: left;
	width: 1004px;
}
#StageAreaHotels
{
	float: left;
	width: 1004px;
}
/*************************/
/* CONTENTAREA DEFAULT   */
/*************************/
#StageArea #PageHeaderArea
{
    float: left;
    width: 1004px;
}
#StageArea #MainBodyArea
{
	width: 595px;
	float: left;
	display: inline;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 10px;
}
#StageArea #SecondaryBodyArea
{
	float: right;
	width: 349px;
	display: inline;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 10px;
}
/*************************/
/* CONTENTAREA WIDE      */
/*************************/
#StageAreaWide #PageHeaderArea
{
    float: left;
    width: 1004px;
}
#StageAreaWide #MainBodyArea
{
	width: 748px;
	float: left;
	display: inline;
	margin-top: 10px;
}
#StageAreaWide #LeftMenuArea
{
    float: left;
    width: 226px;
    margin-left: 20px;
    margin-right: 10px;
    display: inline;
}
#StageAreaWide #MainBodyArea #MainBodyLeftArea
{
    float: left;
    width: 472px;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
#StageAreaWide #MainBodyArea #MainBodyRightArea
{
	float: right;
	width: 226px;
	display: inline;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 10px;
}
/*************************/
/* CONTENTAREA HOTEL     */
/*************************/
#StageAreaHotel #PageHeaderArea
{
    float: left;
    width: 1004px;
}
#StageAreaHotel #MainBodyArea
{
	width: 748px;
	float: left;
	display: inline;
	margin-top: 10px;
}
#StageAreaHotel #MainBodyArea #MainBodyLeftArea
{
    float: left;
    width: 226px;
    margin-left: 20px;
    margin-right: 10px;
    display: inline;
}
#StageAreaHotel #MainBodyArea #MainBodyRightArea
{
    float: left;
    width: 472px;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
#StageAreaHotel #SecondaryBodyArea
{
	float: right;
	width: 226px;
	display: inline;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 10px;
}
/*************************/
/* Test ABSOLUT POS      */
/*************************/
#StageAreaWide #MainBodyArea #MainBodyRightArea .moduleAbsolutePositioning
{
    position: relative;
    left: 10px;
    top: -60px;
    z-index: 2;
}