﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HotelTravellerReviews.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Scanweb.Units.Static.HotelLandingPage.HotelTravellerReviews" %>

<iframe id ="RatesandReviewDetails" scrolling="no" width="710px" height="1400px" frameborder="0" runat="server"></iframe>
