﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AdobeDTMFooter.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Scanweb.Units.Static.AdobeDTMFooter" %>
<script type="text/javascript">    
    _satellite.pageBottom();
</script>
