<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DisplayPoints.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Scanweb.Units.Static.DisplayPoints" %>
<div class="pointsInfo">
<span id="placeholderPoint" runat="server" />
</div>
