<%@ Control Language="C#" AutoEventWireup="False" CodeBehind="EpiserverSEO.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Units.Static.EpiserverSEO" %>

<!-- BEGIN EPiServer SEO client tracker script -->
<script type="text/javascript">
var xtJsHost = (("https:" == document.location.protocol) ? "https://pscript.seo.episerver.com" : "http://script.seo.episerver.com");
document.write(unescape("%3Cscript src='" + xtJsHost + "/x.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{ 
_pxId = "<%# GetSeoPxId() %>";
_pxReg();
} catch(err) {} 
</script>
<!-- END EPiServer SEO client tracker script -->



