<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LargeImage.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Scanweb.Units.Static.LargeImage" %>
<%--<div class="<%=TopCssClass%>">
</div>
<div class="<%=ImageCssClass%>">--%>
    <img src="<%= GetImageURL() %>" alt="<%= GetAltText() %>" />
<%--</div>
<div class="<%=BottomCssClass%>">
</div>--%>
 <%--<EPiServer:Property ID="Property1" InnerProperty='<%#GetImageURL()%>'
                                ImageWidth="300" runat="server" alt='<%=GetAltText()%>' />--%>