<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MetaDataInformation.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Scanweb.Units.Static.MetaDataInformation" %>
<asp:PlaceHolder ID="plhMetaDataArea" runat="server" />