﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SiteCatalystCloudTag.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Scanweb.Units.Static.SiteCatalystCloudTag" %>
<!-- Header script for Adobe Dynamic Tag Management -->
<script src="//assets.adobedtm.com/f82933439235c9f8e3572eb6b459bec214cebdec/satelliteLib-00edd51bf243e207e85a7f8b8b34d47ffcfbf6a0.js"></script>
<!-- End Header script for Adobe Dynamic Tag Management -->