<%@ Control Language="C#" EnableViewState="false" AutoEventWireup="False" CodeBehind="StartpageMainMenu.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Public.Units.StartpageMainMenu" %>
<%--<EPiServer:MenuList runat="server" id="epiMainMenu">

	<HeaderTemplate>
		<ul id="SP_MainMenu">
	</HeaderTemplate>
	<ItemTemplate>
			<li class="unselected"><EPiServer:Property PropertyName="PageLink" runat="server" /></li>
	</ItemTemplate>
	<SelectedTemplate>
			<li class="selected"><EPiServer:Property runat="server" PropertyName="PageLink" /></li>
	</SelectedTemplate>
	<FooterTemplate>
		</ul>
	</FooterTemplate>
</EPiServer:MenuList>--%>
<asp:Repeater runat="server" ID="rptMainMenu">
<HeaderTemplate>
<ul id="SP_MainMenu">
</HeaderTemplate>
<ItemTemplate>
<li class="selected">
<asp:HyperLink ID = "MainMenuItemLink" runat="server"></asp:HyperLink>
</li>
</ItemTemplate>
	<FooterTemplate>
		</ul>
	</FooterTemplate>
</asp:Repeater>