<%@ Control Language="C#" AutoEventWireup="False" CodeBehind="Tradedoubler.ascx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Public.Units.Tradedoubler" %>
<asp:Literal runat="server" ID="ltTradedoubler" />
