body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #404040;
	font-size: 62.5%;
	background: url('/ScanwebMobile/Public/img/body-bg.png') repeat;
}
@font-face {
    font-family: 'Populaire';
    src: url('/ScanwebMobile/Public/font/populaire.eot');
    src: url('/ScanwebMobile/Public/font/populaire.eot?#iefix') format('embedded-opentype'),
         url('/ScanwebMobile/Public/font/populaire.svg#PopulaireforScandicRegular') format('svg'),
         url('/ScanwebMobile/Public/font/populaire.woff') format('woff'),
         url('/ScanwebMobile/Public/font/populaire.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: #000;
}
h1 { }
h2 {
	font-size: 4.4em;
	font-family: 'Populaire', 'Helvetica neue', Helvetica, Arial, sans-serif;
	margin-bottom: 4px;
	font-weight: lighter;
	text-transform: uppercase;
}
h3 {
	font-size: 4em;
	font-family: 'Populaire', 'Helvetica neue', Helvetica, Arial, sans-serif;
	margin-bottom: 4px;
	font-weight: lighter;
	text-transform: uppercase;
}
h4 {
	font-size: 3.2em;
	font-family: 'Populaire', 'Helvetica neue', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
}
p {
	margin-bottom: .4em;
}
a,
a:visited,
a:hover,
a:active {
	color: #00a6b8;
	text-decoration: none;
	cursor: pointer;
}
img {
	
}
header {
	padding: 10px;	
}
header > img:last-child {
	display: block;
	clear: both;
}
footer {
	padding: 0 10px 1em;
}
footer a{
	font-size: 20px;
}
ul.find-near-by a, ul.find-near-by span
{
    vertical-align:middle;  
    font-size: 20px!important;  
}
header h1 {
	float: left;
	position: relative;
	top: 4px;
}
header > div {
	float: right;
	text-align: right;
	padding-top: 8px;
}
header > div a {
	padding: 5px 0;
}
header > div a:last-child {
	margin-bottom: 0;	
}
header > div a.my-profile {
	display: block;
	margin-bottom: 3px;
	display: none;
}
header > div a.settings {
	/* background:url('/ScanwebMobile/Public/img/flags.png') 0px 1px no-repeat; */
	padding-left: 35px;
}
header > div a.settings.en {
	background:url('/ScanwebMobile/Public/img/flag-gb.png') 0px 2px no-repeat;
	background-size: 30px 23px;
}
header > div a.settings.no {
	background:url('/ScanwebMobile/Public/img/flag-no.png') 0px 2px no-repeat;
}
header > div a.settings.de {
	background:url('/ScanwebMobile/Public/img/flag-de.png') 0px 2px no-repeat;
}
header > div a.settings.fi {
	background:url('/ScanwebMobile/Public/img/flag-fi.png') 0px 2px no-repeat;
}
header > div a.settings.dk {
	background:url('/ScanwebMobile/Public/img/flag-dk.png') 0px 2px no-repeat;
}
header > div a.settings.se {
	background:url('/ScanwebMobile/Public/img/flag-se.png') 0px 2px no-repeat;
}
header > div a.settings.ru {
	background:url('/ScanwebMobile/Public/img/flag-ru.png') 0px 2px no-repeat;
}
header > div span {
	font-size: 18px;
	color: #ddd;
}
footer {
	text-align: center;	
}
footer ul {
	margin-bottom: 1em;	
	padding-top: 10px;
}
footer ul li {
border-right: 1px solid #CCCCCC;
display: inline-block;
padding: 0 5px; 
} 
footer ul li:last-child {
padding-right:0;
border-right: none;
}
h2.page-heading {
	padding: 4px 10px;
}
h2.page-heading span {
	font-size: 100%;
	white-space: nowrap;
}
div#content {
	padding: 0 10px 0;
}
div#content h4 {
	margin-bottom: .2em;
}
h4 span {
	font-size: 100%;	
}
.hidden {
	display: none;	
}
.relative {
	position: relative;	
}
/* Lists */
ul.button-list {
	/* margin-bottom: 1em;  */
}
ul.button-list li {
	margin-bottom: 2px;
}
ul.button-list li a {
	font-family: 'Populaire', 'Helvetica neue', Helvetica, Arial, sans-serif;
	padding: 10px;
	display: block;
	background-color: #a65191;
	font-size: 28px;
	color: #fff;
	font-weight: lighter;
	text-transform: uppercase;
}
ul.button-list li a span.icon {
	float: right;
}
ul.standard-list {
	margin-bottom: 1em;	
}
ul.standard-list li {
	margin-bottom: 8px;	
}
ul.standard-list li p {
	margin-bottom: 20px;
}
ul.standard-list li > a {
	padding: .4em 0 0;
	display: inline-block;
}
ul.standard-list li h3 {
	-webkit-margin-after: 0;
}
ul.hotel-list li,
ul.room-list li {
	border-bottom: 3px solid #999999;
	/* padding: 2% 0; */
	margin-bottom: .5em;
}
ul.hotel-list li:first-child{padding: 0 0 2%;}
ul.hotel-list li:last-child,
ul.room-list li:last-child {
	border: 0;
}
ul.hotel-list li div.image,
ul.room-list li div.image {
	/*float: left;
	 max-width: 34%; */
	margin: 1em 0;
	text-align: center;
}
ul.hotel-list li > a,
ul.room-list li > a {
	color: #404040;
}
ul.hotel-list li div.info,
ul.room-list li div.info {
	float: right;
	width: 65%;
}
ul.hotel-list li div.info em,
ul.room-list li div.info em {
	font-size: 12px;
	font-style: normal;
}
ul.hotel-list a.button,
ul.room-list a.button {
	float: none;
}
ul.hotel-list li div.info h3 a,
ul.room-list li div.info h3 a {
	color: #404040;
}
ul.hotel-list li div.info h3,
ul.room-list li div.info h3 {
	-webkit-margin-before: -3px; 
}
ul.room-list div.second p,
ul.room-list div.third p,
ul.room-list div.fourth p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}
ul.hotel-list li div.info span.distance {
	font-weight: bold;
	margin: 3px 0;
	display: inline-block;
}
ul.hotel-list li.corporate h3 {
	margin-bottom: 0;
}
ul.hotel-list li span.corp-name {
	display: block;
	font-size: 18px;
	position: relative;
	top: -4px;
	color: #f48c2a;
}
ul.room-list li.promo div.second {
	margin-top: 6px;
}
ul.room-list li.bc div.second,
ul.room-list li.reward div.second {
	width: 70%;
}
ul.room-list li div.second,
ul.room-list li div.third, 
ul.room-list li div.fourth {
	float: left;
	width: 32%;	
	border: 1px solid transparent;
}
ul.info-list {
	margin-bottom: 2em; 
}
ul.info-list li {
	margin-bottom: 0.2em;
	display: block;
	clear: both;
	border-bottom: 1px dotted #ddd;
	padding: 10px 0;
}
ul.itinerary-info {
    margin-bottom: 0;
}
ul.itinerary-info li:last-child {
    border-bottom: medium none;
}
ul.find-near-by li{
	margin-bottom: 1em;
}
ul.info-list span {
    word-wrap: break-word;
}
ul.info-list li span:first-child {
	width: 20%;
	display: inline-block;
	font-weight: bold;
	float: left;
}
ul.expandable-list li p {
	display: none;
}
table.info-table {
	width: 100%;
	margin-bottom: 40px;
}
table.info-table th,
table.info-table td {
	padding: 8px 8px 8px 2px;
}
table.info-table th {
	font-size: 20px;
	text-align: left;
	width: 30%;
	font-weight: normal;
	font-weight: bold;
}
table.info-table td {
	font-size: 16px;
	border-bottom: 1px dotted #DDD
}
table.info-table td a {
	display: block;	
}
table.info-table th a {
	cursor: pointer;	
}
table.info-table th a:before,
table.info-table th a:before {	
	color: #000;
	font-size: 14px
}
table.info-table th.desc a:before {
	content: '▼';
	color: #000;
	font-size: 14px;
}
table.info-table th.asc a:before {
	content: '▲';
	color: #000;
	font-size: 14px;
}
/* Forms */
div.standard-form {}
div.standard-form fieldset {
	margin-bottom: 2em;	
}
div.standard-form label {
	margin-bottom: .5em;
	display: inline-block;
}
div.standard-form .error {
	color: #E51937;
	font-size: 16px;
	display: none;
	padding: 2px 0;
}
.errorsummary {color: #E51937;font-size: 16px;padding: 2px 0;}
  
  
div.standard-form input[type="text"],
div.standard-form input[type="email"],
div.standard-form input[type="password"],
div.standard-form input[type="number"],
div.standard-form input[type="date"],
div.standard-form input[type="tel"],
div.standard-form select,
div.standard-form textarea {
	display: block;
    padding: 10px;
    width: 100%;
    color: #404040; 
    font-size: 2em;
    box-shadow: inset 0px 1px 1px 1px #ddd;
    border: 1px solid #bbb;
    border-radius: 3px;
    -moz-box-shadow: inset 0px 1px 1px 1px #ddd;
    -webkit-box-shadow: inset 0px 1px 1px 1px #ddd;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
input[disabled='disabled'],
select[disabled='disabled'] {
	color: #686868;
}
div.standard-form input[type="checkbox"],
div.standard-form input[type="radio"] {
	line-height: 1em;
	margin: 0 0.25em 0 0;
	padding: 0;
	width: 1.25em;
	height: 1.25em;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	display: inline;
}
div.standard-form input[type="checkbox"] + label,
div.standard-form input[type="radio"] + label,
div.standard-form input[type="radio"] + label div,
div.standard-form input[type="checkbox"] + label div {
	display: inline;
}
div.standard-form select {
	-webkit-appearance: none;
	background-color: #fff;
}
.signIn {
	margin-bottom: 20px;	
}
input[type='date'],
textarea {
	-webkit-appearance: textfield;	
}	
div.polaroid {
	display: inline-block;
	max-width: 100%;
}
div.polaroid img {
	-webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .5);
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .5);	
}

/* Buttons */
a.button {
	font-family: 'Populaire', 'Helvetica neue', Helvetica, Arial, sans-serif;
	background: url('/ScanwebMobile/Public/img/buttons.png') no-repeat 0 0;
	color: #fff;
	font-weight: lighter;
	font-size: 28px;
	padding: 8px 20px 8px;
	display: inline-block;
	white-space: nowrap;
}
a.button.lilac {
	background-position: 0 0;	
}
a.button.orange {
	background-position: 0px -130px;
}
a.button.green {
	background-position: 0px -260px;
}
a.button.blue {
	background-position: 0px -389px;
}
a.button.brown {
	background-position: right -650px;
}
a.button.red {
	background-position: right -779px;
}
a.button.hand {
	background-position: right -521px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 70px;
}
a.button h3 {
	color: #fff;	
}
.button.submit {
	float: right;
	clear: both;
	overflow: hidden;
}
a.button span {
  	font-size: 18px;
}
a.button.disabled {
	text-decoration: line-through;
}
.icon {
	background:url('/ScanwebMobile/Public/img/sprites.png') 0px 0px no-repeat;
	display: inline-block;
	padding: 4px 0 10px 38px;
}
.icon.external {
	background-position: 0 0;	
}
.icon.click2call {
	background-position: 0 -82px;
}
.icon.click2call.white {
	background-position: 0 -311px;
}
.icon.information {
	background-position: 0 -161px;
}
.icon.tooltip {
	background-position: 0 -238px;	
}
h4 .icon {
	vertical-align: bottom;	
}
/* Overlays */
.overlay {
	display: none;
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	width: 30%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 14px 24px 14px 24px;
    -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .5);
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .5);
	z-index: 10;
}
.overlay .top {
	position: relative;	
}
.overlay .top .close,
div.autocomplete .close {
 	background-color: #000;
	color: #fff;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	width: 40px;
	height: 40px;
	text-align: center;
	font-weight: lighter;
	font-size: 28px;
	position: absolute;
	right: -40px;
	top: -35px;
	border: 4px solid #fff;
}
.overlay h3 {
	color: #fff;
	font-weight: lighter;
	text-align: center;
	border-bottom: 1px solid #fff;
}
.overlay p {
	color: #fff;	
}
.overlay ul.info-list span {
	color: #fff;
}
.overlay ul.info-list span:first-child {
	width: 50%;
}
.overlay li,
.overlay span,
.overlay strong,
.overlay bold,
.overlay div div{
	color: #fff;
}
.overlay li {
	padding-bottom: 4px;
	list-style: disc;
	list-style-position: inside;	
}
.overlay p.center a:first-child {
	margin-right: 20px;
}
.overlay section div {
 font-size: 16px;
 color: #fff;
}
html, body {height: 100%;}
#disable-cover,
#overlay-holder {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: default;
	z-index: 9;
}
div.autocomplete {
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
    -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .5);
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .5);
	padding-left: 12px;
}
div.autocomplete .top {
	position: relative;	
}
div.autocomplete .top a.close {
	position: absolute;
	right: -10px;
	top: -14px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	width: 30px;
	height: 30px;
	font-size: 22px;
	border: 2px solid #fff;
}
div.autocomplete ul {
	height: 200px;
	overflow-y: auto;
}
div.autocomplete ul li a {
	color: #fff;
	padding: 10px 0;
	display: block;
	font-size: 1.6em;
	margin-left: .5em;
	border-bottom: 1px dotted #fff;
	margin-right: 12px;
}
div.autocomplete ul li:last-child a {
	border-bottom: 0;	
}
div.autocomplete ul li a.heading {
	font-size: 2em;
	margin-left: 0;
}
.profile-actions {text-align: center;}
.profile-actions a {
	font-size: 24px;
	color: #fff;
}
.profile-actions a:first-child { margin-right: 30px; }
/* Language picker */
div#language-picker {}
a.lang {
	background:url('/ScanwebMobile/Public/img/flags.png') 0px 0px no-repeat;
	display: block;
	margin-bottom: 10px;
	padding: 4px 0 8px 40px;
	color: #fff;
	border-bottom: 1px dotted #fff;
}
a.lang.se {
	background-position: 0 1px;
}
a.lang.en {
	background-position: 0 -52px;
}
a.lang.no {
	background-position: 0 -104px;
}
a.lang.de {
	background-position: 0 -156px;
}
a.lang.fi {
	background-position: 0 -208px;
}
a.lang.dk {
	background-position: 0 -257px;
}
a.lang.ru {
	background-position: 0 -300px;
}
.center {
	text-align: center;
}
p.text-right {
	text-align: right;
}
div#ajax-loader {
	display: none;
	left: 50%;
	margin: -20px 0 0 -20px;
	position: fixed;
	top: 50%;
	z-index: 200;
	border: 2px solid #ccc;
	padding: 10px;
	border-radius: 50%;
}
noscript div.overlay {
	display: block;	
}
div#content div.cmscontent span 
{
    width:auto;
    font-weight:normal;   
}

div.confirmationAlertMsg {
    background: none repeat scroll 0 0 #DCEEF2;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
	margin-bottom:1em;
}
div.confirmationAlertEmail {
    background: url("../../Templates/Booking/Styles/Default/Images/reservation2.0/iconMessage.gif") no-repeat scroll 0 2px transparent;
    padding-left: 28px;
}
div.confirmationAlertSMS {
    background: url("../../Templates/Booking/Styles/Default/Images/reservation2.0/iconMobile.gif") no-repeat scroll 3px 2px transparent;
    margin-top: 8px;
    padding-bottom: 10px;
    padding-left: 28px;
}
span.cnfSmsValue, span.cnfEmailValue{font-weight:normal;}
span.cnfEmailHeading, span.cnfSmsHeading{font-weight:bold;}
.creditCardPicker h4 {
    margin-bottom: 0;
}
.creditCardPicker h4 span {
   width: 85%;
}
.creditCardPicker h4 img {
    vertical-align: bottom;
    width: 60px;
    display: inline-block;
}

span.rateHighlightTypeText{
 display: block;
    font-size: 12px !important;
    margin-left: 20%;}
.childAdultdropdown{display: inline-block; width: 44%;}
.childDropdown{display: inline-block; width: 53%;}
.margleft{margin-left:1%;}
#divTripAdvisorRating p, .cookieLawWrapper div{display: inline-block;}
#divTripAdvisorRating p.tripAdvisorImage{vertical-align: middle;}
a.tripReviewcount{padding-left:3px;}
.childDropdown  .icon {padding: 4px 0 10px 24px;}
ul.chlderrorList li:before{ content:"- ";}
#overlay-tripiframe{ background-color: #CCCCCC;width:90%;padding:3px;}
.chldlable{vertical-align: bottom;}
#overlay-tripiframe .top .close{	top: -20px;right:-14px; z-index:12;}
fieldset.chldError{margin-bottom:0em!important;}
div.cookieLawWrapper{background-color:#666666;position: fixed;bottom: 0;right:0;left:0; width: 100%;padding:5px;text-align: left;}
div.cookietext{font-size:1.4em;color:#ffffff;}
div.cookietext a{font-size:14px;}
div.agreeCookiewrapper{display:inline-block; margin-left:1%;}
a.cookieOklink {padding: 5px 20px;}
.mrgTop10 {margin-top:5px;}
.lastSearchContainer{border: 1px solid #B1B3B6; border-radius: 6px 6px 6px 6px; cursor: pointer;  padding: 4px 8px; background-color: #00A6B8; color: white; margin: 5px 6px 0 0; display:inline-block;}

/* Homepage footer links - MR9 */
.click2call-footer 
{
	background: url("/ScanwebMobile/Public/img/sprites.png") no-repeat scroll 0 -380px transparent;
	padding: 2px 0 10px 30px;	
}
/* CSS for Image Carousal - Start*/
img {
	max-width: 100%;
}
.carousel-indicators {
    float: left;
    margin: -2em auto 0;
    width: 100%;
    position: relative;
    z-index: 9;
}
#position {
	list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#position li {
    background: none repeat scroll 0 0 #141414;
    border-radius: 10px;    
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 2px;
    width: 10px;
}
#position li.on {
    background-color: #A2C300;
    background-image: -moz-linear-gradient(center top , #A2C300, #728900);    
}

.swipe 
{
margin: 0 auto 5px;
  overflow: hidden;
  visibility: hidden;
  position: relative;
  height: 200px;
  min-height:100px;
  background: rgba(0,0,0,0.7);
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  height: inherit;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.slide {
	/* height: inherit;*/ 
}
.slide a {
	/* height: inherit;
	display: inline-block;*/ 
}
.slide a img {
	max-height: 100%;	
}
.slider-leftarrow, .slider-rightarrow {	    
    position: absolute;
    top: 50%;
	height: 21px;
	width: 20px;
	cursor: pointer;
}
.slider-leftarrow {
	background: url('/ScanwebMobile/Public/img/img-carousel-arrows.png') 0 0 no-repeat;	
    left: 1%;
}
.slider-rightarrow {
	background: url('/ScanwebMobile/Public/img/img-carousel-arrows.png') -20px 0 no-repeat;	
    right: 1%;
}
.title {
    background-color: rgba(0,0,0,0.6); 
    top: 10%;
    color: #FFFFFF;
    left: 1%;
    position: absolute;
    width: auto;
}
.title h3 {
    font-size: 2em;
    padding: 10px 10px 5px;
	white-space:nowrap;
    /* width: auto; */
}
/* CSS for Image Carousal - End */
.category-filter 
{
	/* background: url('/ScanwebMobile/Public/img/filter-arrow.png') 0 2px no-repeat;	
	text-decoration: underline;
	padding-left: 1.4em; */	
	font-size: 1.4em;
	cursor: pointer;	
	color: #00A6B8;
	margin-bottom: 0.5em;
}
.category-filter-icon {
	background: url("/ScanwebMobile/Public/img/filter-arrow.png") no-repeat scroll -16px 2px;
    float: left;
    height: 18px;
    margin-right: 0.2em;
    width: 16px;
}
.category-container 
{
	clear: both; 
	display: none;
	overflow: hidden;
    margin-bottom: 0.5em; 
    /* padding-bottom: 0.5em; */	
}
.category-results 
{	
	border-bottom: 1px solid #CCCCCC;
	font-size: 1.4em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	padding-bottom: 0.2em;
}
.nooffers-message
{	
	font-size: 1.4em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	padding-bottom: 0.2em;
}

h2.offerFilterBtn
{
	background-color: #87B3B0;
    border-radius: 4px 4px 4px 4px;   
    color: #FFFFFF;
    cursor: pointer;
    float: left;    
    font-size: 2em;
    font-weight: normal;    
    margin: 5px 5px 0 0;
    padding: 2px 5px;    
    text-transform: uppercase;
    white-space: nowrap;	
	}
    
h2.offerFilterActiveBtn    
{
	background-color: #218DA3;    
}
		
.offer-box {	
	overflow: hidden;
	cursor: pointer;
}
.offer-img {
	float: left; 
	margin-right: 0.4em; 
	max-width: 50%;
}
.offer-content {
	float: left; 
	width: 93%;
}
.offer-title {	
	font-size: 1.4em; 
}
.offer-desc {
	font-size: 1.5em;
}
.offer-spl {
	font-size: 1.5em; 
	font-weight: bold;
	margin-top: 0.2em;
}
.offer-arrow {
	background: url("/ScanwebMobile/Public/img/mob-arrow-right.png") center center no-repeat; 
	float: right; 
	width: 5%; 	
}
.offer-divider {
	background: url("/ScanwebMobile/Public/img/horizontal_rule.gif") repeat-x; 
	clear: both;
	height: 0.5em;
    position: relative;
    top: 0.4em;
}
.offer-detail-img img {
	width: 100%;
} 
.offer-detail-title h2 {
	font-size: 2.5em
}
.offer-detail-content a {
	font-size: 1em;
}
.offer-detail-content {
	font-size: 1em;
}
.offer-detail-content .introText 
{
	font-size: 1.2em;
}
.offer-detail-content ul 
{
	list-style: disc outside none;
    padding-left: 2em;	
}
.offer-detail-btn 
{
	float: left;
	margin: 1em 0;	
}
.offer-detail-btn a.book-btn {
	float: left; 
	text-transform: uppercase; 
	font-family: 'Populaire','Helvetica neue',Helvetica,Arial,sans-serif; 
	padding: 10px; 
	background-color: #87B33A; 
	color: #ffffff; 
	font-size: 2em;
}
.offer-detail-btn a.book-btn span{
	background: url("/ScanwebMobile/Public/img/btn-arrow.png") no-repeat 0 0; 
	margin-left: 0.5em; 
	padding-right: 1em;
}
.slider-left, .slider-right {
	height: 100%; 
	width: 10%; 
	position: absolute; 
	top: 0; 
	cursor: pointer;
}
.slider-left 
{
	left: 0;	
}
.slider-right {
	right: 0; 
}

.errorAlertBox {
    background: #FFDFE0;
    border: 1px solid #FF0000;
    border-radius: 5px;
    overflow: hidden;
    padding: 1em;
    width: 96%;
    margin: 0 0 10px;
}
.errorAlertIcon {
    background: url("/ScanwebMobile/Public/img/iconAlert.png") no-repeat scroll left top;
    float: left;
    height: 16px;
    margin: 2px 10px 0 0;
    width: 16px;
}
.errorDesc {
    float: left;
    width: 92%;
}
.errorHeading {
    color: #FF0000;
    font-size: 1.6em;
    font-weight: bold;
}
.errorTxt {
	font-size: 1.2em;
}
.offer-detail-GreyOut, .offer-detail-GreyOut a, .offer-detail-GreyOut a:hover, .offer-detail-GreyOut a:focus {
color: #cccccc;
text-decoration: none;
}


/* Style for Select hotel name*/
.searchHotelmsgTitle 
{
	font-size: 16px;	
}
a.view-more-hotels, a.view-more-results {
	float: none!important;    
	text-align: center;
	margin: 0 auto 10px;
    /*width: 16%;*/
	vertical-align: middle;
	display: table;
}
.view-more-hotels span, .view-more-results span {
	background: url("/ScanwebMobile/Public/img/btn-downarrow.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    margin-left: 0.5em;
    padding-right: 20px;
}
ul.hotel-list li .image .polaroid, ul.hotel-list li .image .polaroid img {
	width: 100%;
}
.sel-hotel-name {
	font-family: 'Populaire','Helvetica neue',Helvetica,Arial,sans-serif; 	
	text-transform: uppercase;
	width: 100%;
	margin-bottom: 0;
}
.sel-hotel-name a {
	font-size: 2em;
}
.hotel-desc {
	color: #404040;
	margin: 1em 0;
}
.sel-hotel-addr {
	background: #eeeeee;
	border-radius: 5px;
	padding: 0.5em;
	margin: 1em 0 1em 0;
}
.sel-hotel-addr .addr-pin {
	background: url("/ScanwebMobile/Public/img/pin-blue.png") no-repeat;
	float: left;
	margin-right: 0.5em;
    height: 20px;
    width: 20px;
}
.sel-hotel-addr .addr-details {
	width:85%;
} 
.sel-hotel-addr .hotel-address {
	color: #404040;
}
.sel-hotel-addr .hotel-distance {
	font-weight: bold;
	display: block;
}
.trip-advisor-wrapper {
	width: 100%;
	float: left;
}

.horizontal-rule-short {
    background: url("/ScanwebMobile/Public/img/horizontal_rule.gif") repeat-x scroll 0 10px;
    clear: both;
    display: block;
    height: 0.2em;
    margin: 5px auto;
    padding-bottom: 10px;
    width: 60%;
}
.hotel-booking-wrapper {
	clear: both;
	float: left;
	margin: 0.5em 0;
	width: 100%;	
}
.room-name {
	font-size: 1.5em;
	font-weight: bold;
}

ul.rooms-price-container .price-details .price {
	font-size: 1.8em;
    font-weight: bold;
}
ul.rooms-price-container .price-details {
	text-align: right;
	margin-right: 1em;
}
.booking-code-container {
    /* background: none repeat scroll 0 0 #614132;
    font-weight: bold;
    padding: 0.2em 0.5em;
    width: 99%; */
	margin-bottom: 1em;
}
.booking-code-container .booking-code {
	background: none repeat scroll 0 0 #614132;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.2em 0.5em;
}
.no-discount {
	background: none repeat scroll 0 0 #FF0000;
    clear: both;
    color: #FFFFFF;
    display: none;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.2em 0.5em;	
    margin-bottom: 0.5em;
}
.price-container {
	max-width: 60%;
	clear: both;
}
.price-info-text {
	font-size: 1em;	
}
.price-container .price {
	font-size: 1.8em;
	font-weight: bold;
	margin-left: 0.2em;
}
.hotel-book-btn a.book-btn {
	float: left; 
	text-transform: uppercase; 
	font-family: 'Populaire','Helvetica neue',Helvetica,Arial,sans-serif; 
	padding: 10px; 
	background-color: #87B33A; 
	color: #ffffff; 
	font-size: 2em;
}
.offer-detail-btn a.book-btn span, a.book-btn span {
	background: url("/ScanwebMobile/Public/img/btn-arrow.png") no-repeat 0 0; 
	margin-left: 0.5em; 
	padding-right: 11px;
}
.hotel-info-reward-night {
	margin: 1em 0;
}
.reward-points-icon {
    height: 20px;
    width: 20px;
	background: url("/ScanwebMobile/Public/img/reward-points.png") no-repeat 0 0; 
	float: left;
	margin-right: 0.5em;
}
.reward-points-txt{
    font-weight: normal;
	font-size: 1.2em;
	margin-top:0.1em;
	float: left;
}
.reward-points-value{
    font-weight: normal;
	font-size: 1.2em;
	margin-top:0.1em;
	margin-left: 0.2em;
	float: left;
}
.multiple-reward-points ul.reward-points-list {
	font-size: 16px; 
	list-style: disc inside none; 
	float: left; 
	clear: left; 
}
.booking-section{
    margin: 0.5em 0;
}
.booking-type{
    clear: both;
	font-size: 1.4em;
}
.promo-color{
    color: #614132;
}
.save-color{
    color: #f48c2a;
}
.flex-color{
    color: #00a6b8;
}
ul.tabs {
	border-bottom: 1px solid #218DA3;
}
#tab3 {
	padding-top: 1em;
}
.tabs li {
    display: inline;
}
.tabs li a {
    background: none repeat scroll 0 0 #218DA3;
    border: 1px solid #218DA3;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
	display: inline-block;
    margin: 0 0.5em;
    padding: 0.5em 1em;
}
.tabs li a:first-child {
	margin-left: 0;
}
.tabs li a.active {
    background: none repeat scroll 0 0 #eeeeee;
    color: #404040;
	border-bottom: 1px solid #eeeeee;;
}
/* ul.tabs li a{
    border: 1px solid #218da3;
    background: #218da3;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    color: #ffffff;
}
.active{
    border: 1px solid #218da3;
    background: #eeeeee;
    color: #404040;
} */
.more-details {
	font-weight: normal;
}
.more-details-grid {
	display: none;
}
ul.two-col-grid{
    width: 100%;
    overflow: hidden;
}
ul.two-col-grid li{
    float: left;
    padding: 0.5em;
    width: 45%;
    display: inline;
	background: #eeeeee;
}
ul.two-col-grid li.grid-white-row {
	background: #ffffff;
}
.hotel-info-tabs #tab3 .offer-box a {
	color: #404040;
    font-size: 1em;
}
.call-reservation{
    clear: both;
	margin-bottom: 2em;
    width: 100%;
}
.room-image img {
	width: 100%;
}
#tab1 .hotel-desc-txt {
	margin-top: 0.5em;
}
ul.rooms-list {
	border-bottom: 3px solid #999999;
	margin-bottom: 1.5em;
}
ul.rooms-price-container li.flex-color .horizontal-rule-short {
	background: none;
}
.edit-search  {
	/* text-decoration: underline; */
}
div.borderContainermap div.darkHeading {
    margin: 0;
}
div.darkHeading{
    background-color: #7C4277;
    background-image: none !important;
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: bold;
    line-height: 17pt;
    margin: 0 0 5px;
    padding: 0 0 0 7px;
}
.select-rate-wrapper .swipe {
	margin-top: -5px;	
}
.accessible-room-wrapper, .allergy-room-wrapper, .petfriendly-room-wrapper {
	width: 100%;
	margin-bottom: 1em;
}
.accessible-room-wrapper, .allergy-room-wrapper {
	margin-bottom: 1em;
}
.additional-info {
    /* background-position: 4px -158px; overflow: hidden;*/
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    clear: both;
    margin-top: 0.5em;
    padding: 0 0.5em 0.5em;
    width: 95%;	
}
.additional-info-icon {
	background-position: 4px -158px;
    float: left;
    height: 25px;
}
.additional-info-txt {
	/*float: left;*/
    padding-top: 0.3em;
}
.mrgB10 
{
	margin-bottom: 10px;
}