/* Smartphones (portrait and landscape) */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 569px) {
	body {
		font-size: 12px;	
	}
	h2 {
		font-size: 30px;
		margin: 0;
	}
	h2.page-heading {
		margin-bottom: 4px;	
	}
	h3 {
		font-size: 28px;
	}
	h4 {
		font-size: 22px;	
	}
	header a {
		font-size: 14px;	
	}
	footer a {
		font-size: 16px;
	}
	ul.find-near-by a, ul.find-near-by span{
		font-size: 16px!important;
	}
	div.standard-form fieldset {
		margin-bottom: .8em;
	}
	div.standard-form label {
		font-size: 14px;
	}
	input[type='date'] {
		-webkit-appearance: textfield;		
	}
	div.standard-form input[type="text"],
	div.standard-form input[type="email"],
	div.standard-form input[type="password"],
	div.standard-form input[type="number"],
	div.standard-form input[type="tel"],
	div.standard-form input[type="date"],
	div.standard-form input[type="radio"],
	div.standard-form input[type="checkbox"],
	div.standard-form select,
	div.standard-form textarea {
		padding: 6px;
		font-size: 14px;
	}
	div.standard-form .error {
		font-size: 14px;	
	}
	.errorsummary {font-size: 14px;}
	ul.button-list li a span.icon {
		vertical-align: top;
		float: right;
	}
	a.button {
		font-size: 22px;
		padding: 10px;	
	}
	a.button.hand {
		background-position: right -534px;
		padding-right: 70px;
	}
	/*****************************************/
	/* Common styles for hotel and room list */
	/*****************************************/
	.searchHotelmsgTitle {
		font-size: 14px;	
		margin-bottom: 0.2em;
	}
	ul.rooms-list div.room-desc {
		font-size: 14px;
	}
	.hotel-desc, .hotel-desc-txt, ul.two-col-grid li {
			font-size: 14px;	
	}
	.multiple-reward-points ul.reward-points-list {
		font-size: 14px;
	}
	ul.hotel-list li,
	ul.room-list li {
		padding: 16px 0;	
	}
	ul.hotel-list li div.first,
	ul.room-list li div.first {
		float: right;
		width: 64%;
	}
	ul.hotel-list li div.second,
	ul.room-list li div.second {
		clear: both;
	}
	ul.hotel-list li a.button,
	ul.room-list li a.button {
		float: none;
		margin: 0;
	}
	ul.hotel-list li div.info,
	ul.room-list li div.info {
		float: none;
		width: auto;
	}
	ul.hotel-list li div.second {
		padding-top: .5em;
	}
	ul.info-list li {
		padding: 0;	
	}
	ul.info-list li span:first-child {
		width: 28%;
		float: left;
	}
	ul.info-list li span {
		width: auto;
		font-size: 14px;
		float: left;
	}
	span.cnfSmsValue, span.cnfEmailValue{
	    font-size: 14px;
	}
    span.cnfEmailHeading, span.cnfSmsHeading{
        font-size: 14px;
    }
	table.info-table th,
	table.info-table td {
		font-size: 12px;
	}
	/* Overlays */
	.overlay {
		width: 70%;
		padding-bottom: 6px;
	}
	.overlay h3 {
		text-align: left;
		margin-bottom: 0.4em;
	}
	.overlay .top .close {
		height: 30px;
		width: 30px;
		font-size: 22px;
		border: 2px solid #fff;
	}
	.overlay ul.info-list li:last-child {
		border-bottom: 1px dotted #fff;	
	}
	div.autocomplete {
		top: 48px;	
	}
	.icon {
		font-size: 14px;	
	}
	.icon.crop {
		background: 0;
	}
	.icon.crop:before {
		content:"";
	    position: absolute;
	    width:26px;
	    height:26px;
	}
	.icon.crop.information:before {
	   left: 10px;
	   background:url('/ScanwebMobile/Public/img/sprites.png') 0px -161px no-repeat;
	}
	ul.room-list li div.second > p,
	ul.room-list li div.third > p, 
	ul.room-list li div.fourth > p {
		font-size: 10px;
	}
	ul.room-list div.second p a,
	ul.room-list div.third p a,
	ul.room-list div.fourth p a {
		position: relative;
		top: -2px;
	}	
	.offer-desc, .offer-spl {
		font-size: 1.2em;
	}
	.offer-title 
	{
		font-size: 1.4em;	
	}
	.OfferTblImg img {
		width: 100%;	
	}
	.hotel-info-tabs .tabs li a {
		font-size: 14px;
	}
	#content .crop{
		font-size: 14px;
	}
	.no-discount {
		font-size: 12px;
	}
	
}

/* Smartphones (portrait) */
@media only screen
and (max-width : 320px) {}

/* Smartphones (landscape) */
/* For instance HTC Sensation */
@media only screen
and (min-width : 321px)
and (max-width : 768px) {
	div.standard-form label {
		font-size: 16px;
	}
	p, span, p > a {
		font-size: 14px;
	}
	.searchHotelmsgTitle {
		font-size: 16px;	
	}
	ul.info-list li span {
		font-size: 16px;
	}
	.multiple-reward-points ul.reward-points-list {
		font-size: 16px;
	}
	span.cnfSmsValue, span.cnfEmailValue{
	    font-size: 12px;
	}
    span.cnfEmailHeading, span.cnfSmsHeading{
        font-size: 12px;
    }
	ul.hotel-list li div.second,
	ul.room-list li div.second {
		clear: both;
	}
	ul.hotel-list li div.second span.distance {
		font-size: 12px;	
	}
	.overlay {
		width: 70%;
		padding-bottom: 6px;
	}
	footer a {
		font-size: 12px;
	}
	ul.find-near-by a, ul.find-near-by span{
			font-size: 12px!important;
	}
	ul.rooms-list div.room-desc {
		font-size: 10px;
	}
	.hotel-info-tabs .tabs li a {
		font-size: 16px;
	}
	p.hotel-desc-txt {
		font-size: 16px!important;
	} 
	ul.two-col-grid li {
		font-size: 16px;
	}
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	div.autocomplete,
	div.autocomplete ul {
		z-index: 100;
	}
	.overlay a.button {
		font-size: 30px;
	}
	#tripAdvisorIframe{-webkit-overflow-scrolling:touch;overflow:auto; height:600px;}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	ul.hotel-list li div.info {
			width: 64%;
		}
	}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 768px) {
	body {
		max-width: 1024px;
		margin: 0 auto;	
	}
	p,
	p > a,
	span,
	a {
		font-size: 16px;
	}
	h3 a {
		font-size: 100%;	
	}
	header a,
	footer a {
		font-size: 16px;	
	}
		ul.find-near-by a, ul.find-near-by span{
		font-size: 16px!important;
	}
	.overlay {
		width: 50%;	
	}
	.overlay p,
	.overlay a,
	.overlay li,
	.overlay strong,
	.overlay bold,
	.overlay span,
	.overlay div div {
		font-size: 16px;
	}
	.overlay a.button {
		font-size: 24px;
	}
	div.standard-form label {
		font-size: 16px;	
	}
	div.standard-form input[type="checkbox"],
	div.standard-form input[type="radio"] {
		font-size: 14px;	
	}
	ul.hotel-list li div.info {
		margin-left: 10px;
	}
	ul.info-list li span {
		font-size: 18px;
	}
	footer a {
		font-size: 16px;
	}
		ul.find-near-by a, ul.find-near-by span{
		font-size: 16px!important;
	}	
	.offer-img 
	{
		max-width: 20%;
		margin-right: 1em;	
	}
	h2.offerFilterBtn {
		padding: 4px 10px;
	}
	#categoryTextcontainer {
		font-size: 1.2em;
	}
	.offer-title {	
		font-size: 2em; 
	}
	.searchHotelmsgTitle {
		font-size: 18px;	
	}
	.sel-hotel-name a {
		font-size: 4em;
	}
	.booking-type {
		font-size: 2em;
	}
	.room-name {
		font-size: 2em;
	}
	ul.two-col-grid li{
		width: 49%;
	}
	.reward-points-txt, .reward-points-value {
		font-size: 1.6em;
	}
	.swipe {
		height: 350px;
	}
	
	ul.two-col-grid li {
		font-size: 16px;
		width: 48%;
	}
	.no-discount {
		font-size: 16px;
	}
	ul.rooms-list div.room-desc {
		font-size: 16px;
	}
	.carousel-indicators {
		margin: -3em auto 0;
	}
	header > div a.settings {
		background-position: 0 5px!important;
	}
}
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	a.button {
		font-size: 20px;
		white-space: nowrap;
		padding: 10px;
	}
}
/* High pixel density devices */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
#tripAdvisorIframe{-webkit-overflow-scrolling:touch;overflow:auto; height:600px;}
	.icon {
		background-image: url('/ScanwebMobile/Public/img/sprites_x2.png');
		padding: 8px 0 2px 30px;
		min-height: 20px;
	}
	.icon.tooltip {
	   background-position: 2px -132px;
       background-size: 78px 202px;
    }
	.icon.external {
	   background-position: 2px 8px;
       background-size: 78px 202px;
    }
	.icon.click2call {
       background-position: 0 -44px;
       background-size: 90px 240px;
    }
    .icon.click2call.white {
       background-position: 0 -215px;
       background-size: 90px 240px;
    }
    .icon.information {
       background-position: 2px -78px;
       background-size: 78px 208px;
    }
    .icon.information.crop:before {
	   background:url('/ScanwebMobile/Public/img/sprites_x2.png') 2px -82px no-repeat;
	   background-size: 78px 202px;
	}
	.additional-info-icon {
		background-position: 2px -78px;
		background-size: 78px 202px;
	}
    a.button {
    	background-size: 173px 406px;
    	padding: 10px 10px 8px 10px;

    }
    a.button.lilac {
    	background-position: 0 4px;
    }
    a.button.orange {
    	background-position: 0 -58px;
    }
    a.button.green {
    	background-position: 0 -118px;
    }
    a.button.blue {
    	background-position: 0 -181px;
    }
    a.button.brown {
    	background-position: 0 -306px;
    }
    a.button.red {
    	background-position: 0 -368px;
    }
    a.button.hand {
		background-position: right -250px;
        background-size: 170px 406px;
        padding: 6px 50px 4px 8px;
    }
    a.lang {
		background-size: 20px 200px;
		background-position: 0 0 no-repeat;
		padding: 0px 0 4px 28px;
	}
	a.lang.se {
		background-position: 0 0px;
	}
	a.lang.en {
		background-position: 0 -32px;
	}
	a.lang.no {
		background-position: 0 -64px;
	}
	a.lang.de {
		background-position: 0 -96px;
	}
	a.lang.fi {
		background-position: 0 -128px;
	}
	a.lang.dk {
		background-position: 0 -160px;
	}
	a.lang.ru {
		background-position: 0 -186px;
	}
    header > div a.settings {
    	/* background-size: 20px 200px;
		background:url('/ScanwebMobile/Public/img/flags.png') 0px 8px no-repeat; */ 
		padding-left: 24px;
	}
   /* header > div a.settings.se {
    	background-position: 0 8px;
    }
	header > div a.settings.en {
		background-position: 0 -24px;
	}
	header > div a.settings.no {
		background-position: 0 -58px;
	}
	header > div a.settings.de {
		background-position: 0 -90px;
	}
	header > div a.settings.fi {
		background-position: 0 -122px;
	}
	header > div a.settings.dk {
		background-position: 0 -154px;
	}
	header > div a.settings.ru {
		background-position: 0 -180px;
	} */
	header > div a.settings {
    	background-size: 20px 14px!important;
		background-position: 0 7px!important;
	}
	div#ajax-loader  img{
		width: 20px;
		height: 20px;
	}
	ul.room-list div.second { padding: 0 !important; }
	ul.room-list div.second p a,
	ul.room-list div.third p a,
	ul.room-list div.fourth p a {
		top: -8px;
	}
	div.standard-form input[type="radio"],
	div.standard-form input[type="checkbox"] {
		margin-right: 4px;
	}
	.title h3 
	{
		font-size: 22px;	
	}	
	.category-filter 
	{
		font-size: 1.5em;	
	}
	.category-results {
		margin-top: 0.2em;
	}
	.offer-desc,.offer-spl {
		font-size: 1em; 
	}
	h2.offerFilterBtn {
		font-size: 1.5em;
		padding: 2px 5px 0;
	}
	.offer-title 
	{
		font-size: 1.4em;	
	}
	.offer-arrow {	
		width: 4%; 	
	}
	/*.category-filter {
		padding-left: 1.2em;		
	} */
	.category-filter, .category-results {
		font-size: 1.2em;
	}
	.OfferTblImg img {
		width: 100%;	
	}
	.sel-hotel-addr .addr-pin {
		background: url("/ScanwebMobile/Public/img/pin-blue2x.png") no-repeat;
		background-size: 20px 20px;
	}
	.reward-points-icon {
    	background: url("/ScanwebMobile/Public/img/reward-points2x.png") no-repeat 0 0; 
		background-size: 20px 20px;
	}
	
	
}
/* High Pixel Density in portrait */
@media
only screen and (-webkit-min-device-pixel-ratio : 2) and (orientation : portrait) 
{
	.slider-leftarrow, .slider-rightarrow {	    
		top: 40%;
	}	
	.offer-arrow {	
		width: 4%; 	
	}
	.swipe {
		height: 180px;
	}
	.hotel-book-btn a.book-btn {
		font-size: 22px;
		padding: 8px 10px;
	}
	a.book-btn span {
		 padding-top: 0;		 
	}
	a.view-more-results, a.view-more-hotels {
		font-size: 22px;
		background: #A65191!important;
		padding: 8px 20px;
	}
}
/* High Pixel Density in Landscape */
@media
only screen and (-webkit-min-device-pixel-ratio : 2) and (orientation : landscape) {
	div.standard-form label {
		font-size: 12px;
	}
	div.standard-form input[type="radio"] + label,
	div.standard-form input[type="checkbox"] + label {
		font-size: 7px;
	}
	p, span, p > a, div.second a.address {
		font-size: 10px;
	}
	ul.room-list li p,
	ul.room-list li p a {
		font-size: 12px;
	}
	div.standard-form a.icon {
		font-size: 14px;
	}
	a.lang {
		font-size: 7px;	
	}
	div.overlay p {
		font-size: 12px;	
	}
	.title h3 
	{
		font-size: 2em;	
	}
	.offer-desc span, .offer-spl {
		font-size: 0.8em;
	}
	#categoryTextcontainer 
	{
		font-size: 1em;
	}
	.offer-detail-content .introText 
	{
		font-weight: bold;
	}
	.offer-detail-content > div, .offer-detail-content > ul  {
		font-size: 0.8em;
	}
	/* .category-filter {
		padding-left:2em;
	} */
	.category-filter, .category-results {
		font-size: 0.8em;	
	}
	a.book-btn span {
		 padding-top: 8px;		 
	}
	a.view-more-results, a.view-more-hotels {
		font-size: 22px;
		background: #A65191!important;
		padding: 10px 20px;
	}
}

/* Ipad Landscap -  Vipul*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { div.standard-form { overflow-x: hidden; }}

/* Rentina Ipad landscap - Vipul*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { div.standard-form { overflow-x: hidden; }}

/* iphone 5s Landscap - Vipul*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {div.standard-form { overflow-x: hidden; }}

/* iphone upto 4s Landscap - Vipul*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) {div.standard-form { overflow-x: hidden; }}