/*
	glDatePicker default style

	http://code.gautamlad.com/glDatePicker/
	https://github.com/glad/glDatePicker/
*/

/* Calendar container div */
.gldp-default
{
	float:left;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	cursor: pointer;
}

/* Table style */
.gldp-default table
{
	border-spacing:1px;
	border-collapse:inherit;
	font-size: 2em;
}

/* Default row height */
.gldp-default tr
{
	line-height:28px;
}

/* Default style of cell */
.gldp-default td
{
	margin:0;
	padding: 2px 8px;
	text-align:center;
	font-weight: lighter;
}

/* Previous and Next arrows */
.gldp-default-prevnext
{
	font-family:"times new roman";
	cursor:pointer;
	font-weight:bold;
}

/* Month Year title */
.gldp-default-monyear
{
	font-size:0.9em !important;
}

/* Days of the week (Sun, Mon, ...) */
.gldp-default-dow
{
	background-color:#000;
	font-size:0.8em !important;
}

/* Selectable days */
.gldp-default-day {}
.gldp-default-day-hover
{
	cursor:pointer;
	text-decoration: underline;
}

/* Selected days */
.gldp-default-selected
{
	border:solid 1px #fff;
}

/* Today */
.gldp-default-today
{
	background-color:#bbb;
}
/* Weekends */
.gldp-default-sat, .gldp-default-sun{}
.gldp-default-sat-hover, .gldp-default-sun-hover
{
	cursor:pointer;
	text-decoration: underline;
}

/* Non-selectable day.  Includes:previous/next month days and days that fall in the allowOld and endDate conditions */
.gldp-default-noday {
	color: #999;
	cursor: text;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	.gldp-default td {
		
	}
	.gldp-default table {
		font-size: 1.2em;	
	}
}

