div.standard-form input[type="text"],
div.standard-form input[type="email"],
div.standard-form input[type="password"],
div.standard-form input[type="date"] {
	width: 95%;	
}
h2.page-heading {
	font-size: 20px;
	text-transform: none;
}
h2.page-heading span {
	text-transform: capitalize;
}
ul.button-list li a {
	font-size: 14px;
	text-transform: none;
}
.overlay h3 {
	font-size: 20px;
	text-transform: none;
}
h3 {
	text-transform: none;
	font-size: 20px;
}
h4 {
	font-size: 16px;
	text-transform: none;	
}
.icon {
	padding-bottom: 6px;	
}
a.button {
	font-size: 16px;
}
.childDropdown{width: 52%;}