

#TopMenu .TopSubMenu .Separator
{
	 margin-top:-2px;
	 margin-bottom:-2px;
	top:0px !important;
}



#SubMenuNavigationTab ul li.Tab a
{
	float:none !important;
}
#SubMenuNavigationTab ul li.ActiveTab a
{
 float:none !important;
}
.spl_IconLink
{
 padding-left:12px !important;
}


.toprowmiddleright a
{
	font-size: 10px !important;
}

#StartPage #RightContentArea #FlashArea #PromotionImage #Mainofferlinkcontainer
{
	margin-top:0px!important;
}



.startPageInfoBoxContent
{
 width:451px !important;
}



#StageAreaWide #MainBodyArea #MainBodyRightArea
{
	overflow:visible !important;
}
.GuestProgramRedemptionListSortBy
{
 margin-top:-26px ! important;
 
}

html
{
	height:100%;
	margin-bottom:1px;
}
#GuestProgramRedemption
{
	 margin-top:25px !important;	
}

.PriceListOfferContent{margin-top:-5px;}

#Login_Box .loginInfo{
	width:251px!important;
}