<%@ Page Language="C#" AutoEventWireup="True" Codebehind="CCRequest.aspx.cs" Inherits="Scandic.Scanweb.CMS.Templates.Pages.CCRequest" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
  
  
  
 
    </div>
    </form>
</body>
</html>
