<%@ Page Language="c#" Inherits="Scandic.Scanweb.CMS.Templates.ImageVaultTest2" MasterPageFile="~/Templates/Scanweb/MasterPages/MasterPageDefault.master" Codebehind="ImageVaultTest2.aspx.cs" %>
<asp:Content ID="MainBodyRegion" ContentPlaceHolderID="MainBodyRegion" runat="server">

    <EPiServer:Property InnerProperty="<%# GetImageFromImageVault() %>" ImageWidth="718" runat="server" alt="<%# GetAltText() %>" />
    
    <EPiServer:Property PropertyName="PageBody" runat="server" />
    Skicka SMS<br />
    Meddelande: <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>&nbsp; 
    Mobilnummer: <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox><br />
     <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Skicka bekräftelse" />
</asp:Content>
