/************************/
/*      BookingEngine   */
/************************/
.box-middle .rememberMeClear,
.rememberMeTryAgain{
	clear:both;
	padding-right:3px;
}
.rememberMeTryAgain{
	float:right;
}
.rememberMeTryAgain label{padding-left:24px;}
.rememberMeMyLogin{
	Clear:both;
	DISPLAY:block;
	WIDTH: 180px;
	float:right;
}
.rememberMeMyLogin label{
	padding-left:72px;
}

div.rememberCheck{
	display:block;
	float:right;
	margin-bottom:2px;
	text-align:right;
	padding-right:2px;
}
div.rememberCheck.padRt3{
	padding-right:20px;
}

div.rememberCheck input{
	margin:5px 0 1px;
	padding:0;
}

div.rememberCheck label{
	margin:0 0 0 5px;
	top:-3px;
}

#MeetingSearch349 {
	width: 357px;
	/*background: url(Images/booking_medium_top_349.gif) top left no-repeat; */
	background: url(/Templates/Booking/Styles/Default/Images/Meeting_Background.png) no-repeat;
	padding-top: 5px;	
	margin-top:-3px;
	overflow: hidden;
	/*border: 1px solid #CCC;
	border-radius: 2px;*/
}

div[id$='MeetingSearch226'] {
	width: 241px;
	/* background: url(/Templates/Booking/Styles/Default/Images/booking_small_top_226.gif) top left no-repeat; */
	padding-top: 5px;	
	overflow: hidden;	
	margin-top:-3px;
	float:left;
	margin-left: 3px;
}
div[id$='MeetingSearch226'] #FindHotelVenue {
	background: url("/Templates/Booking/Styles/Default/Images/reservation2.0/regularRdCnt.png") repeat-y scroll left top;
	padding-bottom: 10px;
}
div[id$='MeetingSearch226'] #FindHotelVenue {
	padding-top:7px;
	padding-bottom:10px;
	margin-left: 6px;
	/* margin-bottom:23px; */ 
}

/************************/
/*     autosuggest      */
/************************/

#yourStayMod05 #autosuggest, #yourStayMod05 #autosuggest1{margin-top:24px;}
*:first-child+html #yourStayMod05 #autosuggest, *:first-child+html #yourStayMod05 #autosuggest1{margin-top:0;}

*:first-child+html #autosuggest ul, *:first-child+html #autosuggest1 ul, *:first-child+html #autosuggest2 ul{margin-top:-2px;}
#yourStayMod05 #autosuggest ul,#yourStayMod05 #autosuggest1 ul,#yourStayMod05 #autosuggest2 ul{margin-top:0px;width:215px;#margin-top:-26px;}
	
					/* Mac Safari hack - the below css will be ignored by Mac safari less than version3*/
					#autosuggest ul,#autosuggest1 ul,#autosuggest2 ul,#autosuggestFGP ul, #autosuggestFYD ul, #autosuggestCountryLanding ul{ 
					overflow-x: hidden;
					overflow-y: auto;
					}
					/* Safari 3 hack -the below css  works only on safari 3 browser */
					@media screen and (-webkit-min-device-pixel-ratio:0) {
					#autosuggest { margin-top: 35px;}
					}
#autosuggest,#autosuggestFAH,#autosuggest1,#autosuggest2,#autosuggestFGP,#autosuggestFYD, #autosuggestCountryLanding{
	display: none;
	position: absolute;
	float: left;
	z-index: 50;
	clear:both;
}
/*Auto suggest styles*/
.suggestion_list ul{list-style:none;background:#fff;margin:0;padding:0;background:url(/Templates/Booking/Styles/Default/Images/reservation2.0/autoSuggestCnt.png) repeat-y;width:351px;overflow:hidden;}

.suggestion_list li{color:#666;text-align:left;margin:0px 10px;}

#autosuggest, #autosuggest1, #autosuggest2,#autosuggestFGP{background:url(/Templates/Booking/Styles/Default/Images/reservation2.0/autoSuggestFt.png) no-repeat bottom left; margin:61px 0 0 0; padding: 0 0 11px 0; overflow:auto;}
#autosuggest2{margin:37px 0 0 0;}
#yourStayMod05 #autosuggest2{margin:5px 0 0 0;}
*:first-child+html #autosuggest, *:first-child+html #autosuggest1, *:first-child+html #autosuggest2{margin:0;}
.suggestion_list .ft{background:url(/Templates/Booking/Styles/Default/Images/reservation2.0/autoSuggestFt.png) no-repeat 0 0;width:361px;height:11px;position: absolute; top:229px}
.suggestion_list li:hover{background:#9fd8f4;}
.suggestion_list li a{color:#000;}
.suggestion_list li a:hover{text-decoration:none !important;color:#000;}
#autosuggest,#autosuggestFAH,#autosuggest1,#autosuggest2,#autosuggestFGP,#autosuggestFYD, #autosuggestCountryLanding{display: none;position: absolute;float: left;z-index: 50;}
#autosuggest iframe,#autosuggestFAH iframe,#autosuggestFGP iframe, #autosuggest1 iframe,#autosuggest2 iframe,#autosuggestFYD iframe, #autosuggestCountryLanding iframe{display:none;background:#fff;overflow:hidden;position:absolute;top:0;left:0;	width:351px;z-index:100;}
#autosuggest iframe body,#autosuggest1 iframe body,#autosuggestFAH iframe body,#autosuggest2 iframe body,#autosuggestFGP iframe body,#autosuggestFYD iframe body, #autosuggestCountryLanding iframe body{display:none!important;}
#BookingDetails .formGroup label{float:left;}
#BookingDetails .formGroup .lblGuarantee{width:565px;}
#yourStayMod05 .suggestion_list{width: 218px; *padding-top: 23px !important;}
.btnHolder{clear:left;}
.clearSelect{clear:left;}
.suggestion_list li.selected{background:#9FD8F4;}
#autosuggestFGP, #autosuggestFYD{margin-top:-11px;}
#autosuggestCountryLanding{margin-top:-67px;}
#autosuggestFYD ul{width: 241px;list-style:none;background:#fff;margin:0;padding:0;background:url(/Templates/Booking/Styles/Default/Images/reservation2.0/autoSuggestCntfindHotel.png) repeat-y;}
#autosuggestFYD{background:url(/Templates/Booking/Styles/Default/Images/reservation2.0/autoSuggestFt_findhotel.png) no-repeat bottom left; padding: 0 0 8px 0; overflow:auto;}
#autosuggestCountryLanding ul{width: 224px;list-style:none;background:#fff;margin:0;padding:0;background:url(/Templates/Booking/Styles/Default/Images/reservation2.0/autoSuggestCntCountry.png) repeat-y;}
#autosuggestCountryLanding{background:url(/Templates/Booking/Styles/Default/Images/reservation2.0/autoSuggestFt_country.png) no-repeat bottom left; padding: 0 0 8px 0; overflow:auto;}

/* auto suggest - meetings page */
.RightColumn .BoxContainer .suggestion_list ul {
	background: url("/Templates/Booking/Styles/Default/Images/reservation2.0/autoSuggestCnt_205.png") repeat-y scroll 0 0!important;
	width: 204px;
	
}
.RightColumn .BoxContainer .suggestion_list {
	background: url("/Templates/Booking/Styles/Default/Images/reservation2.0/autoSuggestFt_206.png") no-repeat scroll left bottom!important;
}
.BoxContainer div[id$='MeetingSearch226'] .cnt {
    background: none repeat scroll 0 0 #7C4277;
    margin: -2px 0 0 6px;
    padding: 10px;
    width: 206px;
}
.RightColumnShiftUp #MeetingSearch349 .cnt {
    background: none repeat scroll 0 0 #7C4277;
    margin: -5px 0 0;
    padding: 10px;
}

.RightColumnShiftUp #MeetingSearch349 
{
background: none!important;
border: 1px solid #cccccc;
}
#OverviewPageMainArea #MeetingSearch349 
{
background: none!important;
}
#MeetingSearch349 .FindHotelVenueContent .suggestion_list {
background: url("/Templates/Booking/Styles/Default/Images/reservation2.0/autoSuggestFt_239.png") no-repeat scroll left bottom!important;
}

#MeetingSearch349 .FindHotelVenueContent .suggestion_list ul {
background: url("/Templates/Booking/Styles/Default/Images/reservation2.0/autoSuggestCnt_238.png") repeat-y scroll 0 0!important;
width: 237px;
}
/* For Chrome and Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 #autosuggestFGP  { margin-top: -13px;  }
}
/* auto suggest - meetings page end here */

/****************************/
/*Reservation css goes here*/
/***************************/

/************************/
/*      Reservation    */
/************************/

.loginInfo {
	margin-bottom: 10px;
}
.loginInfo .loginInfo-top {
	background:url(/Templates/Booking/Styles/Default/Images/res_info_box_grey_top.gif) left top no-repeat;
	height: 10px;
	overflow: hidden;
}
.loginInfo .loginInfo-inner {
	background: url(/Templates/Booking/Styles/Default/Images/res_info_box_inner.gif) left top repeat-y;
	height: 100%;
	padding: 5px 10px 0px;
}
.loginInfo .loginInfo-bottom {	
	background: url(/Templates/Booking/Styles/Default/Images/res_info_box_bottom.gif) top left no-repeat;
	height: 10px;
	overflow: hidden;
}
div.loginInfoCollapsed .loginInfo-inner {
	display: none;
}
div.loginInfoCollapsed .loginInfo-bottom {	
	background: url(/Templates/Booking/Styles/Default/Images/res_info_box_grey_bottom.gif) bottom left no-repeat !important;
	height: 8px !important;
	overflow: hidden !important;
}
div.loginInfoCollapsed .title p {
	padding-bottom:0 !important;
}

.loginInfo .title {
  background: url(/Templates/Booking/Styles/Default/Images/res_info_box_grey_center.gif) top left repeat-y;
	color:#666;
	padding: 0 10px;
	margin-top: -5px;
	font-size: 12px;
}
#resInfo .resNumber p, .loginInfo .title p{
	font-size: 12px;
	line-height: 1.8em;
}
.loginInfo .title p{
	padding-bottom: 5px;
}
.loginInfo .footer {	
	background: url(/Templates/Booking/Styles/Default/Images/bkg_dotted_line_gray_white.gif) top left repeat-x;
	padding-top: 10px;
	margin: 10px 0 0;
	display: block;
}
#resInfo .resNumber p strong {
	font-size: 14px;
}

#Links div.hr{
	margin: 1px 0 1px 18px;
}

#Links .columnOne {
	width: 180px;
	margin-right:5px;
	float: left;
}
#Links .columnTwo {
	width: 220px;
	margin-right:5px;
	float: left;
}
#Links .columnThree {
	width: 180px;
	float: left;
}

/************************/
/* hotelDetailContainer */
/************************/
#hotelDetailContainer {	
	margin-left:5px;		
}


/**************************/

/* Enter Booking Details  */
/**************************/

#SpclReq .prefLang, #SpclReq .prefBedtype {
	float: left;
	margin-bottom: 5px;
}
#SpclReq .RoomPref label{
	float: left;
	margin-bottom: 10px;
}
#SpclReq .lblRadio, #SpclReq .lblChkBox{ 
	width: 150px;
	display: block;
	float: left;
	margin-left: 2px;  
	text-indent: 0px;              
}
#Reservation #SpclReq .frmInputRadio{
	margin: 0pt;
	margin-bottom: -3px;
}
/* End CR-5 implementation for Release 1.1 */

.row2{width:572px;float:left;}
.row2 .chdAge{float:left;width:244px;margin-right:20px;}
.row2 .chdAccomdation{float:left;width:270px;}
#hotelFooterContainer .slpNote{padding-bottom:10px;}
/* Added styles for My Preference - additional info | MR9 */
.additional-info {
	float: left; 
	margin-top: 5px; 
	margin-right: 10px; 
	border-radius: 5px; 
	border: 1px solid rgb(204, 204, 204); 
	background: none repeat scroll 0px 0px rgb(248, 248, 248); 
	padding: 5px; 
	width: 85%;
}
.additional-info-txt {
	font-size: 11px; 
	padding: 0px;
}
.accessible-room-wrapper, .allergy-room-wrapper {
	width: 153px;	
	float: left;
}
#SpclReq .RoomPref .accessible-room-wrapper label, #SpclReq .RoomPref .allergy-room-wrapper label {
	margin-bottom: 0;	
}
/* /styles for My Preference - additional info | MR9 */
/* styles for overlay popup | MR9 */
.posRel {
	position: relative;	
}
.popuptopCntOverLay {
	clear: both;
}
.popupOverLayCnt {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    left: 0;
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.popupOverLay {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    left: 87px;
    opacity: 1;
    position: absolute;
    top: 23%;
    width: 337px;
    z-index: 101;
}
.popupOverLay .cnt {
    padding: 32px 10px;
    text-align: center;
}
.popupOverLay .cnt p {
    margin-top: 11px;
}
.popupOverLay .cnt a.blkClose {
	height: 28px; 
	width: 30px; 
	margin-right: 2px; 
	margin-top: 5px;
}
/* /styles for overlay popup | MR9 */
