/* Main Style Sheet for jQuery UI date picker */
#datepicker_div, .datepicker_inline {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
	padding: 0;
	margin: 0;
	background: none;
	width: 200px;
}
#datepicker_div {
	display: none;
	/*border: 1px solid #777;*/
	z-index: 300001; /*must have - required to be above 300000 as the jqmodal.js comes with z-index of 300000*/
	width:200px !important;
	/*margin-top: 10px;*/
	line-height: 1.5em;
	
}
#datepicker_div.datepicker_multi{
width:400px !important;
background:#FFFFFF;
border:1px solid #aaa;
color:#222;
-moz-border-radius:5px;
}
.datepicker_inline {
	float: left;
	display: block;
	border: 0;
}
.datepicker_rtl {
	direction: rtl;
}
.datepicker_dialog {
	padding: 5px !important;
	border: 4px ridge #ddd !important;
}
button.datepicker_trigger {
	width: 25px;
}
img.datepicker_trigger {
	margin: 2px;
	vertical-align: middle;
}
.datepicker_prompt {
	float: left;
	padding: 2px;
	background: #FFF;
	color: #666666;
}
* html .datepicker_prompt {
	width: 185px;
}
.datepicker_control, .datepicker_links, .datepicker_header, .datepicker {
	clear: both;
	float: left;
	width: 100%;
	color: #666666;
}
.datepicker_control {
	/*background: transparent url('calendarImages/bkg_calendar_base.gif') no-repeat scroll left bottom;*/
	padding: 0px 0px 10px;
}
.datepicker_links {
	/*background: transparent url('calendarImages/bkg_calendar.gif') no-repeat scroll left top;*/
	padding: 8px 0px 2px;
	
}
.datepicker_links {
/*	font-weight: bold;
	letter-spacing: 1px;*/
	position:relative;
	top:20px;
	margin-top:5px;
}
.datepicker_links label { /* disabled links */
	padding: 2px 5px;
	color: #ccc;
	font-size:12px;
	font-weight:bold;
	
}
.datepicker_clear, .datepicker_prev {
	float: left;
	width: 30%;
	padding-left: 5px;
	text-align: left;
}

.datepicker_current {
	float: left;
	width: 30%;
	text-align: center;
	display: none;
}
.datepicker_close, .datepicker_next {
	float: right;
	width: 30%;
	text-align: right;
	padding-right: 10px;
}
.datepicker_close a{zoom:1;}
.datepicker_rtl .datepicker_close, .datepicker_rtl .datepicker_next {
	float: left;
	text-align: left;
}
.datepicker_header {
	/*font-size: 1.25em;
	padding: 1px 0 5px;
	background: #FFF url(calendarImages/dotted_line_grey_white.gif) bottom left repeat-x;
	text-align: center;
	font-weight: bold;
	height: 1.3em;
	width: 185px;
	margin: 0 0 5px 5px;
	color: #544C4B;*/
	font-size:12px;
	font-weight:bold;
	position:relative;
	top:-24px;
	padding-top:4px;
	#left:50px;
}
.datepicker_header select {
	background: #FFF;
	color: #000;
	border: 0px;
	font-weight: bold;
}
.datepicker {
	background: #FFF;
	text-align: center;
	padding: 1px 0px 1px ;
	width: 185px;
	margin-left: 5px;
}
.datepicker td{
	font-size: 1em;
	line-height: 1.5em;
	padding:2px;	
}
.datepicker a {
	display: block;
	width: 100%;
}
.datepicker_titleRow {
	background: #FFF;
	color: #544C4B;
	font-weight: bold;
}
.datepicker_titleRow td{
border:0 none;
font-weight:bold;
padding:0.7em 0.3em;
text-align:center;
border-bottom:1px solid #f2f2f2;
font-size:1.1em;
}
.datepicker_daysRow {
	background: #FFF;
	color: #000;
	font-weight: normal;
}
.datepicker_weekCol {
	background: #FFF;
	color: #666;
}
.datepicker_daysCell {
	color: #000;
	border: 1px solid #fff;
}
.datepicker_daysCell a{
	display: block;
}
.datepicker_weekEndCell {
	/*background: #ddd;*/
}
.datepicker_titleRow .datepicker_weekEndCell {
	/*background: #777;*/
}
.datepicker_daysCellOver {
/*	background: #F5F5F5;
	border: 1px solid #ccc;*/
}
.datepicker_daysCellOver a{

}
.datepicker_daysCellOver a:hover{
	text-decoration: underline !important;
}
.datepicker_unselectable {
	color: #ccc;
}
.datepicker_today {
	background-color:#006699;
	font-weight:bold;
	outline:medium none;	
}
.datepicker_today a{
	color:#fff !important;
}
.datepicker_currentDay {
/*	background: #F5F5F5 !important;
	border: 1px solid #ccc;*/	
}
.datepicker_status {
	background: #ddd;
	width: 100%;
	text-align: center;
}

/* ________ Datepicker Links _______

** Reset link properties and then override them with !important */
#datepicker_div a, .datepicker_inline a {
	cursor: pointer;
	/*margin: 0;
	padding: 0;
	background: none;*/
	color: #000;
}
.datepicker_inline .datepicker_links a {
	padding: 0 5px !important;
}
.datepicker_control a, .datepicker_links a {
	padding: 2px 5px !important;
	color: #eee ;
}
.datepicker_titleRow a {
	color: #eee !important;
}
.datepicker_control a:hover {
	/*background: #fdd !important;
	color: #333 !important;*/
}
.datepicker_links a:hover, .datepicker_titleRow a:hover {
	/*background: #ddd !important;*/
	color: #333 !important;
}

/* ___________ MULTIPLE MONTHS _________*/

.datepicker_multi .datepicker {
	/*border: 1px solid #777;*/
}
.datepicker_oneMonth {
	float: left;
	/*width: 184px;
	background: url('calendarImages/bkg_calendar_bg.gif') left top repeat-y !important;*/
}
.datepicker_newRow {
	clear: left;
	border-right:1px solid #f2f2f2;
}
.datepicker_prev a {
		background: url('/Templates/Booking/Styles/Default/Images/reservation2.0/blueGoBackArrow.png') left 6px no-repeat !important;
		padding: 2px 0 2px 10px !important;
		font-size:12px;
		font-weight:bold;
		color:#006699 !important;

}
.datepicker_next a {
	/*background: url('calendarImages/next_active.gif') right center no-repeat !important;*/
	background:url("/Templates/Scanweb/Styles/Default/Images/Icons/blueArrow.gif") no-repeat scroll right 6px transparent;
	padding: 2px 10px 2px 0 !important;
	color:#006699 !important;
	font-size:12px;
	font-weight:bold;
}
.datepicker_prev label {
	background: url('/Templates/Booking/Styles/Default/calendarImages/prev_inactive.gif') left center no-repeat !important;
	/*background:url("Images/reservation2.0/blueGoBackArrow.png") no-repeat scroll left 6px transparent;*/
	padding: 2px 0 2px 10px !important;
}
.datepicker_next label {
	background: url('/Templates/Booking/Styles/Default/calendarImages/next_inactive.gif') right center no-repeat !important;
	padding: 2px 10px 2px 0 !important;
}
.datepicker_rtl .datepicker_clear, .datepicker_rtl .datepicker_prev {
	float: right;
	text-align: right;
}
.datepicker_close{
position:absolute;
right:0;
top:12px;
*top: 4px !important;
width:28px;
}
#datepicker_div .datepicker_close a{
	color: #000 !important;
	background-position:left -1212px;
	padding:13px 0 0 28px !important;
	font-weight: normal!important;
	line-height: 1.8em;
}

.au_day { color: blue !important; background: #eee url(/Templates/Booking/Styles/Default/calendarImages/au.gif) no-repeat center !important; }
.nz_day { color: blue !important; background: #eee url(/Templates/Booking/Styles/Default/calendarImages/nz.gif) no-repeat center !important; }
.za_day { color: blue !important; background: #eee url(/Templates/Booking/Styles/Default/calendarImages/za.gif) no-repeat center !important; }
.ie_day { color: blue !important; background: #eee url(/Templates/Booking/Styles/Default/calendarImages/ie.gif) no-repeat center !important; }
.ar_day { color: blue !important; background: #eee url(/Templates/Booking/Styles/Default/calendarImages/ar.gif) no-repeat center !important; }
.se_day { color: blue !important; background: #eee url(/Templates/Booking/Styles/Default/calendarImages/se.gif) no-repeat center !important; }
.us_day { color: blue !important; background: #eee url(/Templates/Booking/Styles/Default/calendarImages/us.gif) no-repeat center !important; }
.id_day { color: blue !important; background: #eee url(/Templates/Booking/Styles/Default/calendarImages/id.gif) no-repeat center !important; }
.br_day { color: blue !important; background: #eee url(/Templates/Booking/Styles/Default/calendarImages/br.gif) no-repeat center !important; }
.cn_day { color: blue !important; background: #eee url(/Templates/Booking/Styles/Default/calendarImages/cn.gif) no-repeat center !important; }
.lb_day { color: blue !important; background: #eee url(/Templates/Booking/Styles/Default/calendarImages/lb.gif) no-repeat center !important; }
.ke_day { color: blue !important; background: #eee url(/Templates/Booking/Styles/Default/calendarImages/ke.gif) no-repeat center !important; }


/* ___________ IE6 IFRAME FIX ________ */

.datepicker_cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 205px; /*must have*/
    height: 205px; /*must have*/
}