#hiddenCalendar {
	display: none;
	position: absolute;
	z-index: 15;
	width: 186px;
}

#hiddenCalendar td.txtBody {
	font-size: 10px;
}
#hiddenCalendar td.classNormal {
	background-color: #FFFFFF;
}
#hiddenCalendar td b.dclose {
 	color: #544B4A;
 }
 
#hiddenCalendar td.classToday {
	color:	#333333;
	font-size: 10px;
}
#hiddenCalendar #calHeaderTopRow {
	height: 4px;
}

#hiddenCalendar #calHeaderBottomRow {
	height: 4px;
}
				

				
#hiddenCalendar #calendarBase {
	width: 186px;
	height: 9px;
	clear: both;
	background: url(/Templates/Booking/Styles/Default/Images/grf_calendar_base.gif) left bottom no-repeat;
	display:none;
}

#hiddenCalendar #calendarLayer {
	width: 186px;
	clear: both;
	z-index: 15;
	background: url(/Templates/Booking/Styles/Default/Images/bkg_calendar.gif) left top no-repeat;
	padding: 5px 0 0 1px;
	display:none;
}

#calendarLayer .txtModuleTitlecal {
	color: #544C4B;
	font-size:1.25em;
	font-weight:bold;
}
#calendarLayer td.txtBody {
	font-size:1em;
	line-height: 1.5em;
}
#calendarLayer td.tdToday {
	background-color: #EEE;
	border: 1px solid #CCC;
	
}
#calendarLayer td.calHeader {
	background: url(/Templates/Booking/Styles/Default/Images/bkg_dotted_line_gray_white.gif) repeat-x left bottom;
	padding-bottom: 10px;
}
#calendarLayer a {
	color: #000;
}
#calendarLayer a:hover {
	text-decoration: none;
}
#calendarLayer a.classToday {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
#calendarLayer img.closeCalendar {
	margin-bottom: -1px;
}