/*****************************/
/******** COMMON CSS  ********/
/*****************************/
DIV.BE {
	/*overflow: hidden;*/
}
DIV.BE .clear{
	clear: both;
	overflow: hidden;
	/*height: 0;
	line-height: 0;
	font-size: 0;*/
	padding:0;
	margin: 0;
	
	
}
DIV.BE div.hr {
	background: url(/Templates/Booking/Styles/Default/Images/bkg_dotted_line_gray_white.gif) repeat-x left top;
	height: 2px;
	line-height: 0px;
}

DIV.BE div.divider {
	background:#999999;
	height: 1px;
	line-height: 0px;
	margin-top:5px;
}

DIV.BE div.hr hr {
	display: none;
}
/*DIV.BE p{
	margin: 0;
}*/
DIV.BE h1.welcomeText {
	margin: 0 0 10px 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
	text-align: left; 
}
DIV.BE .welcomeTeaser {
	margin: 0 0 5px 0;
	text-align: left; 
}
DIV.BE .txtModule{
	margin-bottom: 10px;	
}
DIV.BE #HelpContent {
	text-align: right;
}
.HelpContentSmall
{
	padding-right:12px;
}
DIV.BE .columnOne {
	width: 226px;
	margin-right:20px;
	float: left;
}

DIV.BE .columnTwo {
	width: 226px;
	margin-right:20px;
	float: left;
}
DIV.BE .colOne {
	width: 103px;
	margin-right:20px;
	float: left;
}
DIV.BE .colTwo {
	width: 103px;
	margin-right:20px;
	float: left;
}
DIV.BE .colThree {
	width: 103px;
	float: left;
}
DIV.BE .colFour {
	width: 103px;
	float: left;
}
/*****************************/
/******** CSS BUTTONS ********/
/*****************************/
DIV.BE .btnSubmit {	
	display: block;	
	height: 25px;
}
.formRowButton .btnSubmit{
	padding-right:12px;	
}
DIV.BE .btnSubmit a{		
	background: url(/Templates/Booking/Styles/Default/Images/button_left.gif) top left no-repeat;	
	margin:0 5px 5px 0;
	padding:5px 0 8px 7px;
	text-decoration: none;		
}

DIV.BE .btnSubmit a:hover {
	text-decoration: none !important;	
}
DIV.BE .btnSubmit a span{		
	background: url(/Templates/Booking/Styles/Default/Images/button_right.gif) top right no-repeat;
	white-space:nowrap; 
	padding:4px 20px 8px 13px;			
	color: #fff;
	font-size: 11px;	
	text-align: center;	
	zoom: 1; /* Fix for IE  */	
	font:Arial, Helvetica, sans-serif;
	font-weight:bold;	
}
/*****************************/
/******** Error Messages *****/
/*****************************/
DIV.BE .errorText {
	color: #BB0000;
	margin:0 0 0 5px;
}

#Loyalty .errorText {
	margin:0;
}

#Comments span.errorText{	
	margin-left:0;
}

DIV.BE .formGroupError {
	padding-bottom: 10px;
	color: #BB0000;
	zoom: 1; /* This fixes IE flickering */
	float:left;
	width:100%
}
Div.BE .errorDiv {
	display: block;
	margin-bottom: 10px;
}
DIV.BE .redAlertIcon {
	background: transparent url(/Templates/Booking/Styles/Default/Images/exclamation_mark_small.png) no-repeat scroll top left;
	padding-left: 24px;
	margin-bottom: 4px;
	font-weight: normal;	
	line-height: 1.6em;
	color: #BB0000;
	height:20px;
}
DIV.BE span.redAlertIcon {
	padding-top: 4px;	
	line-height: 1.9em;	
}
#errorReport ul.circleList {
	margin-top: 0;
	margin-bottom: 0;
}
#ErrorPage {
	width: 349px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#ErrorPage .errorMsg{
	padding-bottom: 8px;
	font-size: 14px;
}
#ErrorPage p{
	padding-bottom:3px;
	font-size: 10px;
}
#ErrorPage .redAlertIcon {
	font-size: 22px;
	
}
#ErrorPage div.hr {
	margin:1px 0pt 1px 10px;
}

DIV.BE .alignLeft {	
	float: left;
	width: 50%;
}
DIV.BE .alignRight {	
	float: right;
	width: 50%;
	text-align: right;		
}
/***********************/
/******** Box **********/
/***********************/
DIV.BE #Box {
	margin-bottom: 10px;	
}

DIV.BE .box-top {	
	background: url(/Templates/Booking/Styles/Default/Images/res_info_box_top.gif) left top no-repeat;
	height: 9px;
	overflow: hidden;
}

DIV.BE .box-inner{
	background: url(/Templates/Booking/Styles/Default/Images/res_info_box_inner.gif) left top repeat-y;
	padding: 0 10px;
	height: 100%;
}
DIV.BE .box-bottom {	
	background: url(/Templates/Booking/Styles/Default/Images/res_info_box_bottom.gif) top left no-repeat;
	height: 10px;
	overflow: hidden;
}
/*************************************/
/***** Rounded Corners Image226      *****/
/*************************************/
DIV.BE .RoundedCornersImage226 {
	font-size:0pt;
	position:relative;
	width:226px;
}
DIV.BE .RoundedCornersTop226 {
	background-image: url(/Templates/Booking/Styles/Default/Images/RoundedCornersTop226.gif);
	font-size:0pt;
	height:6px;
	line-height:1px;
	position:relative;
	width:226px;
	z-index:2;
	display:none;
}
DIV.BE .RoundedCornersBottom226 {
	background-image: url(/Templates/Booking/Styles/Default/Images/RoundedCornersBottom226.gif);
	font-size:0pt;
	height:6px;
	line-height:1px;
	position:relative;
	top:-12px;
	width:226px;
	z-index:2;
	display:none;
}
/***********************/
/******** Links ********/
/***********************/

DIV.BE a{
	/*color: #333333;*/
	text-decoration: none;
}
DIV.BE a.alternate{
	color: #B82025;
}
DIV.BE a:hover{
	/*text-decoration: underline;*/
	text-decoration: underline;
	color: #87B33A;
}


DIV.BE .linkButtonLink {
	background: url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -5px -4px;
	line-height:normal;
	padding-left:10px;
}
DIV.BE .link {
	display:block;
	padding-left:10px !important;
	text-indent:-10px !important;
}

#EnrollLoyalty div.helpLink .link a {
	background:url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat 0 -3px;
	padding-left:15px;
	color:#535353!important;
}


DIV.BE .link a {
	background:transparent url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat 0 -3px;
	padding-left:15px;
}
DIV.BE .prevLink a {
	background: transparent url(/Templates/Booking/Styles/Default/Images/bkg_arrow_left.gif) no-repeat 0 0.3em;
	padding-left: 10px;
}
DIV.BE .nextLink a {
	background: transparent url(/Templates/Booking/Styles/Default/Images/bkg_arrow_right.gif) no-repeat 100% 0.3em;
	padding-right: 10px;
}
DIV.BE .showLink a {
	background: transparent url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -2px -81px;
	padding-left: 15px;
}
DIV.BE .hideLink a {
	background:transparent url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -2px -115px;
	padding-left: 15px;
}
DIV.BE .expandLink a {
	background: transparent url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -2px -81px;
	padding-left: 15px;
}
DIV.BE .collapseLink a {
	background:transparent url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -2px -115px;
	padding-left: 15px;
}
DIV.BE .expandDiv a {
	background:transparent url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -2px -80px;
	padding-left: 15px;
	line-height: 1.8em;
	font-size:11px;
	font-weight:bold;
}
DIV.BE .collapseDiv a {
	background:transparent url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -2px -115px;
	padding-left: 15px;
	line-height: 1.8em;
		font-size:11px;
	font-weight:bold;
}
DIV.BE .showInfo a {
	background: transparent url(/Templates/Booking/Styles/Default/Images/box_information.gif) no-repeat 0 0.3em;
	padding-left: 15px;
}
DIV.BE .hideInfo a {
	background:transparent url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -2px -115px;
	padding-left: 15px;
}
DIV.BE .popupLink a {
	background:transparent url(/Templates/Scanweb/Styles/Default/Images/Icons/newIconsGrey.gif) no-repeat -2px -151px;
	padding-left:15px;
}
DIV.BE .popupLink {
	display:block;
	/*padding-left:15px !important;
	text-indent:-15px !important;*/
}
/*******************************/
/******** FORM Elements ********/
/*******************************/
DIV.BE form {
	margin: 0;
	padding: 0;	
}
DIV.BE input, DIV.BE select{
	color: #666;
	/*font-size: 10px;*/
}
DIV.BE .inputTextBig, DIV.BE .selBoxBig {
	width: 200px;
}
DIV.BE .inputTextMedium, DIV.BE .selBoxMedium {
	width: 85px;
}
DIV.BE .inputTextSmall, DIV.BE .selBoxSmall {
	width: 65px;
}

#Header{
/*overflow:hidden;*/
padding-top:5px;
clear:right;
}
.pointsInfo{
 float: right;
    font-weight: bold;
    line-height: 15px;
    height:9px;
    margin-top:2px;
    margin-right: 10px;


    text-align: right;
	font-size: 14px;
}

.bcrumbs{
	float:left;
	width:770px;
}


#CrisisContainer {
	color:#666666;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:10px;
	line-height:1.5em;
	text-align:left;
}
#CrisisContainer .CrisisMessage {
	width: 450px;
}
#CrisisContainer .CrisisMessage *{
	margin: 0;
	padding: 0;
}
#CrisisContainer .CrisisMessage p{
	margin-bottom: 8px;
}
#CrisisContainer .CrisisMessage .top{
	width: 450px;
	height: 10px;
	background: url(/Templates/Booking/Styles/Default/Images/rounded_corners_top_450px.gif) top left no-repeat;	
}
#CrisisContainer .CrisisMessage .center{
	background: url(/Templates/Booking/Styles/Default/Images/rounded_corners_center_450px.gif) top left repeat-y;	
	padding: 0 10px;
}
#CrisisContainer .CrisisMessage .bottom{
	background: url(/Templates/Booking/Styles/Default/Images/rounded_corners_bottom_450px.gif) bottom left no-repeat;	
	width: 450px;
	height: 10px;
}
#CrisisContainer .CrisisMessage h3 {
	width: 320px;
	float: left;
	margin: 0 0 10px;
	font-size: 12px;
}
#CrisisContainer .CrisisMessage .SkipLink {
	width: 100px;
	float: left;
	margin-top: 0;
	text-align: right;
}
#CrisisContainer .CrisisMessage .link {
	display:block;
	padding-left:10px !important;
	text-indent:-10px !important;
	margin: 0;
}
#CrisisContainer .CrisisMessage .link a {
	background:transparent url(/Templates/Booking/Styles/Default/Images/red_arrow_small.gif) no-repeat scroll 0pt 0.3em;
	padding-left:10px;
	color: #000;
	text-decoration: none;
}
#CrisisContainer .CrisisMessage a{
	text-decoration: none;
}
#CrisisContainer .CrisisMessage a:hover{
	text-decoration: underline;
}
#CrisisContainer .CrisisMessage .clear {
	display: block;
	clear: both;
}

#commonControls #Tab1, #commonControls #Tab2, #commonControls #Tab3, #Tab4, #commonControls #Tab5 {
	margin:0;
}

.frmInputDisabled
{
	background-color:#d4d0c8;
}
#GuestDetails{
	margin-right:5px;
	margin-left:5px;
}

.booking-progress{clear:both;
vertical-align:middle !important;
line-height:1.8em;
}

.booking-progress img{
    bottom: 5px;
    position : relative;
}
.popupLink{
text-align:right;
}