/* style.css */
.ExpansionPageBottomArea #MainBody .heading1,
.ExpansionPageBottomArea #MainBody .heading2{
	*margin-left:7px;
	margin-left:7px\9;
}
#SP_StageArea
{
	*margin-left:7px;
	margin-left:7px\9;
}
/* structure.css */
#StageAreaWide #MainBodyArea
{
	*position:relative;
	position:relative\9;
}
/* find a hotel.css */

#hotelContainer{
	margin-top:20px;
	*margin-left:7px;
	*margin-left:7px\9;
}
#findAhotel{	
	_overflow:hidden;
	position:relative\9;
	*position:relative;
}
/* dropmenu.css */
#TopMenu li.selected
{
	height:26px\9;
}
/* style.css */
.roundMe TEXTAREA {*OVERFLOW-Y: auto; OVERFLOW-Y: auto\9;}
.roundMe TEXTAREA {*OVERFLOW-Y: auto; OVERFLOW-Y: auto\9;}
a.help {*text-decoration:none!important;text-decoration:none!important\9;}

#FindHotelVenue .MeetingSearchButton input {
    padding: 3px 42px 2px 5px\9;	
}
.de #SecondaryBodyArea .howManyRoom .selHdr1 strong {left:75px;left:82px\9;*left:82px!important;
top:5px;}
.loginFlyout{width:700px\9;}
#Header .fltLft .formCnt span.help{
	*background-position: 10px -860px; *padding:0 30px 4px 0;*height:15px;;*top:3px;background-position: 10px -860px\9; padding:0 30px 4px 0\9;height:15px\9;top:3px\9;
}
/* div.dobselect div.error, div.dobselect1 div.error{display:inline-block\0/; } */

.ie7bknewcoment{*width:704px!important;margin-bottom:19px!important;}
.ie8width { width: 699px\0/!important; }
.bookingDetailWrapper a.help, .bookingDetailWrapper span.help{*top:auto!important;}
.de .tabCntnt .tabCnt,  .ru .tabCntnt .tabCnt{
background: url(/Templates/Booking/Styles/Default/Images/reservation2.0/tabContainerCnt.png) repeat left bottom;
}
span.ie9tip{position:absolute\9;}
span.ie9tip, #yourStayMod05 span.help, #yourStayMod05 a.help, .bookingContent span.help, .bookingContent a.help, .prevbook{position:absolute\0/!important;}
.prevbook{*position:absolute}
span.ie9tip{*position:relative;}
#ContactFormArea #id_matrix span  {line-height: 1.2em\0/;}
#ContactFormArea #id_matrix span { *line-height: 1.2em; }

.RoomPref .lblChkBox {width:128px!important\9;}
.booking-progress img{bottom:0px!important\9;}
.cartTotal1{*margin-top:20px;}
