.RoomPref .lblChkBox {width:126px!important;}
.booking-progress img{bottom:2px!important;}
.detailsColmLeft .mrgBtm10 label {line-height:12px;}
.detailsColmLeft .padLft label {line-height:12px;}
.mrgBtm5{margin-bottom:5px;}
div.chooseStayType span.help, div.map span.help{position:absolute; background-position:7px -858px; padding-bottom:7px;}
div.chooseStayType {margin-right:31px;}
.tableData table td input{padding-top:4px;}
.mapRadioCnt{margin-right:34px;}
#Loyalty .PINchoice input{margin-top:1px!important;}
span.ie9tip{position:absolute;}
.fgpInfo{position:relative!important;}
#BookingDetails input.radio, #BookingDetails  input.frmInputChkBox{vertical-align: top;margin-top:0px;}
div#EnrollLoyalty input.frmInputTextSmall{margin-top:-3px !important; }
#ddlExpiryMonth , #ddlExpiryYear{margin-top:-2px;}
/*#Loyalty .frmSelect {
    height: 20px;
}
#GauranteeInfo .frmSelect{height:20px;}*/
 #Loyalty #Terms label.frmCheckBox{ margin-top: -4px;}
 .chkmyinterestContainer .chkMyInterest input, #partnerPref inpu4{margin-top:0px;}
 .RoomPref .frmInputChkBox{top:0px !important}

  #BookingDetails input.chkBx{vertical-align: top;margin-top:0px!important;}
   #BookingDetails .specialService input{padding-top:5px !important;}
   .modifyProfileChk input{margin-top:-3px;}
   .modifyRoomContainer a.modLink{ clear:both; float:left;}
.fgpInfo{position:relative!important;}
.rateHighlightText{padding-left: 6px;}
.brandSearchBtn { background-position: right -915px;}
#CountryBodyLeftArea .brandSearchBtn{background-position: right -919px!important;}
 h2.offerFilterBtn{

	/* behavior: url(ie-css3.htc); */
	behavior: url("/Templates/Booking/Styles/Default/PIE.htc");
	position: relative;
	zoom: 1; /* IE6 */
	z-index:9;
	}
    
h2.offerFilterActiveBtn{    
  
		behavior: url("/Templates/Booking/Styles/Default/PIE.htc");
	position: relative;
	zoom: 1; /* IE6 */}
	
#BookingDetails .ddlNameTitle{margin:3px 0 0 10px;width:110px;}
#BookingDetails .spnNameTitle{padding:3px 0 0 10px;}