div.chooseStayType span.help, div.map span.help{position:absolute; background-position:7px -859px; padding-bottom:7px;}
div.chooseStayType {margin-right:31px;}

span.ie9tip{position:absolute!important;}

#HotelLocationDetailedMapRight .FindYourWay{width:66%;}
.bookingContent span.help, .bookingContent a.help, .prevbook{position:absolute;}
.RoomPref .lblChkBox {width:126px!important;}
.booking-progress img{bottom:0px!important;}
.detailsColmLeft .mrgBtm10 label, .detailsColmLeft .padLft label, .tableData table td label, .tableData table td input{line-height:12px;}
.mapRadioCnt{margin-right:34px;}
#MemberLogin .chrmhelpiconfix{ margin-right: 339px;}
#MyInterest span.help, #MyInterest a.help{position:absolute;}
.fgpPointsContent span.ie9tip{position:relative!important;}
#BookingDetails input.radio, #BookingDetails  input.frmInputChkBox{vertical-align: top;margin-top:0px;}
div#EnrollLoyalty input.frmInputTextSmall{margin-top:-1px !important; height:18px;}
#Loyalty #GuranteeInfo input{margin-bottom:1px;}
#ctl00_MainBodyRegion_MainBodyLeftRegion_ctl04_ddlExpiryMonth {
    margin-top: 9px;
}
.checkAccessRoom,#SpclReq .lblChkBox{margin-top:0px !important;}
.brandSearchBtn { background-position: right -915px;}
#CountryBodyLeftArea .brandSearchBtn{background-position: right -919px!important;}
.tableData table td label{padding-bottom: 15px;}

.ulterms .essenInfo div.error, #Comments .bookingDetailWrapper div.error { background-position: 0 0px;}
#BookingDetails input.chkBx{margin-top:-1px;}
/*#Loyalty .frmSelect {
    height: 20px;
}
#GauranteeInfo .frmSelect{height:18px;}*/
#Loyalty #Terms label.frmCheckBox{ margin-top: -3px;}
#BookingDetails input.chkBx{vertical-align: top;margin-top:-1px!important;}
#BookingDetails .ddlNameTitle{margin:3px 0 0 10px;width:110px;}
#BookingDetails .spnNameTitle{padding:3px 0 0 10px;}

