#Loyalty {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 1.7em;
	text-align: left;  
	width: 472px;
}
.content .formRow .lblRadio1{
    font-size: 12px;
}

#AccountOverview #Transactions{
	margin-bottom: 18px	
}

#AccountOverview #PointsDetails{
	margin-bottom: 18px	
}


#Loyalty a{
	color: #000;
	text-decoration: none;
}
#Loyalty a:hover{
	/*text-decoration: underline;*/
}

#Loyalty p {
	margin: 0;
	padding: 0;	
	padding-bottom: 10px;
	
}
#Loyalty div.hr {
	background: url(/Templates/Booking/Styles/Default/Images/bkg_dotted_line_gray_white.gif) repeat-x left top;
	height: 1px;
	line-height: 0px;
	margin: 9px 0pt;
}
#Loyalty div.hr hr {
	display: none;
}
#Loyalty .formRowColumn1, #Loyalty .formRowColumn2 {
	width: 100px;
	float: left;
	padding-right: 3px;
	padding-bottom:3px;
}

#Loyalty .txtModule {
	margin-bottom: 10px;
}
#Loyalty .feedbackMsg {
	margin-bottom: 10px;
}
#Loyalty .feedbackMsg .titleTxt{
	color: #3D3536;
	display: block;
	/* font-size:11px; */
	font-weight:bold;
	background-image: url(/Templates/Booking/Styles/Default/Images/bkg_tick.gif);
	background-position: left 7px;
	background-repeat:no-repeat;
	padding: 7px 5px 5px 20px;
	margin-left: 11px;
}

#Loyalty .txtModule h3 {
	color: #ccc;
	font-size: 14px;
}
#Loyalty .heading {
	margin-bottom: 10px;
	font-size: 12px;	
}
#Loyalty .subHeader {
	background: url(/Templates/Booking/Styles/Default/Images/bkg_dotted_line_gray_white.gif) repeat-x left bottom;
	padding: 3px 0 3px 5px;
	margin-bottom: 10px;
	font-size: 12px;	
	color: #2C2526
}
#Loyalty .lblHeader {
	font-size: 12px;
	display: block;
	padding-bottom: 10px;
}
#Loyalty .columnOneA {
	width: 226px;
	margin-right:10px;
	float: left;
}

#Loyalty .columnTwo {
	width: 226px;
	margin-right: 0px;	
}

#Loyalty .columnTwoA {
	width: 190px;
	margin-right: 0px;	
	float:left;
}

#Loyalty .columnThree {
	width: 30px;
	margin-right: 0px;	
	float:left;
	/*padding-top:25px;*/
}
#Loyalty .Addr {
	display: block;
	float: left;
	overflow: hidden;
}
#Loyalty .helpLink {
	display: block;
	float: right;
	text-align: right;
}
#Loyalty .helpLink h2 {
	color:#535353 !important;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0 0 0 10px;
}
#Loyalty .formGroup {
	display: block;
	margin-bottom: 10px;
}
#Loyalty .formRow {
	display: block;
	/* padding-bottom: 5px; */
	float: left;
	clear: both;
	width: 100%;
}
#Loyalty #EnrollLoyalty .formRow {
	clear: none;
	width: 99%;
}
#Loyalty #EnrollLoyalty .formRowSpcl {
	width: 100%;
}
#Loyalty .value {
	color: #000;
}
#Loyalty .strongValue {
	
	font-weight: bold;
}
#Loyalty .formRow span.radioBtnHolder input {
	width: 15px;
	vertical-align: middle; /*looks weird in FFox */ 
	margin:0;
}
#Loyalty .formRow span select {
	margin:0 2px 0 0;
	/*height:20px;*/
}
#Loyalty .formRow .selDay select {
	width: 60px;
}
#Loyalty .formRow .selMonth select {
	width: 87px;
}
#Loyalty .formRow .selYear select {
	width: 70px;
}
#Loyalty .formRow .selCode select {
	width: 65px;
}
#Loyalty .formRow label.secondaryLabel {
	text-align: left;
	font-weight: normal;
	width: 111px;
	float: left;
	display: block;
}
#Loyalty .formRow input.radioBtn {
	text-align: right;
	font-weight: normal;
	vertical-align: middle;
}
#Loyalty .Address {
	padding-bottom: 10px;
}
#Loyalty .formRow label{
	display: inline-block;
	float: left;
}
#Loyalty .formRow span{
	/*font-size: 10px;
	line-height: 12px; */
}
#Loyalty .formRow .lblRadio{ 
	width: 60px;
}

#Loyalty .formRow .lblRadio1{ 
	width: 100%;
}

#Loyalty .formGroupOne, #Loyalty .formGroupTwo{
	width: 130px;
	float: left;
	margin-bottom: 15px;
}
#Loyalty #GauranteeInfo input {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: -2px;	
}
#Loyalty .formGroupTwo{
	width: 95px;
	float: left;
}
#Loyalty #GuestInfo .formRowEmpty {
	padding-bottom: 0px;
	line-height: 5px;
}
#Loyalty #GauranteeInfo .formRowEmpty {
	margin-bottom: 0px;
	padding-bottom: 0px;
}


#Loyalty .frmInputText {
    font-size: 12px;
    height: 18px;
    width: 150px;
    line-height:18px;
}

#Loyalty .frmForgotPwdInputText {
    font-size: 12px;
    height: 18px;
    width: 100px;
    line-height:18px;
    padding: 5px 4px;
}


#Loyalty .frmForgotPwdPrefixText {
    background-color: #FFFDDE;
    font-size: 12px;
    height: 18px;
    width: 50px;
    line-height:18px;
    padding: 5px 4px;
}

#Loyalty .frmPrefixText {
    background-color: #FFFDDE;
    margin-right: 2px !important;
    width: 45px !important;
}
#Loyalty .frmInputText1 {
	width: 170px;
	padding:5px;
}
#Loyalty .frmInputTextSmall {
	width: 121px;
	padding:5px;
}
#Loyalty .frmInputTextAreaBig {
	width: 415px;
}
#Loyalty .frmSelect {
	width: 75px;
	height:28px;
	line-height:28px;

}
/* Site Expansion, German language FGP, Become a Member Title dropdown fix */
.de #Loyalty .frmSelect {
	width: 75px;
}
/* Site Expansion End */

.de #Loyalty .frmTitleSelect {
	width: 100px;
}
#Loyalty .frmTitleSelect {
	width: 100px;
	height:28px;
	line-height:28px;

}
#Loyalty .frmSelectMedium {
	width: 130px;
	height:20px;
	line-height:20px;

}
#Loyalty .frmSelectBig {
	width: 210px;
	height:28px;
	line-height:28px;
	padding:4px;
}
#Loyalty .frmInputRadio {
	margin: 0 3px 0 0;
	
}
#Loyalty .frmInputChkBox {
	margin: 0 3px 0 0;
}
#Loyalty .lblRadio, #Loyalty  .lblRadioBig{ 
	width: 80px;
	display: block;
	float: left;
	margin-left: 17px;
	text-indent: -19px;
}
#Loyalty .lblRadioBig{ 
	width: 120px;
	
}
#Loyalty .lblChkBox{ 
	width: 150px;
	display: block;
	float: left;
	margin-left: 17px;
	text-indent: -19px;
}
#Loyalty .formRow .lblChkBoxBig{ 
	width: 220px;
	display: block;
	float: left;
	margin-left: 17px;
	text-indent: -17px;
}
#Loyalty .lblDisabled {
	color: #DCD7BD;
}
#Loyalty #FooterContainer {	
	/* background: url(/Templates/Booking/Styles/Default/Images/bkg_dotted_line_gray_white.gif) top left repeat-x; */
	padding-top: 10px;
	padding-left:10px;
	margin: 10px 0 0;
}
.noimage {background:none!important;}
#Loyalty div[id$="TransactionGrid"] #FooterContainer {	
	background: url(/Templates/Booking/Styles/Default/Images/bkg_dotted_line_gray_white.gif) top left repeat-x;
	padding-top: 10px;
	padding-left:0px!important;
	margin: 10px 10px 0 12px;
}

#Loyalty div.FooterContainer {	
	background: url(/Templates/Booking/Styles/Default/Images/bkg_dotted_line_gray_white.gif) top left repeat-x;
	padding-top: 10px;
	margin: 10px 0 0;
}
#Loyalty .footerDiv {
	background: url(/Templates/Booking/Styles/Default/Images/bkg_footer.gif) bottom left no-repeat;
	padding: 3px 10px 5px;
	margin-bottom: 10px;
}
#Loyalty .buttonContainer {
	margin:0;	
}
#Loyalty .alignLeft {	
	float: left;
	width: 50%;
}
#Loyalty .alignRight {	
	float: right !important;
	width: 50%;
	text-align: right;		
}
/* Site Expansion, language-Russia */
.de #Loyalty .alignRight {	
	width: 60%;
}
/* Site Expansion end */

#Loyalty #selectRateContainer .hr{
	margin-bottom: 10px;
}
#Loyalty .formRow a{
	color: #BB0000;
	text-decoration: none;
}
#Loyalty .formRow a:hover{
	color: #BB0000;
	text-decoration: underline;
}

#Loyalty .frmCheckBox input, #Loyalty input.frmCheckBox {
	float: left;
	margin: 0pt;
	padding: 0pt;
}
#Loyalty #Terms .frmCheckBox label, #Loyalty #Terms label.frmCheckBox, #lblTermAndCondition label.frmCheckBox, #lblTermAndCondition .frmCheckBox label {
	float: left;
	margin: 0px 0 0 5px;
	width: 94%;
	margin-left: 5px;
}
#Loyalty #Terms .frmRadio input, #Loyalty #Terms input.frmRadio{
	float: left;
	margin: 5px 0 0 0;
	padding: 0;
}
#Loyalty .frmCheckBox label, #Loyalty label.frmCheckBox {
	float: left;
	margin: 0 0 0 5px;
	width: 90%;
	margin-left: 5px;
}
#Loyalty .frmRadio input, #Loyalty label.frmRadio{
	float: left;
	width: 90%;
	margin-left: 5px;
	}
#Loyalty #PointsDetails .column1 {
	width: 300px;
	float: left;
	display: block;
}
#Loyalty #PointsDetails .column2 {
	width: 145px;
	float: left;
	display: block;
}
#Loyalty #Transactions .column1 {
	width: 230px;
	float: left;
	display: block;
}
#Loyalty #Transactions .column2 {
	width: 150px;
	float: left;
	display: block;
}
#Loyalty #Transactions .column3 {
	width: 70px;
	float: left;
	display: block;
}
#Loyalty #Redemtion .column1 {
	width: 160px;
	float: left;
	display: block;
}
#Loyalty #Redemtion .column2 {
	width: 110px;
	float: left;
	display: block;
}
#Loyalty #Redemtion .column3 {
	width: 100px;
	float: left;
	display: block;
}
#Loyalty #Redemtion .column4 {
	width: 80px;
	float: left;
	display: block;
}
#Loyalty #Redemtion .sortBy{
	float: right;
	text-align: left;
	width: 150px;
	margin-bottom: 5px;
}
#Loyalty #Redemtion .hotelName{
	margin-bottom: 5px;
}
#Loyalty #Redemtion .pointsTable{
	margin-bottom: 20px;
}


#Loyalty .timeFrame {
	width: 100%;
	text-align:left;
	margin-bottom: 10px;
}
#Loyalty .timeFrame .text{
 	text-align: left;
	width: 160px;
	display: block;
	float: left;
}
#Loyalty #Transactions .timeFrame .text{
 	width: auto;
}
#Loyalty .timeFrame .selMonth{
	display: block;
	float: left;
 	margin-left: 8px;
	text-align: right;
}
#Loyalty #Transactions .timeFrame .selMonth{
	display: block;
	float: left;
 	margin-left: 2px!important;
	text-align: right;
}

#Loyalty .timeFrame .selMonth select {
	width: 124px;
}
#Loyalty #Transactions .timeFrame .selMonth select{width: auto;}

#Loyalty .box-top {
	background: url(/Templates/Booking/Styles/Default/Images/bkg_box_top_472.gif) top left no-repeat;
	line-height: 0;
	/*font-size: 0;*/
	height: 9px;
	width: 472px;
}
#Loyalty .box-top-grey {
	background: url(/Templates/Booking/Styles/Default/Images/bkg_grey_box_top_472.gif) top left no-repeat;
	height: 27px;
	width: 472px;
}
#Loyalty .box-top-grey .title{
	padding: 5px 11px;
	display: block;
	font-size:12px;
	font-weight:bold;
	color: #3D3536;
}
#Loyalty .box-bottom {
	background: url(/Templates/Booking/Styles/Default/Images/bkg_box_bottom_472.gif) top left no-repeat;
	line-height: 0;
	/*font-size: 0;*/
	height: 9px;
	width: 472px;
}
#Loyalty .box-middle {
	width: 472px;
	background: url(/Templates/Booking/Styles/Default/Images/bkg_box_center_472.gif) top left repeat-y;
}
#Loyalty .content {
	padding: 5px 10px 5px 12px;
}


#Loyalty #LostCard a{
	color: #000;	
}

#Loyalty .box-middle .columnOne{
	width: 220px;
	margin-right: 10px;
}
#Loyalty .box-middle .columnTwo{
	width: 220px;
}
#Loyalty #Contactus .txtBlockOne{
	width: 226px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
#Loyalty #Contactus .txtBlockTwo{
	width: 226px;
	float: left;
	margin-bottom: 10px;
}
#Loyalty td {
	padding:10px 0 8px;
}
#Loyalty #Transactions th {
	font-weight:normal;
	margin-bottom: 10px;
	padding: 5px;
	background: url(/Templates/Booking/Styles/Default/Images/bkg_dotted_line_gray_white.gif) bottom left repeat-x;
	font-size: 13px;
}
#Loyalty #Transactions td{
	border-bottom: 1px solid #000;
}
#Loyalty #Transactions .lastRow td{
	border: none;
}
#Loyalty #Transactions .blank td{
	border: none;
	padding: 0px;
}
#Loyalty .odd {
	background: #CCCCCC;	
}
/* CR-5 implementation for Release 1.1 */
#SpclReq .prefLang, #SpclReq .prefBedtype {
	float: left;
	margin-bottom: 5px;
}
#SpclReq .RoomPref label{
	float: left;
	margin-bottom: 10px;
}
#SpclReq .lblRadio, #SpclReq .lblChkBox{ 
	width: 150px;
	display: block;
	float: left;
	margin-left: 2px;  
	text-indent: 0px;              
}
#SpclReq .frmInputRadio, #SpclReq .frmInputChkBox {
	margin: 0pt;
	display:inline;
}
/* End CR-5 implementation for Release 1.1 */
#Loyalty label.PINchoice{
	width: 200px;
}
#Loyalty .PINchoice input {	
	/*margin: 0 0 -3px -3px !important; */
	
	margin:0px!important;
}


/*
-------------------------------------------
Added new css for release 1.5 enhancements
-------------------------------------------
*/

#stayListForMissingPoint{
	margin:10px 0 0 0;
	display:none;
	overflow-x:auto;
	width:450px;
	overflow-y:hidden
}

#AccountOverview #expiringPoints{
	margin-bottom: 18px	
}

#stayListForMissingPoint table tr th, #expiringPoints table tr th{
	background-image:url(/Templates/Booking/Styles/Default/Images/horizontal_rule.gif);
	background-position:center bottom;
	background-repeat:repeat-x;
	padding:0 5px 3px 5px;
	vertical-align:top;
}

#stayListForMissingPoint table tr td, #expiringPoints table tr td{
	vertical-align:top;
	padding:3px 5px;
}

#stayListForMissingPoint table tr td.deleteRow{
	text-align:center;
}

#stayListForMissingPoint table tr.altRow td{
	background:#f4f4f4;
}
	
div.preferredPartnerPgm{
	display:block;
}

#expiringPoints table tr th{
	font-size:12px;
	font-weight:normal;
	color:#000;
}

#Loyalty ol{
	padding:0px auto;
	margin-top:0;
	margin-bottom:10px;
}

#Loyalty .helpLink1 {
	width: 170px;
	display: block;
	float: right;
	text-align: right;
}


span.alertMsg {
	color:#990000;
	border:1px solid #990000;
	padding:3px;
}
#LoginScreen p.formRow
{
	height:32px;
}	
#ctl00_MainBodyRegion_MainBodyLeftRegion_ctl04_ddlExpiryMonth {
    margin-top: 8px;
}
#SpclReq .lblChkBox {
    margin-top: -1px;
}
.checkAgeconfirmation{ margin-top: 4px;}
.PleaseCheck{ margin-top: -4px;display: block;}
@media screen and (-webkit-min-device-pixel-ratio:0) { #ctl00_MainBodyRegion_MainBodyLeftRegion_ctl04_ddlExpiryMonth {
   
    margin-top: 11px !important;
}}


.closeBtn{position: fixed; z-index: 99; margin-top: -13px; margin-left: 477px;}
.conf_Popup #LeftContentArea #BookingArea .bookingContent{ right: 2px !important;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.conf_Popup #LeftContentArea #BookingArea .bookingContent{ right: 0px !important;}}
#loyalty #txtTelephone2 ,#loyalty #txtTelephone1{margin-top: -3px !important}
@media screen and (-webkit-min-device-pixel-ratio:0) {#loyalty #txtTelephone2 ,#loyalty #txtTelephone1{margin-top: -1px !important}}
#loyalty #ddlTel2 ,#loyalty #ddlTel1{ height: 19px !important;}

/*.marginMember, #lblAccountNo0 label{margin-left: 10px !important;} */
ul.terms .essenInfo div.error,.bookingDetailWrapper div.error {background-position: 0 1px !important;}
#lblChkEnroll{margin-top: 4px !important;}
.conf_Popup .bookingContent .chkBox label{margin-top:5px;}
#ddlExpiryYear , #ddlExpiryMonth{height:19px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {div#EnrollLoyalty #GuestInfo input.frmInputTextSmall {
    margin-top: 0px !important;
}}
@media screen and (-webkit-min-device-pixel-ratio:0) {#ddlExpiryMonth {
    margin-left: -64px !important;
}}
#lblChkEnroll,  #BookingDetails input.chkBx, input#chkReceiveScandicInfo,#SMSconfirmation , #chkTermsCondition{margin-top:4px !important;}
@media screen and (-webkit-min-device-pixel-ratio:0){#ContactFormArea #id_matrix span{line-height:13.4pt !important}}
@media screen and (-webkit-min-device-pixel-ratio:0){#ContactFormArea #id_matrix td input{margin-top:-1px;}}
@media screen and (-webkit-min-device-pixel-ratio:0){#spnAddAnother{ position: absolute;}}
 #lblTermAndCondition .frmInputChkBox, .ulterms .terms li input.checkAgeconfirmation{ margin-top: 4px;}
 #Loyalty #Terms label.frmCheckBox{ margin-top: -4px;}
 #tandc #lblTermAndCondition .frmInputChkBox{ margin-top: 4px!important;}
@-moz-document url-prefix() { 
  #Terms .columnTwo{ margin-top: -3px;}
}
@-moz-document url-prefix() { 
  #GauranteeInfo .frmSelect{ margin-top: 8px;height:20px;}
}

 .modifyProfileChk input{border:none;}

div.BE .FGP p.bday {
    margin-bottom: 0px;
}

.ru #GauranteeInfo #ctl00_MainBodyRegion_MainBodyLeftRegion_ctl04_ddlExpiryMonth {
    margin-left:-84px !important;
}
input.checkbox{vertical-align: top;}

div[id$="preferredPartnerPgm"] .columnTwoA 
{
	width: 185px!important;
}
div[id$='preferredPartnerPgm'] div.error
{
	margin-left: 43px;
	display: none!important;
}
div[id$='preferredPartnerPgm'] .columnThree span 
{
	float: left;
    margin-top: 3px;	
}
#Loyalty  .lblTitle{padding-left: 105px;}