/*****************************/
/******* STRUCTURE CSS********/
/*****************************/
#TopShortcutArea,
#MainMenuArea,
#BreadcrumbsArea,
#StageArea #SecondaryBodyArea,
#FooterArea, #SecondaryBodyArea, .btnSubmit, div#sortBy, .RoundedCornersTop718, .RoundedCornersImage718, .RoundedCornersBottom718 {
	display: none!important;
}

#HeaderArea{
height:30px!important;
width:100%!important;
background:url(/templates/Booking/Styles/Default/Images/printLogo.gif) no-repeat right 6px !important;
padding:10px 0px 10px 0px !important;
}

#HeaderArea img{
display:none;
}

#Page, #PageWide, #StageAreaHotel {
width:100%!important;
}

/*#StageArea {
float:left;
width:700px!important;
position:relative;
top:-25px;
}*/

#PageHeaderArea {
background:none!important;
height:20px!important;
width:100%!important;
}

#PageHeaderDiv {
padding-left:20px;
width:100%!important;
text-align:left;
padding-bottom:0px;
}
#PageHeaderDiv h1{padding:0px;}

/*****************************/
/******** PAGE CSS  ********/
/*****************************/
#hotelFooterContainer, 
#Reservation #progTab {
	display: none;
}
#Reservation div.BookingConfirmation #resInfo {
	background: none;
	border: 0px solid #666;
}
#resInfo .resNumber {
	background: url(Images/res_info_box_grey_center.gif) !important;
}
#Reservation .subHeader, .HotelLocationHeadLine h2, .HotelFacilityHeadLine h2 {
	background:url(Images/bkg_dotted_line_gray_white_print.gif) left bottom!important;
}
#hotelDetailContainer .hotelDetailBody  .hotelDetail_price .inner{
	/***background: url(Images/bkg_rate_box_bottom.gif) bottom left !important;***/
}
div.BE .showInfo a {
	padding-left: 0px;
}

div.BE {
overflow:visible !important;
}


#SubMenuNavigation {
background:none!important;
height:20px!Important;
overflow:visible!important;
padding-left:20px;
width:700px!important;
}

#StageAreaHotel #MainBodyArea {
margin-top:0px!important;
padding-bottom:20px;
width:700px!important;
clear:both;
}

#SubMenuNavigationTab ul li.Tab {
	display:none;
}

#SubMenuNavigationTab ul li.ActiveTab a {
	font-size:14px;
	padding:0!important;
	width:700px;
	text-align:left!important;
}

#HotelOverview {
width:700px!important;
}

#StageAreaHotel #MainBodyArea #MainBodyLeftArea, #HotelOverview .HotelOverviewTopRight, #HotelOverviewBottom .HotelLocationHeadLine, #HotelOverviewBottom #HotelOverviewLocation, #StageAreaHotel .borderContainer226map   {
width:200px!important;
}

#HotelOverview .HotelOverviewTopLeft {
width:450px!important;
}

#StageAreaHotel .borderContainer472 .middle, #StageAreaHotel .borderContainer472map .middle{
overflow:visible!important;
/*width:450px!important;*/
}

.HotelFacilityHeadLine h2 {
margin-left:20px;
}

#StageAreaHotel #MainBodyArea #MainBodyRightArea {
margin-left:1px!important;
margin-right:1px!important;
float:right!important;	
}

#StageAreaHotel .borderContainer472map .middle {
padding-left:0px!important;
}
*html #StageAreaHotel #MainBodyArea #MainBodyLeftArea {
margin-right:0px!important;
/*width:200px!important;*/
}

*html .HotelLinkList .IconLink {
background: url(Images/Icons/newIconsGrey_print.gif) 0 -3px !important;
border-bottom:1px dotted #ccc;
}

#HotelOverviewLocation .borderContainer226map .top {
background:url(Images/top226light_print.gif)!important;
}

#StageAreaHotel .borderContainer226map .bottom {
background:url(Images/bottom226light_print.gif) no-repeat;
}
#StageAreaHotel .borderContainer226map .middle {
	padding-left:0!important;
}


.HotelOfferContainer {
	margin-right:2px;
}


div.MeetingRoomListExpanded div.MeetingRoomLeft, div.MeetingRoomListNotExpanded div.MeetingRoomLeft{
float:none!important;
overflow:visible!important;
width:80%!important;
}

div.MeetingRoomListExpanded div.MeetingRoomRight, div.MeetingRoomListNotExpanded  div.MeetingRoomRight{
float:none!important;
width:80%;
}

.MeetingRoomLeft .MeetingRoomImage
{
	padding-top: 10px;
}


#MeetingsAndRooms .MeetingRoomContainer {
	overflow:visible;
	float:none!important;
	background:none!important;
	padding-bottom:20px!important;
}

#hotelDetailContainer .hotelDetailBody {
background:none!important;
}

#hotelDetailContainer .hotelDetailBody .hotelDetail_columnTwo {
float:none!important;
width:100%!important;
}

#hotelDetailContainer .hotelDetailBody .hotelDetail_columnOne {
overflow:visible;
float:none!important;
}

div.hotelDetail_info p{
	width:60%
}

div.bookingInfo div p{
	max-width:500px;
}

div.RoomCancelConfirmation p label strong {
padding:0 10px;
}


#Reservation .resInfo-top {	
	background: url(Images/res_info_box_top.gif);
	height:9px !important;
	line-height:normal; !important;
	font-size:1px !important;
}


DIV.BE .showLink a {
	background: url(Images/Icons/newIconsGrey_print.gif) -2px -81px !important;
	padding-left: 15px;
}
DIV.BE .link a {
	background: url(Images/Icons/newIconsGrey_print.gif) 0 -3px !important;
	padding-left:15px;
}


DIV.BE .collapseDiv a {
	background: url(Images/Icons/newIconsGrey_print.gif) -2px -115px !important;
	padding-left: 15px;
	line-height: 1.8em;
}

.LeftNavigation .LinkListItem a.Active, .LeftListNavigation .LinkListItem a.Active, .LeftNavigation .LinkListItem a:hover, .LeftListNavigation .LinkListItem a:hover
{
	 background:url(Images/Icons/newIconsWhitegrey_print.gif) 0px 3px !important;
	 background-color:#666 !important;
	 color:#fff !important;
}

.LeftListNavigation .LinkListItem .lastlink a.IconLink
{
	background: url(Images/Icons/newIconsGrey_print.gif) 0 3px !important;
	padding-left:18px;	
}

#HotelRooms .LinkContent a.IconLink, #MainBodyArea div#UrlLink a.IconLink
{
	background: url(Images/Icons/newIconsGrey_print.gif) 0 -3px !important;
}

DIV.BE .expandDiv a {
	background: url(Images/Icons/newIconsGrey_print.gif) -2px -80px  !important;	
}

.HotelLocationHeadLine h2
{
	display: block !important;
	background: none !important;
	margin-top:10px !important;
	
}

h2.darkHeading{
	background-color:#000 !important;	
	margin:0 0 5px 0 !important;;
	padding:0 0  0 10px !important;;
	font-size:11px !important;;
	font-weight:bold !important;;
	color:#fff!important;
	margin-top:10px !important;
}

h2.lightHeading{
	background-color:#000  !important;	
	margin:0 0 5px 0 !important;
	padding:0 0  0 10px !important;
	font-size:11px !important;
	font-weight:bold !important;
	color:#fff!important;
	margin-top:10px !important;
}

.HotelLinkList{margin-top: 0px;}

#PageHeaderDiv{
    border-left:none !important;
	padding-bottom:3px !important;
	border-bottom:none !important;
}

#PageHeaderArea{
	border-left:0px solid #D6D6D6 !important;
	border-right:0px solid #D6D6D6 !important;
}
#HotelFacilities{
	width: 452px !important; float:left !important; 
	}
#StageAreaHotel #MainBodyArea #MainBodyRightArea{
	width: 452px !important; float:right !important;
	}
#HotelRooms
{
	float: left;
	width: 452px;
}

#StageAreaHotel #MainBodyArea #MainBodyRightArea{
	margin-left:10px !important;
	}
#StageAreaHotel #MainBodyArea{width: 700px !important;}

.DownloadIconLink, a.DownloadIconLink
{
	background: url(Images/Icons/newIconsGrey_print.gif) -5px -37px !important;	
	padding-left:12px !important;
	line-height:1.5em !important;
}
/*----
#HotelMeetingsLeft .HotelMeetingInfoBox h2, #MeetingsAndRooms h2 {
	background: url(Images/horizontal_rule_print.gif) !important;
}---*/
a.MeetingRoomContractLink{
	background: url(Images/Icons/newIconsGrey_print.gif) -5px -115px !important;	
}
a.PopupIconLink
{
	background: url(Images/Icons/newIconsGrey_print.gif) -5px -147px !important;
}
a.MeetingRoomExpandLink
{
	background: url(Images/Icons/newIconsGrey_print.gif) -2px -81px !important;
}

.HotelFacilityHeadLine h2{
	background-image: none !important;
	width:460px !important;
}
.borderContainer472 .rightcolumn{width:20% !important; display:inline !important;}

.LeftListNavigation .LinkListItem{margin-bottom:4px;}

div.Desc_Hotel, div#MainBodyArea div#HotelOverview div#hotelOverviewTopImg{display:none !important;}

div.BE .popupLink a:hover, a:hover{text-decoration:none !important;}

#BookingDetails .formGroup{width:100% !important;}

/*****
Confirmation Page
*****/
.roomDetails{
	page-break-before: always !important;
	float: none !important;
	overflow: visible !important;
}
.totalConf{display: inline !important;}
.roomDetails *{overflow: visible !important;}
.aboutHotel{
	page-break-before: always !important;
	float: none !important;
	overflow: visible !important;
}

/*
to display the image in print pages
*/

.pleaseNoteLogo
{
    background: url('/Templates/Booking/Styles/Default/Images/reservation2.0/pleaseNote.gif') no-repeat;
    display: inline-block;
    height: 21px;
    padding-right: 5px;
    width: 22px;
    float:left;
}