/************************/
/*      Reservation    */
/************************/

.loginInfo {
	margin-bottom: 10px;
}
.loginInfo .loginInfo-top {
	background:url(Images/res_info_box_grey_top.gif) left top no-repeat;
	height: 10px;
	overflow: hidden;
}
.loginInfo .loginInfo-inner {
	background: url(Images/res_info_box_inner.gif) left top repeat-y;
	height: 100%;
	padding: 5px 10px 0px;
}
.loginInfo .loginInfo-bottom {	
	background: url(Images/res_info_box_bottom.gif) top left no-repeat;
	height: 10px;
	overflow: hidden;
}
div.loginInfoCollapsed .loginInfo-inner {
	display: none;
}
div.loginInfoCollapsed .loginInfo-bottom {	
	background: url(Images/res_info_box_grey_bottom.gif) bottom left no-repeat !important;
	height: 8px !important;
	overflow: hidden !important;
}
div.loginInfoCollapsed .title p {
	padding-bottom:0 !important;
}

.loginInfo .title {
  background: url(Images/res_info_box_grey_center.gif) top left repeat-y;
	color:#666;
	padding: 0 10px;
	margin-top: -5px;
	font-size: 12px;
}
#resInfo .resNumber p, .loginInfo .title p{
	font-size: 12px;
	line-height: 1.8em;
}
.loginInfo .title p{
	padding-bottom: 5px;
}
.loginInfo .footer {	
	background: url(/Templates/Booking/Styles/Default/Images/bkg_dotted_line_gray_white.gif) top left repeat-x;
	padding-top: 10px;
	margin: 10px 0 0;
	display: block;
}
#resInfo .resNumber p strong {
	font-size: 14px;
}

#Links div.hr{
	margin: 1px 0 1px 18px;
}

#Links .columnOne {
	width: 180px;
	margin-right:5px;
	float: left;
}
#Links .columnTwo {
	width: 220px;
	margin-right:5px;
	float: left;
}
#Links .columnThree {
	width: 180px;
	float: left;
}

/************************/
/* hotelDetailContainer */
/************************/
#hotelDetailContainer {	
	margin-left:5px;		
}


/**************************/

/* Enter Booking Details  */
/**************************/



/* CR-5 implementation for Release 1.1 */
#SpclReq .prefLang, #SpclReq .prefBedtype {
	float: left;
	margin-bottom: 5px;
}
#SpclReq .RoomPref label{
	float: left;
	margin-bottom: 10px;
}
#SpclReq .lblRadio, #SpclReq .lblChkBox{ 
	width: 150px;
	display: block;
	float: left;
	margin-left: 2px;  
	text-indent: 0px;              
}
#Reservation #SpclReq .frmInputRadio{
	margin: 0pt;
	margin-bottom: -3px;
}
/* End CR-5 implementation for Release 1.1 */

.row2{width:572px;float:left;}
.row2 .chdAge{float:left;width:244px;margin-right:20px;}
.row2 .chdAccomdation{float:left;width:270px;}
#hotelFooterContainer .slpNote{padding-bottom:10px;}
