	.formError {
			position:absolute;
			top:300px;
			left:300px;
			padding-bottom:13px;
			visibility:hidden;
			display:block;
			z-index:5000;
			cursor:pointer;
		}
			#debugMode{
				background:#000;
				position:fixed;
				width:100%; height:200px;
				top:0; left:0;
				overflow:scroll;
				opacity:0.8;
				display:block;
				padding:10px;
				color:#fff;
				font-size:14px;
				z-index:100000;
			}
		
			.ajaxSubmit{ padding:20px; background:#55ea55;border:1px solid #999;display:none}
			.formError .formErrorTop{
			background:url(/Templates/Booking/Styles/Default/Images/reservation2.0/tooltipHeader.gif) no-repeat left top;
			height:7px;
			z-index:100000;
			min-height:7px;
			width:204px;
			}
			.formError .formErrorContent {
				z-index: 5001;
				width: 185px;
				padding: 4px 10px 4px;
				text-align: left;
				background: url(/Templates/Booking/Styles/Default/Images/reservation2.0/ErrortoolTipCotent.gif) repeat-y left top;
				color: #000;
			}
			.greenPopup .formErrorContent {background:#33be40;}
			
			.blackPopup .formErrorContent {background:#393939;color:#FFF;}
			
			.formError .formErrorArrow{
				position:absolute;
				bottom:0;
				width:204px; height:15px;
                 background:url(/Templates/Booking/Styles/Default/Images/reservation2.0/tooltipFt.gif) no-repeat left top;
				z-index:5001;
			}
			.formError .formErrorArrowBottom{top:0;margin:-6px;}
			
			