<div style="background: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/bg_body.png) repeat scroll 0px 0px transparent; height: 100pc; font-family:Helvetica Neue, Arial, sans-serif; font-size:11px">
  <div style="background: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/bg-long.png) repeat-y scroll center bottom transparent;border-bottom: 3px solid rgb(221, 221, 221);display: table ; height: 100pc; margin-left:auto;margin-right:auto; position:relative;">
    <div style="padding-top: 20px; width: 945px; margin-left: 20px;margin:0px auto;"> <img src="https://www.scandichotels.com/ImageVault/Images/id_14602/conversionFormatType_WebSafe/scope_0/ImageVaultHandler.aspx" alt="Scandic"> </div>
    <div style="margin-bottom: 13px; padding: 2px; width: 945px; margin-left: 20px;margin:0px auto;">
      <ul style="list-style: none outside none;margin: 0; padding: 0;">
        <li style="float: left;margin: 0; text-align: center;width: 140px;"> <a style="display: block; color: #666666; cursor%3a auto; font-weight: 700; line-height: 1.5em; text-decoration: none; background-image: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/scandic_sprites.png); background-repeat:no-repeat; background-color:#ECE7E2; background-position: 102px -1064px;"> <span style="display: block; padding: 5px 0;"> {FirstBreadcrumb /}</span></a></li>
        <li style="float: left;margin: 0; text-align: center;width: 140px;"> <a style="display: block; color: #666666; cursor%3a auto; font-weight: 700; line-height: 1.5em; text-decoration: none; background-image: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/scandic_sprites.png); background-repeat:no-repeat; background-color:#ECE7E2; background-position: 102px -1064px;"> <span style="display: block; padding: 5px 0;"> {SecondBreadcrumb /}</span> </a></li>
        <li style="float: left;margin: 0; text-align: center;width: 140px;"> <a style="display: block; color: #666666; cursor%3a auto; font-weight: 700; line-height: 1.5em; text-decoration: none; background-image: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/scandic_sprites.png); background-repeat:no-repeat; background-color:#ECE7E2; background-position: 102px -1064px;"> <span style="display: block; padding: 5px 0;"> {ThirdBreadcrumb /}</span> </a></li>
        <li style="float: left;margin: 0; text-align: center;width: 140px;"> <a style="display: block; color: #ffffff; cursor%3a auto; font-weight: 700; line-height: 1.5em; text-decoration: none; background: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/scandic_sprites.png) no-repeat scroll right -1026px #903A7D;"> <span style="background: url(https://www.scandichotels.com//Templates/Booking/Styles/Default/Images/scandic_sprites.png) no-repeat scroll 0 -1137px transparent; padding: 5px; display:block;"> {FourBreadcrumb /}</span> </a></li>
        <li style="float: left;margin: 0; text-align: center;width: 140px;"> <a style="display: block; color: #666666; cursor%3a auto; font-weight: 700; line-height: 1.5em; text-decoration: none; background-image: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/scandic_sprites.png); background-repeat:no-repeat; background-color:#ECE7E2; background-position: 102px -1064px;"> <span style="display: block; padding: 5px 0;"> {FiveBreadcrumb /}</span> </a></li>
      </ul>
    </div>
    <div style="width:986px;margin:0px auto;">
        <div style="float: left; margin-left: 20px; margin-top: 25px; margin-bottom:75px; width: 700px; border:1px solid #F0F0F0"> 
            <div style="padding-left:5px;">
				<div style="padding:10px 0 10px 0;padding-left:11px;">
                 {PaymentHeader /}
                </div>
                <div style="padding:0px 5px 0px 0px;padding-left:11px;">{PaymentDeclaration /}</div><br>
                <div style='float:left;padding-left:6px'>{DivCustomPaymentInfo /}	</div>			
                <div style="padding-left:0px;float:left">{netaxept:terminal /} </div><br><br>
                <div style="color:Red; font-size: 13px;line-height: 22px;">{netaxept:errorMessage /}</div><br>
            </div>
             
        </div>
     <div style="float: left; width: 226px; margin-left: 22px;  margin-top: -28px;  margin-top: -27px;">
        <div style="z-index: 0; background: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/reservation2.0/regularRdCnt.png) repeat-y scroll left top transparent;">
          <div>{HTML /}</div>
        </div>
        <div style="background:url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/reservation2.0/roundedCornerSprite.png) no-repeat scroll left top transparent; background-position: 0 -979px; height: 10px;"> </div>
        <div> </div>
      </div>
      <div style="clear:both"></div>
    </div>
  </div>

