<div style="background: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/bg_body.png) repeat scroll 0px 0px transparent; height: 100pc; font-family:%27Helvetica Neue%27, Arial, sans-serif; font-size:11px">
  <div style="background: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/bg-long.png) repeat-y scroll center bottom transparent;border-bottom: 3px solid rgb(221, 221, 221);display: table ; height: 100pc; margin:0 auto; position:relative;">
    <div style="padding-top: 20px; width: 985px; padding-left: 30px;"> <img src="https://epayment-test.bbs.no/admin/Images/Terminal/c930652b-514b-420e-aada-f0f98766125e.gif" alt="Scandic"> </div>
    <div style="margin-bottom: 13px; padding: 2px; width: 720px; margin-left: 20px;">
      <ul style="list-style: none outside none;margin: 0; padding: 0;">
        <li style="float: left;margin: 0; text-align: center;width: 140px;"> <a style="display: block; color: #666666; cursor%3a auto; font-weight: 700; line-height: 1.5em; text-decoration: none; background-image: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/scandic_sprites.png); background-repeat:no-repeat; background-color:#ECE7E2; background-position: 102px -1064px;"> <span style="display: block; padding: 5px 0;"> {FirstBreadcrumb /}</span></a></li>
        <li style="float: left;margin: 0; text-align: center;width: 140px;"> <a style="display: block; color: #666666; cursor%3a auto; font-weight: 700; line-height: 1.5em; text-decoration: none; background-image: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/scandic_sprites.png); background-repeat:no-repeat; background-color:#ECE7E2; background-position: 102px -1064px;"> <span style="display: block; padding: 5px 0;"> {SecondBreadcrumb /}</span> </a></li>
        <li style="float: left;margin: 0; text-align: center;width: 140px;"> <a style="display: block; color: #666666; cursor%3a auto; font-weight: 700; line-height: 1.5em; text-decoration: none; background-image: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/scandic_sprites.png); background-repeat:no-repeat; background-color:#ECE7E2; background-position: 102px -1064px;"> <span style="display: block; padding: 5px 0;"> {ThirdBreadcrumb /}</span> </a></li>
        <li style="float: left;margin: 0; text-align: center;width: 140px;"> <a style="display: block; color: #ffffff; cursor%3a auto; font-weight: 700; line-height: 1.5em; text-decoration: none; background: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/scandic_sprites.png) no-repeat scroll right -1026px #903A7D;"> <span style="background: url(https://www.scandichotels.com//Templates/Booking/Styles/Default/Images/scandic_sprites.png) no-repeat scroll 0 -1137px transparent; padding: 5px; display:block;"> {FourBreadcrumb /}</span> </a></li>
        <li style="float: left;margin: 0; text-align: center;width: 140px;"> <a style="display: block; color: #666666; cursor%3a auto; font-weight: 700; line-height: 1.5em; text-decoration: none; background-image: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/scandic_sprites.png); background-repeat:no-repeat; background-color:#ECE7E2; background-position: 102px -1064px;"> <span style="display: block; padding: 5px 0;"> {FiveBreadcrumb /}</span> </a></li>
      </ul>
    </div>
    <div style="width:986px;">
        <div style="float: left; margin-left: 20px; margin-top: 25px; margin-bottom:75px; width: 700px; border:1px solid #F0F0F0"> 
            <div style="padding-left:15px;">
                <div style="padding:10px 0 10px 0"><!--<h2>Pay with credit card</h2>-->
                 <img src="{PaymentHeaderImageUrl /}" alt="Pay with credit card">
                </div>
                <div>{PaymentDeclaration /}</div><br>
                <div style="font-weight:bold; padding-bottom:5px">Merchant:<span style="font-weight:normal;display: block;float: right;font-weight: normal;margin-left: 0;text-align: left;width: 540px;">{MerchantName /} </span></div>
                <div style="font-weight:bold; padding-bottom:5px">Amount:  <span style="font-weight:normal;display: block;float: right;font-weight: normal;margin-left: 0;text-align: left; width: 540px;">{Amount /} ({CurrencyCode /})</span></div>
                <div style="font-weight:bold; padding-bottom:5px">Order number:  <span style="font-weight:normal;display: block;float: right;font-weight: normal;margin-left: 0;text-align: left; width: 540px;">{OrderNumber /}</span></div>
                <div style="font-weight:bold; padding-bottom:5px">Order description: <span style="font-weight:normal;display: block;float: right;font-weight: normal;margin-left: 0;text-align: left; width: 540px;">{OrderDescription /}</span></div>
              <div style="font-weight:bold;">We Accept: <table style="margin-left:140px; margin-top:-13px"><tr><td style="vertical-align:top"><img src="https://epayment-test.bbs.no/admin/Images/Terminal/c14de12d-fce1-4f57-8cc2-eb95150c750b.gif" alt="Visa"></td><td style="padding-left:290px;"><img src="https://epayment-test.bbs.no/admin/Images/Terminal/5b34e133-cec6-4cec-aa8f-0b3e9e5beb54.gif" alt="Varisign" width="80" height="44"></td></tr></table></div><br>
                <div style="padding-right:15px;"><hr></div>
                <div>{netaxept:terminal /} </div><br><br>
                <div style="color:Red; font-weight:bold;">{netaxept:errorMessage /}</div><br>
            </div>
        </div>
      <div style="float: left; width: 226px; margin-left: 35px;  margin-top: -28px;  %5emargin-top: -8px;">
        <div style="z-index: 0; background: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/reservation2.0/regularRdCnt.png) repeat-y scroll left top transparent;">
          <div>
            <div style="background: none repeat scroll 0 0 #7C4277; ">
              <h2 style="color: #FFFFFF; font-family: PopulaireforScandicRegular,Helvetica neue,Helvetica,Arial,sans-serif; font-size: 15px; font-weight: bold; text-transform: uppercase; padding: 10px; margin: 0px;"> <span>{RightHeaderHeading /}</span> </h2>
            </div>
          </div>
          <div style="margin-bottom:10px;">
            <p style="padding-left:12px;"> <a style="color: #218DA3; font-weight: 700;">{HotelName /}</a> <br>
              <span>{StartDayandDate /}</span> - <span>{EndDayandDate /}</span></p>
            <p align="center"><img src="{HotelImage /}" style="height: 131px; width: 200px; border-width: 0px; display: block"></p>
          </div>
          <div style="border-top:1px solid #cccccc;">
          <!-- 1st room -->
            <div style="padding: 1px 0px 5px 2px; margin: 10px;">
              <div style="background: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/reservation2.0/roundedCornerSprite.png) no-repeat scroll left top transparent;background-position: 0 -1165px; height: 3px;"></div>
              <div style="background: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/reservation2.0/roundedCornerThinBrdSmallBox.png) repeat-y scroll left top transparent; padding: 4px 0px 10px 10px; margin-top: 0px; width: 196px;">
                <p style="margin:0; padding:2px 0 5px 0"> 
                  <!-- Merchandising - Link to select rate --> 
                  <strong> {RoomName1 /} </strong> </p>
                <div style="background: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/reservation2.0/hr_module10.jpg) repeat-x scroll left top transparent; height: 1px; width: 181px;"></div>
                <p><span>{NoofAdults1 /}</span>
                <span style="padding:0 0 0 45px">{Children1 /}</span></p>
                <div style="display:block;">
                  <div>
                    <div style="float:left;">{RateCategory1 /} &nbsp;</div>
                    <div style="float:right; padding-right:15px;font-weight:bold">{Rate1 /} {CurrencyCode /}&nbsp;</div>
                    <div style="clear:both;"></div>
                  </div>
                </div>
              </div>
              <div style="background: url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/reservation2.0/roundedCornerSprite.png) no-repeat scroll left top transparent;background-position: 0 -1178px; height: 12px;"></div>
            </div>
            <!-- 1st room ends-->
            <div style="display: block;">
              <div style="clear: both;padding: 15px 0 4px 5px;width: 200px;">
                <h5 style=" color: #000000;font-size: 12px;font-weight: bold;margin: 0 0 8px 8px;padding: 0;"> {BookingTotalCaption /}</h5>
                <div>
                  <div style="text-align: right;"> <span style="color: #1B1818;font-size: 25px;font-weight: normal;line-height: 1.1em;">{BookingTotal /}</span> <span>{CurrencyCode /}</span>
                    <div> <span>{TaxandFeesCaption /}</span></div>
                  </div>
                  <div> 
                    <!-- Clearing Float --> 
                  </div>
                </div>
                <div> 
                  <!-- Clearing Float --> 
                </div>
              </div>
              <!-- END Cart Total --> 
            </div>
            <br>
          </div>
          <div> </div>
        </div>
        <div style="background:url(https://www.scandichotels.com/Templates/Booking/Styles/Default/Images/reservation2.0/roundedCornerSprite.png) no-repeat scroll left top transparent; background-position: 0 -979px; height: 10px;"> </div>
        <div> </div>
      </div>
    </div>
  </div>
</div>