
#StartPage #LeftContentArea #ListingArea #Leftlist
{
    float: left !important;
    width: 200px !important;
}
#StartPage #LeftContentArea #ListingArea #Rightlist
{
    float: left !important;
    width: 200px !important;
}
.spl_LinkListItem a
{
	padding-left:12px !important;
}

#SubMenuNavigationTab ul li.Tab span
{
	width:expression(this.innerHTML.length <= 6 ? "35px":"auto") !important;
}
#SubMenuNavigationTab ul li.ActiveTab span
{
	width:expression(this.innerHTML.length <= 6 ? "35px":"auto") !important;
}

#SubMenuNavigationTab ul li.Tab a, #SubMenuNavigationTab ul li.ActiveTab a
{
	margin:0 1px;
}
#StartPage #RightContentArea #FlashArea #PromotionImage .Body 
{
margin-left:5px!important;
}

#StartPage #RightContentArea{
	height:490px;
}

.startPageInfoBoxContent
{
	 margin-top:-15px;

}

.BoxSeparator
{
	height:1px;
	overflow:hidden;
}

.PriceListOfferContentBottom
{
 position:relative !important;
 top:-2px !important;
 left:4px !important;
}

.MeetingRoomLeft .MeetingRoomTitle
{
	margin-top:-3px;	
}
.MeetingRoomLeft .MeetingRoomSqm
{
	margin-top:-2px;
}
#MeetingSearch226 #FindHotelVenue .FindHotelVenueBottom
{
background: url(/Templates/Scanweb/Styles/Default/Images/bookingmodule_bottom_226.gif)  no-repeat left top! important;
	
}
#MeetingSearch349 #FindHotelVenue .FindHotelVenueBottom
{
	background: url(/Templates/Scanweb/Styles/Default/Images/bookingmodule_bottom_349.gif)  no-repeat left top! important;	 
}

#HotelLocationTransport .borderContainer472 .bottom
{
	  background-position: top! important;
}
#HotelLocationDetailedMapRight .FindYourWay .Drive .bottom 
{
	
	background: url(/Templates/Scanweb/Styles/Default/Images/bottom472.gif) no-repeat left center !important;
}
#HotelLocationDetailedMapRight .FindYourWay .Drive .Top
{
	background: url(/Templates/Scanweb/Styles/Default/Images/top472.gif) no-repeat left center !important;
}

/* Fix to IE6 problem with relative positioned DIVs inside other relative positioned DIVs */
.RightColumnShiftUp 
{
	position:static !important;
}

.RightColumnShiftUp .BoxContainer, .RightColumn .BoxContainer, #SecondaryBodyArea .BoxContainer
{
	display:inline;	
}
#GuestProgramRedemption .RedemptionCategoryListing .RedemptionRowColHotel
{
	width: 31% !important;
}
#GuestProgramRedemption .RedemptionCategoryListing .RedemptionRowColPeriods
{
	width: 35% !important;
}
#GuestProgramRedemption .RedemptionRow, #GuestProgramRedemption .AltRedemptionRow
{
	float:left !important;
	width: 470px;
	display: block;	
}
#GuestProgramRedemption .PeriodsRow, #GuestProgramRedemption .AltPeriodsRow
{
	float:left !important;
	width: 470px;
	display: block;	
}

#GuestProgramRedemption #TopRedemptionRow
{
	 padding-bottom:20px! important;	  
}

#AlbumImageListContainer
{
	width:728px;
	overflow:hidden;
}

#StageAreaHotel #MainBodyArea #MainBodyLeftArea
{
    margin-right: 0px;
    display: inline;
}
#StageAreaHotel #MainBodyArea #MainBodyRightArea
{
    margin-left: 0px;
}

#offersArea div div.bottomLinks a, #pboxOfferBig div.pboxTextBig div.bottomLinks a, #smallOfferArea div div.bottomLinks a,  .BoxContainer  div.bottomLinks a{
	float:none;
}

#pboxOfferBig div.pboxStoolImgBig{
	margin:20px 0 20px 10px;
}
.BoxMedium
{
	margin-left:4px;
}

#SecondaryBodyArea .RightColumnShiftUp .BoxMedium{
	margin-left:5px;
}

#FooterArea, #SP_FooterArea{
	margin-left:10px;
}


#StageArea #MainBodyArea{
	margin-right:12px;
	margin-left:15px;
}

.SelectHotelGoogleMapContent
{
	margin-left:2px;
}

.hotelInformation div{
	float:none;
	width:214px;
	display:block;
}

#SiteMap .SiteMapColumn .IconLink
{
	background-position:-43px -3px!important;
}

.BoxContainer div.smallPromoBoxLight{
	/*margin-left:4px;
		width:223px;*/
}

#newletterDiv {

}
#LeftMenuDiv ul li ul li ul{margin-left:10px;}


#GuestProgramRedemption .AltRedemptionRow, #GuestProgramRedemption .AltPeriodsRow
{
	margin:0 0px 0 3px;
	width:459px;
	
}

#BreadcrumbsArea .pointsInfo{
	margin-right: 5px;
}

.OfferCategoryListingLeftColumn .RoundedCornersImage226{
	height:100%;
	overflow:hidden;
}

#OverviewPageTopArea
{
	display:block;
	float:left;
}

#BookingDetails .buttonContainer {
	margin:0;
}

.PriceListOfferContentBottom{margin-left:-4px;}

div.RightColumn div.BoxContainer div.InfoBox, div.RightColumnShiftUp div.BoxContainer div.InfoBox{
	float:none;
}

#StageAreaWideFull #MainBodyArea #OverviewPageTopArea #OverviewPageMainRightArea{
	margin-left:3px;
}

#HotelLocationDetailedMapRight .FindYourWay .address
{
	margin-bottom:5px;
}

#HotelLocationDetailedMapRight .FindYourWay .DirectionsButton
{
	padding-bottom:2px;
}

#MeetingSearch349 #FindHotelVenue .FindHotelVenueTopEN, #MeetingSearch349 #FindHotelVenue .FindHotelVenueTopSV, #MeetingSearch349 #FindHotelVenue .FindHotelVenueTopNO,#MeetingSearch349 #FindHotelVenue .FindHotelVenueTopFI, #MeetingSearch349 #FindHotelVenue .FindHotelVenueTopDA
{
	background-position:5px 0;
}

#OverviewMapArea
{
	float:left;
}

input.submitBT, .OfferListTable input.HotelBookingButton, input.sendRfpsBt {
padding:0 0 2px 0;
}
