﻿<%@ Page Language="C#" AutoEventWireup="false" CodeBehind="LoginProcessing.aspx.cs" Inherits="Scandic.Scanweb.Mobile.Templates.LoginProcessing" ResponseEncoding="utf-8"  %>
<%@ OutputCache Location="None" %>
<%@ PreviousPageType TypeName="Scandic.Scanweb.Mobile.UI.Common.BasePage"  %>
