<%@ Page language="c#" Inherits="Scandic.Scanweb.BookingEngine.Web.TestAccountInformation" Codebehind="TestAccountInformation.aspx.cs" %>

<!-- <%@ Register Src="Templates/Booking/Units/AccountInformation.ascx" TagName="AccountInformation"
    TagPrefix="uc1" %> -->
<%@ Register Src="Templates/Booking/Units/AccountOverview.ascx" TagName="AccountOverview"
    TagPrefix="uc2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="head1" runat="server">
    <title>TestAccountInformation</title>
</head>
<body>
    <form runat="server" id="form1">
    <div>
        <uc2:AccountOverview ID="AccountOverview1" runat="server" />
        &nbsp;</div>
    </form>
</body>
</html>