div.BE .btnSubmit a {		
	padding: 0px 0px 0px 15px !important;
	cursor: pointer;	
}
div.BE .btnSubmit a span {
	padding: 2px 20px 5px 3px !important; 
}

div.BE .frmCheckBox input, 
div.BE input.frmCheckBox, 
div.BE .frmRadio input, 
div.BE input.frmRadio {
	margin-left: -3px !important;	
}

div.BE .frmCheckBox label, 
div.BE label.frmCheckBox, 
div.BE .frmRadio input, 
div.BE label.frmRadio  {
	margin-left: 3px !important;
	margin-top: 3px !important;
}
#Loyalty #GauranteeInfo input {
	margin-right: -3px !important;		
}
#Loyalty .formGroupOne, #Loyalty .formGroupTwo {
	margin-bottom: 8px !important;	
}

#autosuggest li a,
#autosuggestFAH li a {	
	height: 1% !important;
}
#CrisisContainer .CrisisMessage .top{
	margin-bottom: -3px;
}
#CrisisContainer .CrisisMessage .bottom{
	margin-top: -3px;
}
#bookingDetailsLogin div.loginInfoCollapsed .loginInfo-bottom {	
	height: 20px !important;
	margin-top: -8px !important;
}

#commonControls #Tab1, #commonControls #Tab2, #commonControls #Tab3, #Tab4, #commonControls #Tab5 {
	float:left;
}

#Login .login_box {
	background:url(/Templates/Scanweb/Styles/Default/Images/loginBoxBG.gif) no-repeat left bottom;
}

#Login_Box .loginInfo{
	background:#000;
	float:left;
	width:251px;
	margin:0 0 0 2px;
}

div[id$='MeetingSearch226'] #FindHotelVenue {
float:left;
}
div.rememberCheck input{
	margin:0;
	padding:0;
}




